Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000

feat(i18n): add common and language strings to French locale
  locales/fr.yml
  specs/french-translation/.progress.md
  specs/french-translation/tasks.md
Labels: i18n, documentation

feat(i18n): add moderation module strings to French locale
  locales/fr.yml
  specs/french-translation/.progress.md
  specs/french-translation/tasks.md
Labels: i18n, documentation

feat(i18n): add core module strings to French locale
  locales/fr.yml
  specs/french-translation/.progress.md
  specs/french-translation/tasks.md
Labels: i18n, documentation

feat(i18n): add utility strings to French locale
  locales/fr.yml
  specs/french-translation/.progress.md
  specs/french-translation/tasks.md
Labels: i18n, documentation

feat(i18n): add extended documentation to French locale
  locales/fr.yml
  specs/french-translation/.progress.md
  specs/french-translation/tasks.md
Labels: i18n, documentation

feat(i18n): complete French locale translation
  locales/fr.yml
  specs/french-translation/.progress.md
  specs/french-translation/tasks.md
Labels: i18n, documentation

fix(i18n): correct escape sequence quoting in French locale
  specs/french-translation/.progress.md
  specs/french-translation/tasks.md
Labels: documentation

fix(i18n): align French locale printf formatters
  specs/french-translation/.progress.md
  specs/french-translation/.ralph-state.json
  specs/french-translation/tasks.md
Labels: documentation

test(i18n): validate French locale YAML structure
  specs/french-translation/.progress.md
  specs/french-translation/tasks.md
Labels: documentation

test(i18n): verify French locale key coverage
  specs/french-translation/.progress.md
  specs/french-translation/tasks.md
Labels: documentation

chore(spec): complete French translation spec
  specs/french-translation/.progress.md
  specs/french-translation/tasks.md
Labels: documentation

chore(spec): mark french-translation spec complete
  specs/french-translation/.ralph-state.json
Labels: none

fix(i18n): add proper French diacritical marks to fr.yml
  locales/fr.yml
Labels: i18n

all done
  specs/french-translation/.ralph-state.json
Labels: none

feat(i18n): add French language support (#613)
  locales/fr.yml
  specs/french-translation/.progress.md
  specs/french-translation/design.md
  specs/french-translation/requirements.md
  specs/french-translation/research.md
  specs/french-translation/tasks.md
Labels: i18n, documentation

fix(db): drop invalid foreign key constraint on channels table
  migrations/20260117104821_fix_invalid_channels_fk_constraint.sql
Labels: none

fix(db): drop fk_channels_chat constraint on channels table
  migrations/20260117120000_drop_channels_chat_fk.sql
Labels: none

fix(captcha): fix critical bugs in captcha module
  alita/modules/captcha.go
Labels: go, modules

fix(admin): fix critical bugs in admin module
  alita/modules/admin.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
Labels: go, modules, i18n, admin

fix: resolve code quality issues and documentation inaccuracies
  CLAUDE.md
  alita/db/devs_db.go
  alita/modules/captcha.go
  alita/modules/devs.go
  alita/modules/help.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
Labels: go, database, modules, i18n, documentation

refactor: remove Sentry error tracking integration
  alita/config/config.go
  alita/utils/error_handling/error_handling.go
  alita/utils/helpers/telegram_helpers.go
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/architecture/index.md
  docs/src/content/docs/architecture/project-structure.md
  docs/src/content/docs/architecture/request-flow.md
  docs/src/content/docs/self-hosting/monitoring.md
  docs/src/content/docs/self-hosting/source.md
  go.mod
  go.sum
  main.go
  sample.env
Labels: go, utils, config, dependencies, documentation

chore: update deps
  docs/bun.lock
  docs/package.json
Labels: documentation

antiflood: skip restrict when bot lacks perms
  alita/modules/antiflood.go
Labels: go, modules, antiflood

chore: update deps
  docs/bun.lock
  docs/package.json
Labels: documentation

tailwind upgrade
  docs/bun.lock
  docs/package.json
Labels: documentation

fix: eliminate 17 P0 crash vectors across 25 files
  alita/i18n/i18n.go
  alita/i18n/manager.go
  alita/i18n/translator.go
  alita/modules/admin.go
  alita/modules/bans.go
  alita/modules/blacklists.go
  alita/modules/bot_updates.go
  alita/modules/captcha.go
  alita/modules/connections.go
  alita/modules/devs.go
  alita/modules/filters.go
  alita/modules/formatting.go
  alita/modules/greetings.go
  alita/modules/help.go
  alita/modules/language.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/reports.go
  alita/modules/rules.go
  alita/modules/warns.go
  alita/utils/chat_status/chat_status.go
  alita/utils/monitoring/activity_monitor.go
  alita/utils/monitoring/auto_remediation.go
  alita/utils/monitoring/background_stats.go
Labels: go, modules, utils, i18n, security, admin, filters, greetings, warns

ci: bump golangci-lint to v2.9.0 for go1.26 compatibility
  .github/workflows/ci.yml
Labels: ci

chore: upgrade deps
  go.mod
  go.sum
Labels: go, dependencies

chore: remove deprecated MongoDB migration tool and upgrade deps
  .gitignore
  go.mod
  go.sum
  scripts/migrate/.env.example
  scripts/migrate/README.md
  scripts/migrate/main.go
  scripts/migrate/migrations.go
  scripts/migrate/models.go
Labels: go, dependencies, documentation, migration

docs: rewrite CLAUDE.md for accuracy and conciseness
  CLAUDE.md
Labels: documentation

chore: upgrade deps
  go.mod
  go.sum
Labels: go, dependencies

fix: resolve UpdateLock silent failure and captcha cache inconsistency
  alita/db/cache_helpers.go
  alita/db/captcha_db.go
  alita/db/captcha_db_test.go
  alita/db/locks_db.go
  alita/db/locks_db_test.go
Labels: go, database, test

fix: resolve antiflood zero-value bugs and UpdateRecord silent no-op
  alita/db/antiflood_db.go
  alita/db/antiflood_db_test.go
  alita/db/db.go
  alita/db/update_record_test.go
Labels: go, database, test, antiflood

fix(ci): grant contents:write for dependabot auto-merge
  .github/workflows/dependabot-native-merge.yml
Labels: ci

feat(lint): add naming convention enforcement via golangci-lint
  .github/workflows/ci.yml
  .golangci.yaml
  CLAUDE.md
  Makefile
Labels: config, ci, documentation, build

feat(lint): add naming convention enforcement via golangci-lint
  .github/workflows/ci.yml
  .golangci.yaml
  CLAUDE.md
  Makefile
Labels: config, ci, documentation, build

feat: add PR template for consistent pull requests
  .github/pull_request_template.md
Labels: documentation

feat: add devcontainer configuration for AI agent development
  .devcontainer/devcontainer.json
Labels: none

feat: add devcontainer configuration for AI agent development
  .devcontainer/devcontainer.json
Labels: none

fix(devcontainer): fix workspace mount variable, use dev compose, drop go mod tidy
  .devcontainer/devcontainer.json
Labels: none
