Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

perf(db): replace COUNT(*) with pg_class estimate, drop 15 unused indexes
  alita/config/config.go
  alita/db/db.go
  alita/db/user/repository.go
  alita/utils/monitoring/activity_monitor.go
  main.go
  migrations/20260829120000_drop_unused_and_bloated_indexes.sql
Labels: go, database, utils, config

perf(db): gate captcha lookup, skip redundant chat-user append, use reltuple estimates, fast-path migrations
  alita/db/chats/repository.go
  alita/db/migrations/runner.go
  alita/modules/antiraid_test.go
  alita/utils/monitoring/activity_monitor.go
Labels: go, database, modules, utils, test

chore(release): bump BotVersion to 2.22.3 to match tag v2.22.3
  alita/config/config.go
  main.go
Labels: go, config

fix(db): restore idx_approved_users_chat_id via migration
  alita/config/config.go
  alita/db/migrations/runner.go
  main.go
  migrations/20260831230000_restore_approved_users_chat_id_index.sql
Labels: go, database, config

perf(db): throttle chats activity writes, keep chat_users cache warm
  alita/config/config.go
  alita/db/chats/repository.go
  alita/db/chats/repository_test.go
  main.go
Labels: go, database, config, test

fix(devs): include federation counts in /stats
  AGENTS.md
  alita/db/devs/repository.go
  alita/db/devs/repository_test.go
  alita/db/devs/testmain_test.go
  alita/db/federations/repository.go
  alita/db/federations/repository_test.go
Labels: go, database, documentation, test

fix(devs): include federation counts in /stats (#827)
  AGENTS.md
  alita/db/devs/repository.go
  alita/db/devs/repository_test.go
  alita/db/devs/testmain_test.go
  alita/db/federations/repository.go
  alita/db/federations/repository_test.go
Labels: go, database, documentation, test

chore: trim AGENTS.md
  AGENTS.md
Labels: documentation

refactor: whole-repo bloat audit safe subset for #828
  alita/db/backup/backup.go
  alita/db/backup/types.go
  alita/db/cache/ttl.go
  alita/db/db.go
  alita/db/devs/repository.go
  alita/db/devs/repository_test.go
  alita/modules/antiraid.go
  alita/modules/approvals.go
  alita/modules/backup.go
  alita/modules/bans.go
  alita/modules/blacklists.go
  alita/modules/bot_updates.go
  alita/modules/callback_codec.go
  alita/modules/connections.go
  alita/modules/filters.go
  alita/modules/formatting.go
  alita/modules/greetings.go
  alita/modules/help.go
  alita/modules/help_system.go
  alita/modules/language.go
  alita/modules/moderation.go
  alita/modules/mute.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/reactions.go
  alita/modules/registry.go
  alita/modules/reports.go
  alita/modules/warns.go
  alita/utils/content/content.go
  alita/utils/extraction/extraction.go
  alita/utils/formatting/formatting.go
  alita/utils/keyword_matcher/cache.go
  alita/utils/keyword_matcher/cache_named_test.go
  alita/utils/keyword_matcher/matcher.go
  alita/utils/logredact/logredact.go
  alita/utils/media/sender.go
Labels: go, database, modules, utils, test, filters, greetings, warns

refactor: whole-repo bloat audit safe subset for #828 (#829)
  alita/db/backup/backup.go
  alita/db/backup/types.go
  alita/db/cache/ttl.go
  alita/db/db.go
  alita/db/devs/repository.go
  alita/db/devs/repository_test.go
  alita/modules/antiraid.go
  alita/modules/approvals.go
  alita/modules/backup.go
  alita/modules/bans.go
  alita/modules/blacklists.go
  alita/modules/bot_updates.go
  alita/modules/callback_codec.go
  alita/modules/connections.go
  alita/modules/filters.go
  alita/modules/formatting.go
  alita/modules/greetings.go
  alita/modules/help.go
  alita/modules/help_system.go
  alita/modules/language.go
  alita/modules/moderation.go
  alita/modules/mute.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/reactions.go
  alita/modules/registry.go
  alita/modules/reports.go
  alita/modules/warns.go
  alita/utils/content/content.go
  alita/utils/extraction/extraction.go
  alita/utils/formatting/formatting.go
  alita/utils/keyword_matcher/cache.go
  alita/utils/keyword_matcher/cache_named_test.go
  alita/utils/keyword_matcher/matcher.go
  alita/utils/logredact/logredact.go
  alita/utils/media/sender.go
Labels: go, database, modules, utils, test, filters, greetings, warns

deps(go): bump minor-and-patch group, drop unused go-humanize
  go.mod
  go.sum
Labels: go, dependencies

chore(release): bump BotVersion to 2.22.6 to match tag v2.22.6
  alita/config/config.go
  main.go
Labels: go, config

chore: strip restatement comments in captcha/greetings/abuse modules
  alita/modules/antiflood.go
  alita/modules/antiflood_command_test.go
  alita/modules/antiraid.go
  alita/modules/antiraid_test.go
  alita/modules/antispam.go
  alita/modules/blacklists.go
  alita/modules/blacklists_command_test.go
  alita/modules/captcha.go
  alita/modules/captcha_math_image_test.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/modules/greetings_dedupe_test.go
  alita/modules/locks.go
  alita/modules/locks_test.go
Labels: go, modules, test, filters, greetings, antiflood

chore: strip restatement comments in content/misc modules
  alita/modules/approvals.go
  alita/modules/approvals_command_test.go
  alita/modules/approvals_test.go
  alita/modules/backup.go
  alita/modules/backup_test.go
  alita/modules/callback_codec.go
  alita/modules/callback_codec_test.go
  alita/modules/core.go
  alita/modules/deeplink_router.go
  alita/modules/disabling.go
  alita/modules/federations.go
  alita/modules/federations_io.go
  alita/modules/formatting.go
  alita/modules/help.go
  alita/modules/help_system.go
  alita/modules/helpers_test.go
  alita/modules/language.go
  alita/modules/logchannels.go
  alita/modules/notes.go
  alita/modules/reactions.go
  alita/modules/rules.go
  alita/modules/rules_format.go
  alita/modules/rules_format_test.go
Labels: go, modules, test

chore: strip restatement comments in moderation modules
  alita/modules/admin.go
  alita/modules/admin_test.go
  alita/modules/bans.go
  alita/modules/chat_permissions_test.go
  alita/modules/connections.go
  alita/modules/connections_auth.go
  alita/modules/devs.go
  alita/modules/misc.go
  alita/modules/mute.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/reports.go
  alita/modules/users.go
  alita/modules/warns.go
Labels: go, modules, test, admin, warns

chore: strip restatement comments in config/i18n/core
  alita/config/config.go
  alita/config/config_pure_test.go
  alita/config/config_test.go
  alita/config/types.go
  alita/i18n/i18n_test.go
  alita/i18n/loader.go
  alita/i18n/manager.go
  alita/i18n/test_helper.go
  alita/i18n/translator.go
  alita/i18n/types.go
  alita/main.go
  internal/repo_checks/repo_checks_test.go
  main.go
Labels: go, i18n, config, test

chore: strip restatement comments in moderation modules (#832)
  alita/modules/admin.go
  alita/modules/admin_test.go
  alita/modules/bans.go
  alita/modules/chat_permissions_test.go
  alita/modules/connections.go
  alita/modules/connections_auth.go
  alita/modules/devs.go
  alita/modules/misc.go
  alita/modules/mute.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/reports.go
  alita/modules/users.go
  alita/modules/warns.go
Labels: go, modules, test, admin, warns

chore: strip restatement comments in captcha/greetings/abuse modules (#833)
  alita/modules/antiflood.go
  alita/modules/antiflood_command_test.go
  alita/modules/antiraid.go
  alita/modules/antiraid_test.go
  alita/modules/antispam.go
  alita/modules/blacklists.go
  alita/modules/blacklists_command_test.go
  alita/modules/captcha.go
  alita/modules/captcha_math_image_test.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/modules/greetings_dedupe_test.go
  alita/modules/locks.go
  alita/modules/locks_test.go
Labels: go, modules, test, filters, greetings, antiflood

chore: strip restatement comments in content/misc modules (#834)
  alita/modules/approvals.go
  alita/modules/approvals_command_test.go
  alita/modules/approvals_test.go
  alita/modules/backup.go
  alita/modules/backup_test.go
  alita/modules/callback_codec.go
  alita/modules/callback_codec_test.go
  alita/modules/core.go
  alita/modules/deeplink_router.go
  alita/modules/disabling.go
  alita/modules/federations.go
  alita/modules/federations_io.go
  alita/modules/formatting.go
  alita/modules/help.go
  alita/modules/help_system.go
  alita/modules/helpers_test.go
  alita/modules/language.go
  alita/modules/logchannels.go
  alita/modules/notes.go
  alita/modules/reactions.go
  alita/modules/rules.go
  alita/modules/rules_format.go
  alita/modules/rules_format_test.go
Labels: go, modules, test

chore: strip restatement comments in config/i18n/core (#836)
  alita/config/config.go
  alita/config/config_pure_test.go
  alita/config/config_test.go
  alita/config/types.go
  alita/i18n/i18n_test.go
  alita/i18n/loader.go
  alita/i18n/manager.go
  alita/i18n/test_helper.go
  alita/i18n/translator.go
  alita/i18n/types.go
  alita/main.go
  internal/repo_checks/repo_checks_test.go
  main.go
Labels: go, i18n, config, test

db: bigint captcha ids, FK-backing indexes, drop redundant indexes
  alita/db/migrations/runner.go
  alita/db/models/captcha.go
  alita/db/models/connections.go
  alita/db/models/federations.go
  alita/db/models/warns.go
  migrations/20260904000000_pgbot_fixes_bigint_fk_indexes.sql
Labels: go, database, warns

chore(release): set BotVersion to v2.22.7
  alita/config/config.go
  main.go
Labels: go, config

feat(modules): deepen membership intake + command pipeline (838)
  alita/modules/bans.go
  alita/modules/captcha.go
  alita/modules/greetings.go
  alita/modules/membership.go
  alita/modules/membership_test.go
  alita/modules/moderation.go
  alita/modules/moderation_pipeline_test.go
  alita/modules/mute.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/warns.go
  alita/utils/helpers/command_pipeline.go
  alita/utils/helpers/command_pipeline_test.go
Labels: go, modules, utils, test, greetings, warns

docs: record Membership intake glossary term (838)
  CONTEXT.md
Labels: documentation

Deepen membership intake + command pipeline (838) (#843)
  CONTEXT.md
  alita/modules/bans.go
  alita/modules/captcha.go
  alita/modules/greetings.go
  alita/modules/membership.go
  alita/modules/membership_test.go
  alita/modules/moderation.go
  alita/modules/moderation_pipeline_test.go
  alita/modules/mute.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/warns.go
  alita/utils/helpers/command_pipeline.go
  alita/utils/helpers/command_pipeline_test.go
Labels: go, modules, utils, documentation, test, greetings, warns

test: check setter errors in merged rules CRUD table
  alita/db/rules/repository_test.go
Labels: go, database, test

fix: address migration, restore, and command-state audit findings
  alita/db/backup/backup.go
  alita/db/backup/notes_cache_test.go
  alita/db/disabling/repository.go
  alita/db/disabling/repository_cache_test.go
  alita/db/disabling/repository_test.go
  alita/db/migrations/runner.go
  alita/db/migrations/runner_test.go
  alita/modules/antiflood.go
Labels: go, database, modules, test, antiflood

feat(aispam): per-chat AI spam filter backed by TypeSafe Jev
  AGENTS.md
  alita/config/config.go
  alita/db/aispam/repository.go
  alita/db/aispam/repository_test.go
  alita/db/aispam/testmain_test.go
  alita/db/cache/ttl.go
  alita/db/models/aispam.go
  alita/db/testmain_test.go
  alita/modules/aispam.go
  alita/modules/aispam_jev.go
  alita/modules/aispam_jev_test.go
  alita/modules/aispam_test.go
  alita/modules/test_harness_test.go
  docs/blume.config.ts
  docs/src/content/docs/api-reference/commands.md
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/architecture/handler-groups.md
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/architecture/request-flow.mdx
  docs/src/content/docs/commands/aispam/index.md
  docs/src/content/docs/commands/index.mdx
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
  main.go
  migrations/20260919120000_add_ai_spam_settings.sql
  sample.env
Labels: go, database, modules, i18n, config, documentation, test

test(aispam): pin the module's place in the help menu
  alita/modules/aispam_test.go
Labels: go, modules, test

feat(aispam): per-chat AI spam filter backed by TypeSafe Jev (#852)
  AGENTS.md
  alita/config/config.go
  alita/db/aispam/repository.go
  alita/db/aispam/repository_test.go
  alita/db/aispam/testmain_test.go
  alita/db/cache/ttl.go
  alita/db/models/aispam.go
  alita/db/testmain_test.go
  alita/modules/aispam.go
  alita/modules/aispam_jev.go
  alita/modules/aispam_jev_test.go
  alita/modules/aispam_test.go
  alita/modules/test_harness_test.go
  docs/blume.config.ts
  docs/src/content/docs/api-reference/commands.md
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/architecture/handler-groups.md
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/architecture/request-flow.mdx
  docs/src/content/docs/commands/aispam/index.md
  docs/src/content/docs/commands/index.mdx
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
  main.go
  migrations/20260919120000_add_ai_spam_settings.sql
  sample.env
Labels: go, database, modules, i18n, config, documentation, test

refactor(antispam): remove no-op module and its references
  AGENTS.md
  alita/modules/antispam.go
  alita/modules/antispam_test.go
  docs/src/content/docs/api-reference/commands.md
  docs/src/content/docs/api-reference/permissions.md
  docs/src/content/docs/architecture/handler-groups.md
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/architecture/request-flow.mdx
  docs/src/content/docs/commands/antispam/index.md
  docs/src/content/docs/commands/approvals/index.md
  docs/src/content/docs/commands/index.mdx
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, modules, i18n, documentation, test

chore(release): set BotVersion to v2.23.1
  alita/config/config.go
  main.go
Labels: go, config

fix(aispam): judge the message's language, share the sender window
  AGENTS.md
  alita/modules/aispam.go
  alita/modules/aispam_jev.go
  alita/modules/aispam_jev_test.go
  alita/modules/aispam_test.go
  docs/src/content/docs/commands/aispam/index.md
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, modules, i18n, documentation, test

chore(release): set BotVersion to v2.23.2
  alita/config/config.go
  main.go
Labels: go, config

chore: upgrade deps
  go.mod
  go.sum
Labels: go, dependencies

chore: remove CLAUDE.md and GEMINI.md
  CLAUDE.md
  GEMINI.md
Labels: documentation

ci: use a real Go build cache, run gosec on the runner
  .github/workflows/ci.yml
  AGENTS.md
Labels: ci, documentation

ci: give the test job its own Go cache family
  .github/workflows/ci.yml
  AGENTS.md
Labels: ci, documentation

test(chats): assert idempotent membership in TestUpdateChat
  alita/db/chats/repository_test.go
Labels: go, database, test

perf(i18n): resolve translations through a prebuilt flat index
  alita/i18n/loader.go
  alita/i18n/manager.go
  alita/i18n/translator.go
  alita/i18n/types.go
Labels: go, i18n

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
