Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000

refactor: remove unused InlineKeyboardToDbButtons from production code
  alita/utils/content/content.go
  alita/utils/content/content_test.go
Labels: go, utils, test

refactor: convert dkick to use moderationCommand pipeline
  alita/modules/bans.go
Labels: go, modules

refactor(moderation): convert tBan to moderationCommand pipeline
  alita/modules/bans.go
  alita/modules/moderation.go
Labels: go, modules

refactor(moderation): convert ban command to moderationCommand pipeline
  alita/modules/bans.go
  alita/modules/moderation.go
Labels: go, modules

refactor(moderation): convert mute commands to moderationCommand pipeline
  alita/modules/mute.go
Labels: go, modules

refactor(moderation): convert sban, dban, unban, kickme to moderationCommand pipeline
  alita/modules/bans.go
Labels: go, modules

refactor(modules): deduplicate mod gates, fix SameLine logic, and clean string building
  alita/modules/bans.go
  alita/modules/misc.go
  alita/modules/mute.go
  alita/utils/content/content_test.go
  scripts/generate_docs/generators.go
Labels: go, modules, utils, test

refactor: moderation command pipeline cleanup (#757)
  alita/db/cache_helpers.go
  alita/db/cache_helpers_test.go
  alita/db/locks_db_test.go
  alita/db/notes_db_test.go
  alita/modules/bans.go
  alita/modules/disabling_command_test.go
  alita/modules/help_render_test.go
  alita/modules/misc.go
  alita/modules/moderation.go
  alita/modules/mute.go
  alita/utils/content/content.go
  alita/utils/content/content_test.go
  alita/utils/ratelimit/backup_ratelimit.go
  alita/utils/ratelimit/backup_ratelimit_test.go
  scripts/generate_docs/generators.go
Labels: go, database, modules, utils, test

fix(docs): update inventory parser to detect DefaultHelpRegistry commands and fix total count to 158+
  README.md
  scripts/generate_docs/parsers.go
  scripts/generate_docs/parsers_test.go
Labels: go, documentation, test

fix(docs): sync documentation with codebase - update module counts, helper file exclusions, and lock types
  .planning/INVENTORY.json
  .planning/INVENTORY.md
  docs/database-migration-validation.md
  docs/rollback-procedures.md
  docs/src/content/docs/api-reference/lock-types.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/self-hosting/database.md
  scripts/generate_docs/main.go
Labels: go, documentation

fix: remove planning folder
  .planning/INVENTORY.json
  .planning/INVENTORY.md
Labels: documentation

docs: sync documentation and code inventory (#758)
  README.md
  docs/database-migration-validation.md
  docs/rollback-procedures.md
  docs/src/content/docs/api-reference/lock-types.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/self-hosting/database.md
  scripts/generate_docs/main.go
  scripts/generate_docs/parsers.go
  scripts/generate_docs/parsers_test.go
Labels: go, documentation, test

test(db): restore TestGetSpanAttributes for getSpanAttributes function
  alita/db/db_test.go
Labels: go, database, test

refactor(db): rename VideoNote to VIDEO_NOTE for consistency
  alita/db/db.go
  alita/modules/captcha.go
  alita/modules/captcha_command_test.go
  alita/modules/captcha_math_image_test.go
  alita/modules/pins.go
  alita/modules/pins_command_test.go
  alita/modules/pins_test.go
  alita/utils/content/content.go
  alita/utils/content/content_test.go
  alita/utils/media/sender.go
  alita/utils/media/sender_test.go
Labels: go, database, modules, utils, test

docs: add cross-reference comments linking splitSQLStatements and findDollarQuoteBlocks
  alita/db/migrations/runner.go
Labels: go, database

refactor: remove dead variable in captcha.go and robustify test detection in conn.go
  alita/db/conn.go
  alita/modules/captcha.go
Labels: go, database, modules

test(db): add missing TestMain for backup sub-package and fix broken round-trip test
  alita/db/backup/backup_test.go
  alita/db/backup/testmain_test.go
Labels: go, database, test

chore: add .coderabbit.yaml to exclude test files and docs from review
  .coderabbit.yaml
Labels: config

refactor(db): remove dead backward compatibility code
  alita/db/db.go
Labels: go, database

remove coderabbit config
  .coderabbit.yaml
  alita/db/conn.go
Labels: go, database, config

Revert "refactor(db): remove dead backward compatibility code"
  alita/db/db.go
Labels: go, database

fix(shutdown): stop DB monitoring before closing DB connections
  main.go
Labels: go

docs: align docs with actual code structure and patterns
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/architecture/caching.md
  docs/src/content/docs/architecture/index.mdx
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/contributing/index.mdx
Labels: documentation

docs(api-reference): sync docs with actual code
  docs/src/content/docs/api-reference/commands.md
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/environment.md
Labels: documentation

chore: auto-commit before merge (loop primary)
  docs/superpowers/specs/2026-06-02-split-agents-md-design.md
Labels: documentation

fix(docs): escape curly braces in FileTree to fix MDX build
  docs/src/content/docs/architecture/project-structure.mdx
Labels: documentation

refactor(modules): Phase 1 - split helpers.go into focused files
  alita/modules/antispam.go
  alita/modules/core.go
  alita/modules/help.go
  alita/modules/help_system.go
  alita/modules/helpers.go
  alita/modules/overwrite.go
Labels: go, modules

refactor(modules): Phase 2 - deep link router registry and extract handlers
  alita/modules/connections.go
  alita/modules/deeplink_router.go
  alita/modules/deeplink_router_test.go
  alita/modules/help.go
  alita/modules/helpers.go
  alita/modules/helpers_test.go
  alita/modules/notes.go
  alita/modules/rules.go
Labels: go, modules, test

docs(plans): add helpers.go splitting implementation plan
  docs/superpowers/plans/2026-06-02-splitting-helpers-go.md
  docs/superpowers/specs/2026-06-02-splitting-helpers-go.md
Labels: documentation

fix: restore exact-match semantics for 'about' deep link
  alita/modules/deeplink_router.go
  alita/modules/help.go
Labels: go, modules

fix: address review findings from helpers.go refactor
  alita/modules/deeplink_router_test.go
  alita/modules/notes.go
  internal/repo_checks/repo_checks_test.go
Labels: go, modules, test

refactor(modules): Phase 3 - anonymous admin router registry
  alita/modules/admin.go
  alita/modules/anonymous_admin_router.go
  alita/modules/anonymous_admin_router_test.go
  alita/modules/bans.go
  alita/modules/bot_updates.go
  alita/modules/mute.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/warns.go
Labels: go, modules, test, admin, warns

perf: optimize critical performance paths in 4 high-impact functions
  alita/modules/locks.go
  alita/utils/chat_status/chat_status.go
  alita/utils/formatting/formatting.go
  alita/utils/keyword_matcher/matcher.go
Labels: go, modules, utils, security

refactor(db): consolidate optimized queries into domain packages
  alita/db/antiflood/optimized.go
  alita/db/antiflood/repository.go
  alita/db/antiraid/optimized.go
  alita/db/antiraid/repository.go
  alita/db/channels/optimized.go
  alita/db/channels/repository.go
  alita/db/chats/optimized.go
  alita/db/chats/repository.go
  alita/db/filters/optimized.go
  alita/db/lang/repository.go
  alita/db/locks/optimized.go
  alita/db/locks/optimized_test.go
  alita/db/locks/repository.go
  alita/db/queries/model_sync_test.go
  alita/db/queries/optimized.go
  alita/db/queries/optimized_test.go
  alita/db/user/optimized.go
  alita/db/user/optimized_test.go
  alita/db/user/repository.go
  alita/modules/filters.go
Labels: go, database, modules, test, filters

fix(db): improve optimized queries error handling, cache TTLs, and filters delete error propagation
  alita/db/antiflood/optimized.go
  alita/db/antiraid/optimized.go
  alita/db/backup/backup.go
  alita/db/cache/ttl.go
  alita/db/channels/optimized.go
  alita/db/chats/optimized.go
  alita/db/filters/repository.go
  alita/db/filters/repository_test.go
  alita/db/locks/optimized.go
  alita/db/locks/optimized_test.go
  alita/db/user/optimized.go
  alita/db/user/optimized_test.go
  alita/modules/filters.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, database, modules, i18n, test, filters

fix(db): eliminate magic sentinel in chat cache, surface errors in tests and backup restore
  alita/db/backup/backup.go
  alita/db/chats/optimized.go
  alita/db/filters/repository_test.go
Labels: go, database, test

refactor(db): consolidate optimized queries into domain packages (#761)
  alita/db/antiflood/optimized.go
  alita/db/antiflood/repository.go
  alita/db/antiraid/optimized.go
  alita/db/antiraid/repository.go
  alita/db/backup/backup.go
  alita/db/cache/ttl.go
  alita/db/channels/optimized.go
  alita/db/channels/repository.go
  alita/db/chats/optimized.go
  alita/db/chats/repository.go
  alita/db/filters/optimized.go
  alita/db/filters/repository.go
  alita/db/filters/repository_test.go
  alita/db/lang/repository.go
  alita/db/locks/optimized.go
  alita/db/locks/optimized_test.go
  alita/db/locks/repository.go
  alita/db/queries/model_sync_test.go
  alita/db/queries/optimized.go
  alita/db/queries/optimized_test.go
  alita/db/user/optimized.go
  alita/db/user/optimized_test.go
  alita/db/user/repository.go
  alita/modules/filters.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, database, modules, i18n, test, filters

fix: maintenance pass — bugs, perf, dead code
  alita/db/chats/repository.go
  alita/db/filters/repository.go
  alita/db/notes/repository.go
  alita/db/warns/repository.go
  alita/db/warns/repository_test.go
  alita/modules/admin.go
  alita/modules/antiflood.go
  alita/modules/antiraid.go
  alita/modules/antiraid_test.go
  alita/modules/bans_command_test.go
  alita/modules/blacklists.go
  alita/modules/bot_updates.go
  alita/modules/bot_updates_load_test.go
  alita/modules/bot_updates_test.go
  alita/modules/captcha.go
  alita/modules/devs.go
  alita/modules/help.go
  alita/modules/help_render_test.go
  alita/modules/help_system.go
  alita/modules/locks.go
  alita/modules/moderation.go
  alita/modules/moderation_test.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/purges_command_test.go
  alita/modules/reactions.go
  alita/modules/reports.go
  alita/modules/reports_command_test.go
  alita/modules/warns.go
  alita/utils/httpserver/server.go
  alita/utils/keyword_matcher/cache.go
  alita/utils/monitoring/auto_remediation.go
  alita/utils/monitoring/auto_remediation_test.go
Labels: go, database, modules, utils, test, admin, antiflood, warns

perf: eliminate per-message DB hits and redundant Telegram API calls
  alita/db/approvals/repository.go
  alita/utils/chat_status/access.go
  migrations/20260609120000_add_filters_functional_index.sql
Labels: go, database, utils, security

test: enrich admin-list fixture so module suite passes after cache-based perm checks
  alita/modules/connections_auth_test.go
  alita/modules/devs_command_test.go
  alita/modules/test_harness_test.go
Labels: go, modules, test
