Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

fix(help): resolve multiple critical bugs in help module
  alita/modules/help.go
  alita/modules/helpers.go
  docs/src/content/docs/api-reference/callbacks.md
  docs/src/content/docs/architecture/module-pattern.md
Labels: go, modules, documentation

fix(users): resolve critical bugs in users module and channel tracking
  CLAUDE.md
  alita/db/channels_db.go
  alita/db/chats_db.go
  alita/db/db.go
  alita/db/optimized_queries.go
  alita/db/user_db.go
  alita/modules/users.go
  docs/src/content/docs/api-reference/database-schema.md
  migrations/20251231140000_add_channel_name_username.sql
Labels: go, database, modules, documentation

fix(helpers): resolve Markdown/HTML parse mode mismatch in help system
  CLAUDE.md
  alita/modules/helpers.go
  docs/src/content/docs/contributing/index.md
Labels: go, modules, documentation

fix(language): resolve critical bugs in language module
  CLAUDE.md
  alita/modules/language.go
  docs/src/content/docs/commands/languages/index.md
Labels: go, modules, documentation

fix(locks): resolve multiple critical bugs in locks module
  CLAUDE.md
  alita/db/locks_db.go
  alita/modules/locks.go
  docs/src/content/docs/commands/locks/index.md
  locales/en.yml
  locales/es.yml
Labels: go, database, modules, i18n, documentation

fix(misc): resolve critical bugs in misc module causing empty responses
  CLAUDE.md
  alita/db/devs_db.go
  alita/modules/misc.go
  docs/src/content/docs/self-hosting/troubleshooting.md
  locales/en.yml
Labels: go, database, modules, i18n, documentation

fix(mutes): resolve critical bugs in mute module causing crashes
  alita/modules/mute.go
  docs/src/content/docs/commands/mutes/index.md
Labels: go, modules, documentation

fix(notes): resolve multiple critical bugs in notes module
  alita/db/notes_db.go
  alita/modules/notes.go
  docs/src/content/docs/commands/notes/index.md
  locales/en.yml
  locales/es.yml
Labels: go, database, modules, i18n, documentation

fix(pins): resolve multiple critical bugs in pins module
  alita/modules/pins.go
  docs/src/content/docs/commands/pins/index.md
Labels: go, modules, documentation

fix(purges): resolve multiple critical bugs in purges module
  alita/modules/purges.go
  docs/src/content/docs/commands/purges/index.md
  locales/es.yml
Labels: go, modules, i18n, documentation

fix(rules): resolve multiple critical bugs in rules module
  alita/modules/rules.go
  docs/src/content/docs/api-reference/commands.md
  docs/src/content/docs/commands/rules/index.md
Labels: go, modules, documentation

fix(reports): resolve multiple critical bugs in reports module
  alita/modules/reports.go
  docs/src/content/docs/commands/reports/index.md
Labels: go, modules, documentation

feat(docs): migrate manual documentation to auto-generation system
  docs/src/content/docs/api-reference/callbacks.md
  docs/src/content/docs/api-reference/commands.md
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/lock-types.md
  docs/src/content/docs/api-reference/permissions.md
  docs/src/content/docs/commands/admin/index.md
  docs/src/content/docs/commands/antiflood/index.md
  docs/src/content/docs/commands/antispam/index.md
  docs/src/content/docs/commands/bans/index.md
  docs/src/content/docs/commands/blacklists/index.md
  docs/src/content/docs/commands/captcha/index.md
  docs/src/content/docs/commands/disabling/index.md
  docs/src/content/docs/commands/filters/index.md
  docs/src/content/docs/commands/formatting/index.md
  docs/src/content/docs/commands/greetings/index.md
  docs/src/content/docs/commands/index.md
  docs/src/content/docs/commands/languages/index.md
  docs/src/content/docs/commands/locks/index.md
  docs/src/content/docs/commands/mutes/index.md
  docs/src/content/docs/commands/notes/index.md
  docs/src/content/docs/commands/pins/index.md
  docs/src/content/docs/commands/purges/index.md
  docs/src/content/docs/commands/reports/index.md
  docs/src/content/docs/commands/rules/index.md
  docs/src/content/docs/commands/warns/index.md
  locales/en.yml
  scripts/generate_docs/generators.go
  scripts/generate_docs/main.go
  scripts/generate_docs/parsers.go
Labels: go, i18n, documentation

fix(utils): resolve 14 critical bugs across utils directory
  alita/utils/async/async_processor.go
  alita/utils/cache/adminCache.go
  alita/utils/chat_status/chat_status.go
  alita/utils/debug_bot/debug_bot.go
  alita/utils/error_handling/error_handling.go
  alita/utils/extraction/extraction.go
  alita/utils/helpers/helpers.go
  alita/utils/httpserver/server.go
  alita/utils/media/sender.go
  alita/utils/monitoring/auto_remediation.go
  alita/utils/monitoring/background_stats.go
  alita/utils/shutdown/graceful.go
Labels: go, utils, cache, security, admin

feat(i18n): localize hardcoded callback error strings
  alita/modules/bans.go
  alita/modules/filters.go
  alita/modules/language.go
  alita/modules/purges.go
  alita/modules/reports.go
  locales/en.yml
  locales/es.yml
Labels: go, modules, i18n, filters

fix(logging): resolve duplicate logs and error handling noise
  alita/modules/antiflood.go
  alita/modules/blacklists.go
  alita/modules/help.go
  alita/modules/locks.go
  alita/modules/mute.go
  alita/modules/warns.go
  alita/utils/chat_status/chat_status.go
  alita/utils/helpers/telegram_helpers.go
Labels: go, modules, utils, security, antiflood, warns

update deps
  go.mod
  go.sum
Labels: go, dependencies

Add missing Spanish locale strings
  locales/es.yml
Labels: i18n

feat(deploy): add one-click PaaS deployment options
  Procfile
  README.md
  alita/config/config.go
  app.json
  railway.toml
  render.yaml
  sample.env
Labels: go, config, documentation

fix(lint): use tagged switch for lock category check
  scripts/generate_docs/generators.go
Labels: go

Update locales/es.yml
  locales/es.yml
Labels: i18n

Add missing Spanish locale strings from English (#610)
  locales/es.yml
Labels: i18n

Update README to streamline deployment instructions
  README.md
Labels: documentation

chore: update deps
  docs/bun.lock
  docs/package.json
Labels: documentation

chore: update deps
  docs/bun.lock
  docs/package.json
Labels: documentation

chore: update deps
  docs/bun.lock
  docs/package.json
Labels: documentation

chore: update deps
  go.mod
  go.sum
Labels: go, dependencies

docs(spec): add spec for hindi-translation
  specs/hindi-translation/.ralph-state.json
  specs/hindi-translation/design.md
  specs/hindi-translation/requirements.md
  specs/hindi-translation/research.md
  specs/hindi-translation/tasks.md
Labels: documentation

feat(i18n): add Hindi locale identity keys
  locales/hi.yml
  specs/hindi-translation/.progress.md
  specs/hindi-translation/tasks.md
Labels: i18n, documentation

feat(i18n): add Hindi admin module translations
  locales/hi.yml
  specs/hindi-translation/.progress.md
  specs/hindi-translation/tasks.md
Labels: i18n, documentation

feat(i18n): add Hindi common utility translations
  locales/hi.yml
  specs/hindi-translation/.progress.md
  specs/hindi-translation/tasks.md
Labels: i18n, documentation

feat(i18n): add Hindi module help translations
  locales/hi.yml
  specs/hindi-translation/.progress.md
  specs/hindi-translation/tasks.md
Labels: i18n, documentation

feat(i18n): complete Hindi module translations
  locales/hi.yml
  specs/hindi-translation/.progress.md
  specs/hindi-translation/tasks.md
Labels: i18n, documentation

chore(spec): mark Hindi YAML validation complete
  specs/hindi-translation/.progress.md
  specs/hindi-translation/tasks.md
Labels: documentation

chore(i18n): verify Hindi key parity - 818/818 keys confirmed
  specs/hindi-translation/.progress.md
  specs/hindi-translation/tasks.md
Labels: documentation

fix(i18n): reorder Hindi locale keys to match en.yml structure
  locales/hi.yml
  specs/hindi-translation/tasks.md
Labels: i18n, documentation

all done
  .gitignore
  specs/hindi-translation/.ralph-state.json
Labels: none

feat(i18n): add Hindi language support (#612)
  .gitignore
  locales/hi.yml
  specs/hindi-translation/.progress.md
  specs/hindi-translation/design.md
  specs/hindi-translation/requirements.md
  specs/hindi-translation/research.md
  specs/hindi-translation/tasks.md
Labels: i18n, documentation

docs(spec): add spec for french-translation
  specs/french-translation/design.md
  specs/french-translation/requirements.md
  specs/french-translation/research.md
  specs/french-translation/tasks.md
Labels: documentation

feat(i18n): add French locale with admin module translations
  locales/fr.yml
  specs/french-translation/.progress.md
  specs/french-translation/tasks.md
Labels: i18n, documentation

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
