Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

test: cover gotgbot command helpers
  alita/modules/bans_command_test.go
  alita/modules/helpers_test.go
  alita/modules/pins_command_test.go
  alita/modules/warns_command_test.go
  alita/utils/extraction/extraction_test.go
Labels: go, modules, utils, test, warns

test(modules): cover dev antiflood formatting flows
  alita/modules/antiflood_command_test.go
  alita/modules/devs_command_test.go
  alita/modules/formatting_test.go
  alita/modules/test_harness_test.go
Labels: go, modules, test, antiflood

test(modules): cover bot update moderation helpers
  alita/modules/bot_updates_test.go
  alita/modules/moderation_test.go
Labels: go, modules, test

test(modules): cover note watcher flows
  alita/modules/notes_command_test.go
Labels: go, modules, test

test: cover gotgbot server and monitoring flows
  alita/modules/backup_test.go
  alita/modules/captcha_command_test.go
  alita/modules/test_harness_test.go
  alita/utils/chat_status/access_test.go
  alita/utils/httpserver/server_test.go
  alita/utils/monitoring/activity_monitor_test.go
  alita/utils/monitoring/auto_remediation_test.go
  alita/utils/monitoring/background_stats.go
  alita/utils/monitoring/background_stats_test.go
Labels: go, modules, utils, test, security

test(modules): cover captcha runtime handlers
  alita/modules/captcha_command_test.go
  alita/modules/test_harness_test.go
Labels: go, modules, test

test(alita): cover startup checks
  alita/main_test.go
Labels: go, test

test(modules): cover anonymous admin callbacks
  alita/modules/bot_updates_test.go
Labels: go, modules, test

test(utils): cover formatting and extraction flows
  alita/utils/extraction/extraction_test.go
  alita/utils/formatting/formatting_test.go
Labels: go, utils, test

test(chat_status): cover exported permission wrappers
  alita/utils/chat_status/access_test.go
Labels: go, utils, test, security

test(helpers): cover parser and menu helper flows
  alita/utils/helpers/helpers_test.go
Labels: go, utils, test

test(db): cover language context selection
  alita/db/lang_db_test.go
Labels: go, database, test

test(modules): cover help and notes edge flows
  alita/modules/help_command_test.go
  alita/modules/notes_command_test.go
Labels: go, modules, test

test(modules): cover moderation rejection flows
  alita/modules/bans_command_test.go
  alita/modules/mutes_command_test.go
Labels: go, modules, test

test(modules): cover moderation pipeline errors
  alita/modules/moderation_test.go
Labels: go, modules, test

test(modules): cover purge deletion worker
  alita/modules/purges_command_test.go
Labels: go, modules, test

test(helpers): cover telegram error handling
  alita/utils/helpers/telegram_helpers_test.go
Labels: go, utils, test

test(modules): cover antispam dispatcher path
  alita/modules/antispam_test.go
Labels: go, modules, test

test(modules): cover antiraid lifecycle state
  alita/modules/antiraid_test.go
Labels: go, modules, test

test(modules): cover help deep link fallbacks
  alita/modules/bot_updates_load_test.go
  alita/modules/helpers_test.go
Labels: go, modules, test

test(modules): cover filter overwrite cache
  alita/modules/filters_test.go
Labels: go, modules, test, filters

test(i18n): cover string slice fallback paths
  alita/i18n/i18n_test.go
Labels: go, i18n, test

test(extraction): cover chat lookup branches
  alita/utils/extraction/extraction_test.go
Labels: go, utils, test

test(chat-status): cover gotgbot callback denials
  alita/utils/chat_status/access_test.go
Labels: go, utils, test, security

test(bot-updates): cover gotgbot callback branches
  alita/modules/bot_updates_test.go
  alita/utils/chat_status/access_test.go
Labels: go, modules, utils, test, security

test(cache): cover memory-backed cache flows
  alita/utils/cache/memory_store_test.go
Labels: go, utils, cache, test

test(modules): cover approval and warning edge cases
  alita/modules/approvals_command_test.go
  alita/modules/warns_command_test.go
Labels: go, modules, test, warns

test(blacklists): cover gotgbot command branches
  alita/modules/blacklists_command_test.go
Labels: go, modules, test

test(misc): cover translation and id branches
  alita/modules/misc_command_test.go
Labels: go, modules, test

test(bans): cover callback action branches
  alita/modules/bans_command_test.go
Labels: go, modules, test

test(pins): cover media pin branches
  alita/modules/pins_command_test.go
Labels: go, modules, test

test(captcha): cover verification callbacks
  alita/modules/captcha_command_test.go
Labels: go, modules, test

test(captcha): cover timeout actions
  alita/modules/captcha_command_test.go
Labels: go, modules, test

test(greetings): cover service and join callbacks
  alita/modules/greetings_command_test.go
Labels: go, modules, test, greetings

test(reports): cover callback and settings branches
  alita/modules/reports_command_test.go
Labels: go, modules, test

test(filters): cover validation and callback branches
  alita/modules/filters_command_test.go
Labels: go, modules, test, filters

test(notes): cover private and noformat branches
  alita/modules/notes_command_test.go
Labels: go, modules, test

test: cover gotgbot document and chat status paths
  alita/modules/backup_test.go
  alita/utils/chat_status/access_test.go
Labels: go, modules, utils, test, security

test(cache): cover redis accessors without client
  alita/utils/cache/memory_store_test.go
Labels: go, utils, cache, test

test(admin): cover permission edge cases
  alita/modules/admin_test.go
Labels: go, modules, test, admin

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
