Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

chore(release): set BotVersion to v2.21.5
  alita/config/config.go
  main.go
Labels: go, config

refactor: remove deprecated compat shims and unused exports
  .ai-review.yml
  AGENTS.md
  alita/db/connections/repository.go
  alita/db/connections/repository_test.go
  alita/db/constraints_test.go
  alita/db/db.go
  alita/db/gorm_types_test.go
  alita/db/testmain_test.go
  alita/modules/backup.go
  alita/modules/backup_test.go
  alita/modules/callback_codec.go
  alita/modules/captcha_command_test.go
  alita/modules/filters.go
  alita/modules/filters_test.go
  alita/modules/help_system.go
  alita/modules/helpers_test.go
  alita/modules/notes.go
  alita/modules/notes_command_test.go
  alita/modules/rules_error_test.go
  alita/modules/test_harness_test.go
  alita/modules/warns_command_test.go
  alita/utils/chat_status/testmain_test.go
  alita/utils/extraction/extraction_test.go
  alita/utils/formatting/formatting_test.go
  alita/utils/helpers/command_pipeline.go
  alita/utils/helpers/command_pipeline_test.go
  alita/utils/ratelimit/backup_ratelimit.go
  alita/utils/ratelimit/backup_ratelimit_test.go
  docs/src/content/docs/api-reference/commands.md
Labels: go, database, modules, utils, config, documentation, test, security, filters, warns

chore(release): set BotVersion to v2.21.6
  alita/config/config.go
  main.go
Labels: go, config

ci: bump golangci-lint to v2.13.1 for Go 1.27 support
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Labels: config, ci

fix(db): use partial index in UpdateChannel username reassignment
  alita/db/channels/repository.go
Labels: go, database

chore(release): set BotVersion to v2.21.7
  alita/config/config.go
  main.go
Labels: go, config

feat(cache): add DISABLE_CACHE bypass to test Postgres load without Redis
  alita/config/config.go
  alita/db/cache/loader.go
  alita/utils/cache/cache.go
Labels: go, database, utils, cache, config

chore: add Cloud Agent dev environment config
  .cursor/environment.json
  .cursor/install.sh
  .cursor/start.sh
Labels: none

chore: add Cloud Agent dev environment config (#818)
  .cursor/environment.json
  .cursor/install.sh
  .cursor/start.sh
Labels: none

fix: use object-shaped ports in Cloud Agent environment.json
  .cursor/environment.json
Labels: none

fix: stop in-process cache growth and antiflood goroutine pile-up
  AGENTS.md
  alita/db/monitoring/metrics.go
  alita/modules/antiflood.go
  alita/modules/antiflood_command_test.go
  alita/modules/backup.go
  alita/modules/greetings.go
  alita/modules/purges.go
  alita/utils/cache/adminCache.go
  alita/utils/cache/adminCache_test.go
  alita/utils/formatting/formatting.go
  alita/utils/formatting/formatting_test.go
  alita/utils/httpserver/server.go
  alita/utils/keyword_matcher/cache.go
  alita/utils/monitoring/activity_monitor.go
  alita/utils/monitoring/auto_remediation.go
  alita/utils/monitoring/background_stats.go
Labels: go, database, modules, utils, cache, documentation, test, admin, greetings, antiflood

test(antiflood): grant bot restrict rights in cached non-admin case
  alita/modules/antiflood_command_test.go
Labels: go, modules, test, antiflood

fix: stop in-process cache growth and antiflood goroutine pile-up (#819)
  AGENTS.md
  alita/db/monitoring/metrics.go
  alita/modules/antiflood.go
  alita/modules/antiflood_command_test.go
  alita/modules/backup.go
  alita/modules/greetings.go
  alita/modules/purges.go
  alita/utils/cache/adminCache.go
  alita/utils/cache/adminCache_test.go
  alita/utils/formatting/formatting.go
  alita/utils/formatting/formatting_test.go
  alita/utils/httpserver/server.go
  alita/utils/keyword_matcher/cache.go
  alita/utils/monitoring/activity_monitor.go
  alita/utils/monitoring/auto_remediation.go
  alita/utils/monitoring/background_stats.go
Labels: go, database, modules, utils, cache, documentation, test, admin, greetings, antiflood

docs: map Alita features against Miss Rose
  AGENTS.md
  docs/src/content/docs/getting-started/feature-comparison.md
  docs/src/content/docs/getting-started/introduction.mdx
Labels: documentation

feat(db): add federations and log channel schema
  alita/db/cache/ttl.go
  alita/db/federations/repository.go
  alita/db/federations/repository_test.go
  alita/db/federations/testmain_test.go
  alita/db/logchannels/repository.go
  alita/db/logchannels/repository_test.go
  alita/db/logchannels/testmain_test.go
  alita/db/models/federations.go
  alita/db/models/logchannels.go
  alita/db/testmain_test.go
  migrations/20260826000000_add_federations_and_log_channels.sql
Labels: go, database, test

feat: add federation commands, log channels, and backup support
  alita/db/backup/backup.go
  alita/db/backup/backup_test.go
  alita/db/backup/pure_test.go
  alita/db/backup/roundtrip_test.go
  alita/db/backup/testmain_test.go
  alita/db/backup/types.go
  alita/modules/federations.go
  alita/modules/federations_command_test.go
  alita/modules/federations_io.go
  alita/modules/logchannels.go
  alita/modules/logchannels_command_test.go
  alita/modules/moderation.go
  alita/modules/mute.go
  alita/modules/reports.go
  alita/modules/test_harness_test.go
  alita/utils/actionlog/actionlog.go
Labels: go, database, modules, utils, test

feat: add Rose-parity misc, admin, and ban commands
  alita/modules/admin.go
  alita/modules/antiflood.go
  alita/modules/bans.go
  alita/modules/blacklists.go
  alita/modules/misc.go
  alita/modules/misc_extras.go
  alita/utils/chat_status/access.go
  alita/utils/helpers/command_pipeline.go
Labels: go, modules, utils, security, admin, antiflood

docs: document federations, log channels, and Rose locale keys
  AGENTS.md
  locales/config.yml
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
  scripts/validate_orphaned_data.go
  scripts/validate_orphaned_data_test.go
Labels: go, i18n, documentation, test

test: assert federation and log-channel persistence, not empty replies
  alita/modules/federations_command_test.go
  alita/modules/logchannels_command_test.go
Labels: go, modules, test

test: include Federations and LogChannels in the runtime registry list
  alita/modules/registry_test.go
Labels: go, modules, test

test: cover federations, log channels, actionlog, and misc extras
  .planning/INVENTORY.json
  .planning/INVENTORY.md
  alita/db/federations/repository_test.go
  alita/db/logchannels/repository_test.go
  alita/modules/federations_command_test.go
  alita/modules/logchannels_command_test.go
  alita/modules/misc_extras_test.go
  alita/utils/actionlog/actionlog_test.go
Labels: go, database, modules, utils, documentation, test

test: cover setg*, banme, skick, unbanall, and fed I/O paths
  alita/modules/admin_test.go
  alita/modules/bans_command_test.go
  alita/modules/federations_command_test.go
Labels: go, modules, test, admin

test: import federation bans from CSV and kick zombie accounts
  alita/modules/federations_command_test.go
  alita/modules/misc_extras_test.go
Labels: go, modules, test

test: cover federation command error paths
  alita/modules/federations_command_test.go
Labels: go, modules, test

fix(misc): use crypto/rand for /runs quote selection
  alita/modules/misc_extras.go
Labels: go, modules

fix(lint): dedupe federation lists and misc lookups
  alita/db/federations/repository.go
  alita/modules/federations.go
  alita/modules/misc_extras.go
Labels: go, database, modules

docs: generate federations and logchannels command pages
  AGENTS.md
  docs/src/content/docs/commands/federations/index.md
  docs/src/content/docs/commands/logchannels/index.md
  scripts/generate_docs/generators.go
Labels: go, documentation

chore: stop tracking generated .planning inventory
  .gitignore
  .planning/INVENTORY.json
  .planning/INVENTORY.md
Labels: documentation

refactor: simplify Rose-parity helpers and cache misses
  alita/db/federations/repository.go
  alita/db/federations/repository_test.go
  alita/db/logchannels/repository.go
  alita/modules/backup.go
  alita/modules/bans.go
  alita/modules/federations.go
  alita/modules/federations_io.go
  alita/modules/i18n_helpers.go
  alita/modules/logchannels.go
  alita/modules/misc_extras.go
  alita/modules/misc_extras_test.go
  alita/utils/actionlog/actionlog.go
Labels: go, database, modules, utils, test

fix: close admin, federation, log, connect, and blacklist holes
  AGENTS.md
  alita/db/backup/backup_test.go
  alita/db/backup/pure_test.go
  alita/db/backup/types.go
  alita/db/db.go
  alita/db/federations/repository.go
  alita/db/federations/repository_test.go
  alita/db/gorm_types_test.go
  alita/db/greetings/repository.go
  alita/db/models/blacklists.go
  alita/modules/antispam.go
  alita/modules/antispam_test.go
  alita/modules/blacklists.go
  alita/modules/blacklists_command_test.go
  alita/modules/connections.go
  alita/modules/connections_auth.go
  alita/modules/connections_auth_test.go
  alita/modules/core.go
  alita/modules/greetings.go
  alita/modules/logchannels.go
  alita/modules/logchannels_command_test.go
  alita/modules/warns.go
  alita/utils/cache/adminCache.go
  alita/utils/cache/adminCache_test.go
  alita/utils/chat_status/chat_status.go
  alita/utils/ratelimit/backup_ratelimit.go
  alita/utils/ratelimit/backup_ratelimit_test.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, database, modules, utils, cache, i18n, documentation, test, security, admin, greetings, warns

test: assert setlog fail-closed by bind, not empty i18n replies
  alita/modules/blacklists_command_test.go
  alita/modules/logchannels_command_test.go
Labels: go, modules, test

fix: defer antispam shard unlock so cleanup panics cannot pin a shard
  AGENTS.md
  alita/modules/antispam.go
  internal/repo_checks/repo_checks_test.go
Labels: go, modules, documentation, test

fix: snapshot federation children inside the locked delete transaction
  AGENTS.md
  alita/db/federations/repository.go
Labels: go, database, documentation

test: pin reconnect deny reply to the allowconnect-disabled path
  alita/modules/connections_auth_test.go
Labels: go, modules, test

fix: close admin, federation, log, connect, and blacklist holes (#822)
  AGENTS.md
  alita/db/backup/backup_test.go
  alita/db/backup/pure_test.go
  alita/db/backup/types.go
  alita/db/db.go
  alita/db/federations/repository.go
  alita/db/federations/repository_test.go
  alita/db/gorm_types_test.go
  alita/db/greetings/repository.go
  alita/db/models/blacklists.go
  alita/modules/antispam.go
  alita/modules/antispam_test.go
  alita/modules/blacklists.go
  alita/modules/blacklists_command_test.go
  alita/modules/connections.go
  alita/modules/connections_auth.go
  alita/modules/connections_auth_test.go
  alita/modules/core.go
  alita/modules/greetings.go
  alita/modules/logchannels.go
  alita/modules/logchannels_command_test.go
  alita/modules/warns.go
  alita/utils/cache/adminCache.go
  alita/utils/cache/adminCache_test.go
  alita/utils/chat_status/chat_status.go
  alita/utils/ratelimit/backup_ratelimit.go
  alita/utils/ratelimit/backup_ratelimit_test.go
  internal/repo_checks/repo_checks_test.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, database, modules, utils, cache, i18n, documentation, test, security, admin, greetings, warns

fix(help): keep HTML tags in module help instead of showing <b>
  AGENTS.md
  alita/modules/antiraid.go
  alita/modules/help_locale_format_test.go
  alita/modules/help_render_test.go
  alita/modules/help_system.go
  alita/utils/formatting/telegram_html.go
  alita/utils/formatting/telegram_html_test.go
Labels: go, modules, utils, documentation, test

fix(help): detect HTML help only when tags are paired
  AGENTS.md
  alita/modules/help_locale_format_test.go
  alita/utils/formatting/telegram_html.go
  alita/utils/formatting/telegram_html_test.go
Labels: go, modules, utils, documentation, test

docs: note HTML help detection requires paired tags
  AGENTS.md
Labels: documentation

fix(help): keep HTML tags in module help instead of showing &lt;b&gt; (#823)
  AGENTS.md
  alita/modules/antiraid.go
  alita/modules/help_locale_format_test.go
  alita/modules/help_render_test.go
  alita/modules/help_system.go
  alita/utils/formatting/telegram_html.go
  alita/utils/formatting/telegram_html_test.go
Labels: go, modules, utils, documentation, test

perf(db): split chats.users from hot-path to cut PlanetScale egress
  alita/db/chats/optimized.go
  alita/db/chats/repository.go
  alita/db/chats/repository_test.go
  alita/db/federations/repository.go
  alita/modules/bans.go
  alita/modules/misc_extras.go
Labels: go, database, modules, test

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
