Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000

perf(keyword_matcher): match concurrently and track use per matcher
  alita/utils/keyword_matcher/cache.go
  alita/utils/keyword_matcher/cache_test.go
  alita/utils/keyword_matcher/matcher.go
Labels: go, utils, test

perf(cache): drop a timer from the read-through hit path
  alita/db/cache/loader.go
  alita/utils/cache/restrictedCache.go
Labels: go, database, utils, cache

perf(tracing): build DB span attributes only when tracing is enabled
  alita/db/db.go
  alita/utils/tracing/processor.go
  alita/utils/tracing/tracing.go
Labels: go, database, utils

perf(modules): skip redundant reads on the update path
  alita/modules/antiflood.go
  alita/modules/captcha.go
  alita/modules/captcha_command_test.go
  alita/modules/filters.go
  alita/modules/locks.go
Labels: go, modules, test, filters, antiflood

perf(utils): hoist per-call regexes and replacers, cut entity allocations
  alita/modules/moderation_input.go
  alita/utils/content/content.go
  alita/utils/extraction/extraction.go
  alita/utils/formatting/formatting.go
Labels: go, modules, utils

test(perf): benchmark the i18n and cache read paths
  alita/db/cache/bench_test.go
  alita/i18n/bench_test.go
Labels: go, database, i18n, test

test(i18n): pin index lookups against the fallback walk
  alita/i18n/index_test.go
Labels: go, i18n, test

perf(keyword_matcher): keep the safe haystack, guard the read-lock path
  alita/utils/keyword_matcher/bench_test.go
  alita/utils/keyword_matcher/matcher.go
Labels: go, utils, test

test(moderation): differentially test the entity-text walk
  alita/modules/moderation_input_test.go
Labels: go, modules, test

test(keyword_matcher): point the cleanup comment at lastUsedTime
  alita/utils/keyword_matcher/cache_test.go
Labels: go, utils, test

fix(i18n): keep exact-case precedence and unshare slice results
  alita/i18n/i18n_test.go
  alita/i18n/index_test.go
  alita/i18n/loader.go
  alita/i18n/translator.go
Labels: go, i18n, test

test(bench): point benchmarks at what they measure
  alita/db/cache/bench_test.go
  alita/i18n/bench_test.go
Labels: go, database, i18n, test

refactor(tracing): drop unused Enabled helper
  alita/utils/tracing/processor.go
  alita/utils/tracing/tracing.go
Labels: go, utils

perf: cut per-update work across i18n, cache, matchers, and tracing (#853)
  alita/db/cache/bench_test.go
  alita/db/cache/loader.go
  alita/db/db.go
  alita/i18n/bench_test.go
  alita/i18n/i18n_test.go
  alita/i18n/index_test.go
  alita/i18n/loader.go
  alita/i18n/manager.go
  alita/i18n/translator.go
  alita/i18n/types.go
  alita/modules/antiflood.go
  alita/modules/captcha.go
  alita/modules/captcha_command_test.go
  alita/modules/filters.go
  alita/modules/locks.go
  alita/modules/moderation_input.go
  alita/modules/moderation_input_test.go
  alita/utils/cache/restrictedCache.go
  alita/utils/content/content.go
  alita/utils/extraction/extraction.go
  alita/utils/formatting/formatting.go
  alita/utils/keyword_matcher/bench_test.go
  alita/utils/keyword_matcher/cache.go
  alita/utils/keyword_matcher/cache_test.go
  alita/utils/keyword_matcher/matcher.go
  alita/utils/tracing/processor.go
  alita/utils/tracing/tracing.go
Labels: go, database, modules, utils, cache, i18n, test, filters, antiflood

fix(stats): report every DB-backed module in /stats
  alita/db/aispam/repository.go
  alita/db/antiraid/repository.go
  alita/db/approvals/repository.go
  alita/db/captcha/repository.go
  alita/db/db.go
  alita/db/devs/repository.go
  alita/db/devs/repository_test.go
  alita/db/devs/testmain_test.go
  alita/db/locks/repository.go
  alita/db/logchannels/repository.go
  alita/db/reactions/repository.go
  alita/db/warns/repository.go
Labels: go, database, test

fix(db): fall back to COUNT(*) when reltuples is unknown
  alita/db/db.go
Labels: go, database

fix(stats): report every DB-backed module in /stats (#854)
  alita/db/aispam/repository.go
  alita/db/antiraid/repository.go
  alita/db/approvals/repository.go
  alita/db/captcha/repository.go
  alita/db/db.go
  alita/db/devs/repository.go
  alita/db/devs/repository_test.go
  alita/db/devs/testmain_test.go
  alita/db/locks/repository.go
  alita/db/logchannels/repository.go
  alita/db/reactions/repository.go
  alita/db/warns/repository.go
Labels: go, database, test

docs(agents): re-verify and condense AGENTS.md
  AGENTS.md
Labels: documentation

fix(release): prepare version bumps through PRs
  .github/workflows/release.yml
  Makefile
Labels: ci, build

fix(antiflood): replace idle flood counters instead of spinning
  .gitignore
  alita/modules/antiflood.go
  alita/modules/antiflood_command_test.go
  formal/antiflood/FloodReset.tla
  formal/antiflood/FloodResetBuggy.cfg
  formal/antiflood/FloodResetFixed.cfg
  formal/antiflood/lean/FloodReset.lean
  formal/antiflood/lean/lake-manifest.json
  formal/antiflood/lean/lakefile.toml
  formal/antiflood/lean/lean-toolchain
Labels: go, modules, test, antiflood

fix(antiflood): replace idle flood counters instead of spinning
  .gitignore
  alita/modules/antiflood.go
  alita/modules/antiflood_command_test.go
  formal/antiflood/FloodReset.tla
  formal/antiflood/FloodResetBuggy.cfg
  formal/antiflood/FloodResetFixed.cfg
  formal/antiflood/lean/FloodReset.lean
  formal/antiflood/lean/lake-manifest.json
  formal/antiflood/lean/lakefile.toml
  formal/antiflood/lean/lean-toolchain
Labels: go, modules, test, antiflood

fix(release): prepare version bumps through PRs
  .github/workflows/release.yml
  Makefile
Labels: ci, build

chore(release): prepare v2.23.6 patch release
  alita/config/config.go
  main.go
Labels: go, config

chore(release): prepare v2.23.6 patch release
  alita/config/config.go
  main.go
Labels: go, config

fix(deps): pin patched gRPC version for alert 43
  go.mod
Labels: go, dependencies

fix: distinguish join challenge and welcome errors
  alita/modules/greetings.go
  alita/modules/membership.go
  alita/modules/membership_test.go
Labels: go, modules, test, greetings

fix: include underlying cause in join stage errors
  alita/modules/membership.go
  alita/modules/membership_test.go
Labels: go, modules, test

fix(deps): pin patched gRPC version for alert 43
  go.mod
Labels: go, dependencies

fix: distinguish join challenge and welcome errors
  alita/modules/greetings.go
  alita/modules/membership.go
  alita/modules/membership_test.go
Labels: go, modules, test, greetings

fix: include underlying cause in join stage errors
  alita/modules/membership.go
  alita/modules/membership_test.go
Labels: go, modules, test

chore(release): prepare v2.23.7 patch release
  alita/config/config.go
  main.go
Labels: go, config

chore(release): prepare v2.23.7 patch release
  alita/config/config.go
  main.go
Labels: go, config

docs(agents): condense AGENTS.md, drop unused agent/supabase files
  .dockerignore
  AGENTS.md
  CONTEXT.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
  supabase/.gitignore
  supabase/config.toml
Labels: docker, documentation

chore(cleanup): remove cursor and devcontainer
  .cursor/environment.json
  .cursor/install.sh
  .cursor/start.sh
  .devcontainer/devcontainer.json
Labels: none

perf(metrics): count Redis commands, DB queries and updates
  alita/db/conn.go
  alita/db/metrics.go
  alita/db/metrics_test.go
  alita/utils/cache/cache.go
  alita/utils/metrics/metrics.go
  alita/utils/metrics/metrics_test.go
  alita/utils/tracing/processor.go
  alita/utils/tracing/processor_test.go
  docs/src/content/docs/self-hosting/monitoring.md
  go.mod
  go.sum
Labels: go, database, utils, cache, dependencies, documentation, test

perf(antiflood): defer translator lookup until flood is detected
  alita/modules/antiflood.go
Labels: go, modules, antiflood

fix(#869): perf(users): skip no-op UpdateUser upserts (throttle last_activity like UpdateChat)
  alita/modules/users.go
Labels: go, modules

perf(blacklists): match keywords before permission lookups
  alita/modules/blacklists.go
  alita/modules/blacklists_command_test.go
Labels: go, modules, test

perf(locks): skip permission lookups for unlocked content
  alita/modules/locks.go
  alita/modules/locks_command_test.go
Labels: go, modules, test

perf(filters): match on cached keyword list before loading filter bodies
  alita/modules/filters.go
  alita/modules/filters_command_test.go
Labels: go, modules, test, filters
