Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

fix(filters): correct command registration for removing filters
  .gitignore
  alita/modules/filters.go
Labels: go, modules, filters

fix(modules): resolve critical runtime issues and improve error handling
  alita/modules/admin.go
  alita/modules/captcha.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/utils/error_handling/error_handling.go
  locales/en.yml
  locales/es.yml
Labels: go, modules, utils, i18n, admin, filters, greetings

fix(release): replace GoReleaser action with manual build verification step
  .github/workflows/release.yml
Labels: ci

chore: fix build
  .github/workflows/release.yml
Labels: ci

ci: remove reduntant security check
  .github/workflows/security.yml
Labels: ci

ci: docker push on main branch
  .github/workflows/ci.yml
Labels: ci

fix(i18n loader): fix file path on windows system.
  alita/i18n/loader.go
Labels: go, i18n

fix(flood): fix flood mode.
  alita/modules/antiflood.go
Labels: go, modules, antiflood

fix(captcha): decrease width to fit the preview.
  alita/modules/captcha.go
Labels: go, modules

ci: fix actions
  .github/workflows/pr-docker-enhanced.yml
Labels: ci

Update alita/i18n/loader.go
  alita/i18n/loader.go
Labels: go, i18n

Update alita/i18n/loader.go
  alita/i18n/loader.go
Labels: go, i18n

Apply suggestion from @Copilot
  alita/i18n/loader.go
Labels: go, i18n

fixes #578
  alita/modules/antiflood.go
Labels: go, modules, antiflood

fixes #579
  alita/modules/captcha.go
Labels: go, modules

fix: remove redundant error checks in greetings module
  alita/modules/greetings.go
Labels: go, modules, greetings

fix: fix the issue #582
  alita/modules/bans.go
Labels: go, modules

feat(captcha): complete stored messages feature and add admin tools
  alita/modules/captcha.go
  alita/utils/error_handling/error_handling.go
  locales/en.yml
  locales/es.yml
Labels: go, modules, utils, i18n

feat: #584
  alita/modules/misc.go
  alita/utils/helpers/helpers.go
  locales/en.yml
Labels: go, modules, utils, i18n

add AGENTS.md
  AGENTS.md
Labels: documentation

refactor(modules): fix goroutine leaks, improve resource management, and remove dead code
  alita/modules/antiflood.go
  alita/modules/blacklists.go
  alita/modules/captcha.go
  alita/modules/pins.go
  alita/modules/purges.go
Labels: go, modules, antiflood

hardcoded strings to en.yml
  alita/modules/admin.go
  alita/modules/captcha.go
  alita/modules/misc.go
  alita/modules/reports.go
  alita/modules/warns.go
  alita/utils/helpers/helpers.go
  locales/en.yml
Labels: go, modules, utils, i18n, admin, warns

refactor(i18n): eliminate hardcoded user-facing strings and improve translation coverage
  locales/es.yml
Labels: i18n

refactor(i18n): eliminate hardcoded user-facing strings and improve translation coverage
  alita/modules/admin.go
  alita/modules/captcha.go
  alita/modules/misc.go
  alita/modules/reports.go
  alita/modules/warns.go
  alita/utils/helpers/helpers.go
  locales/en.yml
  locales/es.yml
Labels: go, modules, utils, i18n, admin, warns

refactor(modules): improve code safety and maintainability
  alita/modules/antiflood.go
  alita/modules/bans.go
  alita/modules/greetings.go
  alita/modules/notes.go
  alita/modules/pins.go
Labels: go, modules, greetings, antiflood

feat(monitoring): integrate Sentry error tracking and monitoring
  alita/config/config.go
  alita/config/types.go
  alita/utils/error_handling/error_handling.go
  go.mod
  go.sum
  main.go
  sample.env
Labels: go, utils, config, dependencies

fix(modules): suppress expected Telegram message deletion errors
  alita/modules/antiflood.go
  alita/modules/captcha.go
  alita/modules/greetings.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/reports.go
Labels: go, modules, greetings, antiflood

fix(media): add FileID validation to prevent empty media send errors
  alita/modules/pins.go
  alita/utils/helpers/helpers.go
Labels: go, modules, utils

fix(messaging): suppress permission errors to prevent Sentry spam
  alita/modules/captcha.go
  alita/modules/greetings.go
  alita/utils/helpers/helpers.go
  alita/utils/helpers/telegram_helpers.go
Labels: go, modules, utils, greetings

fix(sentry): suppress expected Telegram API errors from reporting
  alita/utils/helpers/telegram_helpers.go
  main.go
Labels: go, utils

fix(main): remove non-constant format string in log.Infof calls
  main.go
Labels: go

fix(sentry): resolve all Sentry issues - database foreign keys, timeouts, and permissions
  alita/db/connections_db.go
  alita/db/reports_db.go
  alita/db/rules_db.go
  alita/modules/antiflood.go
  alita/utils/helpers/telegram_helpers.go
Labels: go, database, modules, utils, antiflood

add GEMINI
  GEMINI.md
Labels: documentation

fix(core): comprehensive code review fixes - critical security, performance, and reliability improvements
  alita/main.go
  alita/modules/admin.go
  alita/modules/antiflood.go
  alita/modules/antispam.go
  alita/modules/bans.go
  alita/modules/blacklists.go
  alita/modules/captcha.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/modules/helpers.go
  alita/utils/chat_status/chat_status.go
  alita/utils/helpers/helpers.go
  locales/en.yml
Labels: go, modules, utils, i18n, security, admin, filters, greetings, antiflood

chore: update dependencies
  go.mod
  go.sum
Labels: go, dependencies

fix(captcha): resolve orphaned messages and improve cleanup reliability
  alita/db/captcha_db.go
  alita/modules/captcha.go
Labels: go, database, modules

fix(utils): replace HandleErr pattern with proper error handling
  alita/utils/chat_status/chat_status.go
  alita/utils/extraction/extraction.go
Labels: go, utils, security

fix(modules): add nil checks for ReplyToMessage.From field
  alita/modules/pins.go
  alita/modules/reports.go
  alita/modules/warns.go
Labels: go, modules, warns

fix(webhook): address critical security and stability issues
  alita/utils/webhook/webhook.go
Labels: go, utils

fix(db): resolve race condition in IncrementCaptchaAttempts
  alita/db/captcha_db.go
Labels: go, database

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
