Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000

chore(release): bump version to v2.17.24
  alita/config/config.go
  alita/utils/tracing/tracing_test.go
  main.go
Labels: go, utils, config, test

refactor(architecture): 7-area consolidation deepening
  alita/db/warns_db.go
  alita/main.go
  alita/modules/bans.go
  alita/modules/bot_updates.go
  alita/modules/moderation.go
  alita/modules/registry.go
  alita/utils/chat_status/access.go
  alita/utils/chat_status/access_test.go
  alita/utils/chat_status/chat_status.go
  alita/utils/formatting/formatting.go
  alita/utils/helpers/helpers.go
  alita/utils/keyboard/keyboard.go
  alita/utils/media/sender.go
  main.go
Labels: go, database, modules, utils, test, security, warns

fix(cache,registry,status,formatting,keyboard,moderation): apply verified fixes
  alita/db/warns_db.go
  alita/modules/moderation.go
  alita/modules/registry.go
  alita/utils/chat_status/access.go
  alita/utils/chat_status/chat_status.go
  alita/utils/formatting/formatting.go
  alita/utils/keyboard/keyboard.go
Labels: go, database, modules, utils, security, warns

fix(tests): update TestPollingLoadsModulesBeforeStartingPolling for postInit refactoring
  internal/repo_checks/repo_checks_test.go
Labels: go, test

fix: address architectural, cache consistency, and nil safety findings
  alita/db/warns_db.go
  alita/modules/moderation.go
  alita/utils/chat_status/access.go
  alita/utils/formatting/formatting.go
  main.go
Labels: go, database, modules, utils, security, warns

refactor(architecture): 7-area consolidation deepening (#730)
  alita/db/warns_db.go
  alita/main.go
  alita/modules/bans.go
  alita/modules/bot_updates.go
  alita/modules/moderation.go
  alita/modules/registry.go
  alita/utils/chat_status/access.go
  alita/utils/chat_status/access_test.go
  alita/utils/chat_status/chat_status.go
  alita/utils/formatting/formatting.go
  alita/utils/helpers/helpers.go
  alita/utils/keyboard/keyboard.go
  alita/utils/media/sender.go
  internal/repo_checks/repo_checks_test.go
  main.go
Labels: go, database, modules, utils, test, security, warns

fix(modules): restore orphaned LoadXxx calls after incomplete registry migration
  alita/main.go
Labels: go

refactor(modules): complete registry migration
  alita/main.go
  alita/modules/admin.go
  alita/modules/admin_test.go
  alita/modules/antiflood.go
  alita/modules/antiraid.go
  alita/modules/antiraid_test.go
  alita/modules/antispam.go
  alita/modules/approvals.go
  alita/modules/backup.go
  alita/modules/backup_test.go
  alita/modules/bans.go
  alita/modules/blacklists.go
  alita/modules/captcha.go
  alita/modules/captcha_math_image_test.go
  alita/modules/connections.go
  alita/modules/devs.go
  alita/modules/disabling.go
  alita/modules/filters.go
  alita/modules/formatting.go
  alita/modules/greetings.go
  alita/modules/help.go
  alita/modules/helpers.go
  alita/modules/helpers_test.go
  alita/modules/language.go
  alita/modules/locks.go
  alita/modules/misc.go
  alita/modules/moderation.go
  alita/modules/moderation_input_test.go
  alita/modules/mute.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/reactions.go
  alita/modules/registry.go
  alita/modules/registry_test.go
  alita/modules/reports.go
  alita/modules/rules.go
  alita/modules/users.go
  alita/modules/warns.go
  internal/repo_checks/repo_checks_test.go
Labels: go, modules, test, admin, filters, greetings, antiflood, warns

fix(modules): address registry review feedback
  alita/modules/help.go
  alita/modules/helpers_test.go
  alita/modules/locks.go
  internal/repo_checks/repo_checks_test.go
Labels: go, modules, test

test(modules): cover runtime registry loading
  alita/main_test.go
  alita/modules/registry_test.go
  alita/utils/formatting/formatting_test.go
  alita/utils/keyboard/keyboard_test.go
Labels: go, modules, utils, test

test(modules): harden registry coverage tests
  alita/main_test.go
  alita/modules/registry_test.go
  alita/utils/formatting/formatting_test.go
  alita/utils/keyboard/keyboard_test.go
Labels: go, modules, utils, test

test(media): cover sender dispatch paths
  alita/utils/media/sender_test.go
Labels: go, utils, test

test(config): cover pure validation branches
  alita/config/config_pure_test.go
Labels: go, config, test

test: cover i18n locale loading
  alita/i18n/i18n_test.go
  alita/i18n/testdata/badlocales/broken.yml
  alita/i18n/testdata/badlocales/en.yml
  alita/i18n/testdata/locales/en.yml
  alita/i18n/testdata/locales/es.yaml
  alita/i18n/testdata/locales/ignored.txt
  alita/i18n/testdata/locales/nested/skipped.yml
  alita/i18n/testdata/nodefault/es.yml
  alita/modules/registry_test.go
Labels: go, modules, i18n, test

refactor(extraction): isolate duration parsing
  alita/utils/extraction/extraction.go
  alita/utils/extraction/extraction_test.go
Labels: go, utils, test

test(utils): cover chat extraction and first match
  alita/utils/chat_status/access_test.go
  alita/utils/keyword_matcher/matcher_test.go
Labels: go, utils, test, security

test(tracing): cover processor context injection
  alita/utils/tracing/processor_test.go
Labels: go, utils, test

test(captcha): cover captcha image generation
  alita/modules/captcha_math_image_test.go
Labels: go, modules, test

fix(backup): dedupe module arguments
  alita/modules/backup.go
  alita/modules/backup_test.go
Labels: go, modules, test

fix(formatting): guard callback context access
  alita/modules/formatting.go
  alita/modules/formatting_test.go
Labels: go, modules, test

fix(modules): guard callback query access
  alita/modules/antiraid.go
  alita/modules/approvals.go
  alita/modules/backup.go
  alita/modules/backup_test.go
  alita/modules/bans.go
  alita/modules/blacklists.go
  alita/modules/bot_updates.go
  alita/modules/callback_context.go
  alita/modules/callback_context_test.go
  alita/modules/captcha.go
  alita/modules/connections.go
  alita/modules/filters.go
  alita/modules/formatting.go
  alita/modules/greetings.go
  alita/modules/help.go
  alita/modules/language.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/reactions.go
  alita/modules/reports.go
  alita/modules/warns.go
  internal/repo_checks/repo_checks_test.go
Labels: go, modules, test, filters, greetings, warns

fix(callbacks): guard gotgbot callback context access
  alita/modules/callback_nil_handlers_test.go
  alita/utils/chat_status/access_test.go
  alita/utils/chat_status/chat_status.go
  docs/src/content/docs/architecture/module-pattern.md
  internal/repo_checks/repo_checks_test.go
  scripts/generate_docs/generators.go
Labels: go, modules, utils, documentation, test, security

test(formatting): avoid unnecessary rules lookup
  alita/utils/formatting/formatting.go
  alita/utils/formatting/formatting_test.go
  alita/utils/helpers/helpers_extra_test.go
Labels: go, utils, test

test(modules): cover moderation command pipeline
  alita/modules/moderation_test.go
Labels: go, modules, test

test(db): cover captcha recovery lifecycle
  alita/db/antiraid_db_test.go
  alita/db/captcha_db_test.go
Labels: go, database, test

test(db): cover migration and optimized query paths
  alita/db/migrations_test.go
  alita/db/monitoring_test.go
  alita/db/optimized_queries_test.go
  alita/modules/antiraid_test.go
  alita/modules/backup_test.go
Labels: go, database, modules, test, migration

test(modules): cover help and filter helper paths
  alita/db/db_pure_test.go
  alita/db/user_db_test.go
  alita/modules/filters_test.go
  alita/modules/help_render_test.go
Labels: go, database, modules, test, filters

test(modules): cover spam and greeting helper paths
  alita/modules/antispam_test.go
  alita/modules/greetings_dedupe_test.go
  alita/modules/helpers_test.go
  alita/modules/reactions_test.go
Labels: go, modules, test, greetings

test(modules): add gotgbot command harness
  alita/modules/connections_auth_test.go
  alita/modules/rules_command_test.go
  alita/modules/test_harness_test.go
  alita/utils/cache/adminCache.go
  alita/utils/cache/adminCache_test.go
Labels: go, modules, utils, cache, test, admin

fix(db): handle connection and rules defaults
  alita/db/connections_db.go
  alita/db/connections_db_test.go
  alita/db/rules_db.go
  alita/db/rules_db_test.go
  alita/modules/connections_auth_test.go
  alita/modules/rules_command_test.go
Labels: go, database, modules, test

test(modules): cover misc command paths
  alita/modules/misc_command_test.go
  alita/modules/test_harness_test.go
Labels: go, modules, test

test(modules): cover gotgbot command handlers
  alita/db/pin_db.go
  alita/modules/disabling_command_test.go
  alita/modules/language_command_test.go
  alita/modules/pins_command_test.go
  alita/modules/test_harness_test.go
Labels: go, database, modules, test

test(modules): cover moderation command handlers
  alita/db/notes_db.go
  alita/modules/bans_command_test.go
  alita/modules/notes_command_test.go
  alita/modules/test_harness_test.go
  alita/modules/warns_command_test.go
Labels: go, database, modules, test, warns

test(modules): cover greetings and approvals handlers
  alita/db/greetings_db.go
  alita/modules/approvals_command_test.go
  alita/modules/greetings_command_test.go
  alita/modules/test_harness_test.go
Labels: go, database, modules, test, greetings

test(modules): cover filters blacklists and locks
  alita/db/filters_db.go
  alita/db/optimized_queries.go
  alita/modules/blacklists.go
  alita/modules/blacklists_command_test.go
  alita/modules/filters.go
  alita/modules/filters_command_test.go
  alita/modules/filters_test.go
  alita/modules/helpers.go
  alita/modules/locks_command_test.go
  alita/modules/notes.go
  alita/modules/test_harness_test.go
  alita/modules/users_command_test.go
  alita/utils/chat_status/access_test.go
  alita/utils/chat_status/chat_status.go
Labels: go, database, modules, utils, test, security, filters

test(modules): cover moderation commands
  alita/db/reports_db.go
  alita/modules/mutes_command_test.go
  alita/modules/purges_command_test.go
  alita/modules/reports_command_test.go
  alita/modules/test_harness_test.go
Labels: go, database, modules, test

test(modules): cover admin connection and antiraid handlers
  alita/modules/admin_test.go
  alita/modules/antiraid_test.go
  alita/modules/connections_auth_test.go
  alita/modules/test_harness_test.go
Labels: go, modules, test, admin

test(modules): cover help and admin command flows
  alita/modules/admin_test.go
  alita/modules/help_command_test.go
Labels: go, modules, test, admin

test(modules): cover backup confirmation flows
  alita/modules/backup_test.go
Labels: go, modules, test

test(modules): cover reaction commands
  alita/modules/reactions_test.go
Labels: go, modules, test
