Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

validation(critical-fixes): user testing validation complete
  .factory/validation/critical-fixes/user-testing/flows/VAL-CRIT-001.json
  .factory/validation/critical-fixes/user-testing/flows/VAL-CRIT-002.json
  .factory/validation/critical-fixes/user-testing/flows/VAL-CRIT-003.json
  .factory/validation/critical-fixes/user-testing/synthesis.json
Labels: none

fix(db): correct FirstOrCreate error handling in user_db.go
  alita/db/user_db.go
Labels: go, database

fix(httpserver): add timeout context to webhook goroutine to prevent leaks
  alita/utils/httpserver/server.go
Labels: go, utils

fix(i18n): reorder initialization - cache before i18n to prevent nil manager
  alita/main.go
  main.go
Labels: go

fix(monitoring): prevent race condition in background_stats Stop() method
  alita/utils/monitoring/background_stats.go
Labels: go, utils

fix(filters): add nil check for EffectiveSender in filtersWatcher()
  alita/modules/filters.go
Labels: go, modules, filters

fix(blacklists): add nil check for query.Message in buttonHandler()
  alita/modules/blacklists.go
Labels: go, modules

fix(reports): add error checking for all DB calls in reports module
  alita/db/reports_db.go
  alita/db/reports_db_test.go
  alita/modules/reports.go
Labels: go, database, modules, test

fix(filters): add error handling and panic recovery to RemoveAllFilters goroutine
  alita/modules/filters.go
Labels: go, modules, filters

fix(helpers): add nil check for user parameter in FormattingReplacerWithLanguage()
  alita/utils/helpers/helpers.go
Labels: go, utils

fix(config): add error logging for Int() and Int64() type conversions
  alita/config/types.go
  alita/config/types_test.go
Labels: go, config, test

fix(admin): move cache invalidation to immediately after successful promotion/demotion
  alita/modules/admin.go
Labels: go, modules, admin

fix(reports): move @admin regex compilation to package variable
  alita/modules/reports.go
Labels: go, modules

fix(connections): fix stale data return in ReconnectId()
  alita/db/connections_db.go
Labels: go, database

fix(main): add default port fallback for health check
  main.go
Labels: go

fix(httpserver): prevent goroutine leak in Start() error handling
  alita/utils/httpserver/server.go
Labels: go, utils

fix(helpers): add nil check for msg in GetNoteAndFilterType()
  alita/utils/helpers/helpers.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
Labels: go, utils, i18n

fix(extraction): consolidate bounds checks in ExtractUserAndText()
  alita/utils/extraction/extraction.go
Labels: go, utils

docs(chat_status): document pointer safety in extractChatFromContext()
  alita/utils/chat_status/chat_status.go
Labels: go, utils, security

fix(tracing): record span error before span ends
  alita/utils/tracing/processor.go
Labels: go, utils

fix(greetings_db): add missing cache invalidation in setter functions
  alita/db/greetings_db.go
Labels: go, database, greetings

Add scrutiny synthesis for db-fixes milestone
  .factory/validation/db-fixes/scrutiny/synthesis.json
Labels: none

validation(db-fixes): Mark VAL-HIGH-001, VAL-MED-004, VAL-MED-012 as passed
  .factory/validation/db-fixes/scrutiny/reviews/fix-connections-stale-data.json
  .factory/validation/db-fixes/scrutiny/reviews/fix-db-firstorcreate-errors.json
  .factory/validation/db-fixes/scrutiny/reviews/fix-greetings-cache-invalidation.json
  .factory/validation/db-fixes/user-testing/synthesis.json
Labels: none

fix(pins): use original ctx in unpinallCallback instead of partial context
  alita/modules/pins.go
Labels: go, modules

scrutiny(module-fixes): Add scrutiny synthesis and review reports for module-fixes milestone
  .factory/validation/module-fixes/scrutiny/reviews/fix-admin-cache-timing.json
  .factory/validation/module-fixes/scrutiny/reviews/fix-bans-kick-return.json
  .factory/validation/module-fixes/scrutiny/reviews/fix-blacklists-nil-chat.json
  .factory/validation/module-fixes/scrutiny/reviews/fix-filters-nil-sender.json
  .factory/validation/module-fixes/scrutiny/reviews/fix-filters-resource-leak.json
  .factory/validation/module-fixes/scrutiny/reviews/fix-pins-context-creation.json
  .factory/validation/module-fixes/scrutiny/reviews/fix-reports-db-errors.json
  .factory/validation/module-fixes/scrutiny/reviews/fix-reports-double-answer.json
  .factory/validation/module-fixes/scrutiny/reviews/fix-reports-nil-reply.json
  .factory/validation/module-fixes/scrutiny/reviews/fix-reports-regex-compile.json
  .factory/validation/module-fixes/scrutiny/synthesis.json
Labels: none

validation(module-fixes): User testing validation complete - all 10 assertions passed
  .factory/library/user-testing.md
  .factory/validation/module-fixes/user-testing/flows/group-a-handlers.json
  .factory/validation/module-fixes/user-testing/flows/group-b-logic.json
  .factory/validation/module-fixes/user-testing/synthesis.json
Labels: documentation

fix(webhook): make empty secret handling consistent between main.go and httpserver
  main.go
Labels: go

scrutiny(main-fixes): Add scrutiny synthesis and review reports for main-fixes milestone
  .factory/validation/main-fixes/scrutiny/reviews/fix-activity-monitor-ordering.json
  .factory/validation/main-fixes/scrutiny/reviews/fix-health-check-config.json
  .factory/validation/main-fixes/scrutiny/reviews/fix-http-server-start-race.json
  .factory/validation/main-fixes/scrutiny/reviews/fix-i18n-cache-nil.json
  .factory/validation/main-fixes/scrutiny/reviews/fix-webhook-goroutine-leak.json
  .factory/validation/main-fixes/scrutiny/reviews/fix-webhook-secret-consistency.json
  .factory/validation/main-fixes/scrutiny/synthesis.json
Labels: none

fix(keyword_matcher): add stop mechanism for cleanup goroutine to prevent leaks during tests
  .factory/library/user-testing.md
  .factory/validation/main-fixes/user-testing/flows/webhook-server.json
  .factory/validation/main-fixes/user-testing/synthesis.json
  alita/utils/keyword_matcher/cache.go
  alita/utils/keyword_matcher/cache_test.go
Labels: go, utils, documentation, test

style(main.go): fix import order to follow CLAUDE.md pattern
  .factory/library/user-testing.md
  .factory/validation/utils-fixes/evidence/group4-chat-status/VAL-MED-009-extractChatFromContext.go
  .factory/validation/utils-fixes/scrutiny/reviews/fix-background-stats-race.json
  .factory/validation/utils-fixes/scrutiny/reviews/fix-chat-status-pointer.json
  .factory/validation/utils-fixes/scrutiny/reviews/fix-extraction-bounds.json
  .factory/validation/utils-fixes/scrutiny/reviews/fix-helpers-msg-nil.json
  .factory/validation/utils-fixes/scrutiny/reviews/fix-helpers-nil-user.json
  .factory/validation/utils-fixes/scrutiny/reviews/fix-keyword-matcher-cleanup.json
  .factory/validation/utils-fixes/scrutiny/reviews/fix-tracing-span-error.json
  .factory/validation/utils-fixes/scrutiny/synthesis.json
  .factory/validation/utils-fixes/user-testing/flows/group1-background-stats.json
  .factory/validation/utils-fixes/user-testing/flows/group2-helpers-nil.json
  .factory/validation/utils-fixes/user-testing/flows/group3-extraction-bounds.json
  .factory/validation/utils-fixes/user-testing/flows/group4-chat-status.json
  .factory/validation/utils-fixes/user-testing/flows/group5-tracing.json
  .factory/validation/utils-fixes/user-testing/flows/group6-keyword-matcher.json
  .factory/validation/utils-fixes/user-testing/flows/group7-cross-area.json
  .factory/validation/utils-fixes/user-testing/synthesis.json
  main.go
Labels: go, documentation

refactor(main.go): replace magic numbers with constants from constants/ package
  alita/utils/constants/time.go
  main.go
Labels: go, utils

validation(polish): Complete user testing validation for polish milestone
  .factory/library/user-testing.md
  .factory/validation/polish/scrutiny/reviews/fix-import-order.json
  .factory/validation/polish/scrutiny/reviews/fix-magic-numbers.json
  .factory/validation/polish/scrutiny/synthesis.json
  .factory/validation/polish/user-testing/flows/polish-import-order.json
  .factory/validation/polish/user-testing/flows/polish-magic-numbers.json
  .factory/validation/polish/user-testing/synthesis.json
Labels: documentation

refactor: address code quality issues identified during verification
  alita/db/user_notes_db.go
  alita/modules/admin_test.go
  alita/modules/reactions.go
  alita/modules/usernotes.go
  alita/utils/monitoring/auto_remediation_test.go
  scripts/generate_docs/main.go
Labels: go, database, modules, utils, test, admin

chore(mission): override scrutiny validator - all features completed, all assertions passed
  .factory/validation/verification/scrutiny/reviews/verify-all-tests-pass.json
  .factory/validation/verification/scrutiny/reviews/verify-no-regressions.json
  .factory/validation/verification/scrutiny/synthesis.json
  alita/db/db.go
  alita/db/greetings_db.go
  alita/db/greetings_db_test.go
  alita/db/lang_db_test.go
  alita/db/pin_db_test.go
  alita/db/rules_db_test.go
  alita/db/warns_db_test.go
  alita/i18n/translator.go
  alita/modules/admin_test.go
  alita/modules/bans.go
  alita/modules/devs.go
  alita/modules/disabling.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/modules/locks.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/reports.go
  alita/modules/rules.go
  alita/modules/warns.go
  alita/utils/chat_status/chat_status.go
  alita/utils/extraction/extraction_test.go
  alita/utils/helpers/helpers.go
  alita/utils/media/sender.go
  scripts/generate_docs/generators.go
Labels: go, database, modules, utils, i18n, test, security, admin, filters, greetings, warns

ci: make lint job fail on errors
  .github/workflows/ci.yml
Labels: ci

feat(i18n): add Russian, Portuguese, and Indonesian locales
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: i18n

chore: upgrade deps
  go.mod
  go.sum
Labels: go, dependencies

fix: use process start time for /health uptime, not server construction time
  alita/config/types.go
  alita/config/types_test.go
  alita/db/captcha_db.go
  alita/db/captcha_db_test.go
  alita/db/channels_db.go
  alita/db/user_notes_db.go
  alita/health/health.go
  alita/i18n/i18n_test.go
  alita/i18n/manager.go
  alita/i18n/translator.go
  alita/i18n/types.go
  alita/metrics/prometheus.go
  alita/modules/usernotes.go
  alita/utils/cache/cache.go
  alita/utils/debug_bot/debug_bot.go
  alita/utils/debug_bot/debug_bot_test.go
  alita/utils/error_handling/error_handling.go
  alita/utils/error_handling/error_handling_test.go
  alita/utils/httpserver/server.go
  alita/utils/httpserver/server_test.go
  alita/utils/monitoring/background_stats.go
  alita/utils/tracing/cache_helpers.go
  alita/utils/tracing/cache_helpers_test.go
  alita/utils/tracing/processor.go
  alita/utils/webhook/webhook.go
  main.go
Labels: go, database, modules, utils, cache, i18n, config, test

test: add coverage for monitoring callback wiring
  alita/utils/error_handling/error_handling_test.go
  alita/utils/monitoring/background_stats_test.go
  alita/utils/tracing/processor.go
  alita/utils/tracing/processor_test.go
Labels: go, utils, test

docs: update stale references to removed cache/error helpers
  CLAUDE.md
  docs/src/content/docs/architecture/caching.md
  docs/src/content/docs/self-hosting/troubleshooting.md
  docs/src/content/docs/self-hosting/webhooks.md
Labels: documentation

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
