Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

fix(tests): correct 4 DB integration tests with wrong assumptions
  alita/db/greetings_db_test.go
  alita/db/reports_db_test.go
  alita/db/rules_db_test.go
  alita/db/warns_db_test.go
Labels: go, database, test, greetings, warns

fix(db): use nil-safe deleteCache wrapper in disable_db cache invalidation
  alita/db/disable_db.go
Labels: go, database

fix(db): use UPSERT and map updates to handle zero values correctly
  alita/db/disable_db.go
  alita/db/greetings_db.go
Labels: go, database, greetings

fix(ci): add -coverpkg flag to measure cross-package test coverage
  Makefile
Labels: build

chore(swarm): generate spec files for increase-test-coverage
  specs/increase-test-coverage/design.md
  specs/increase-test-coverage/requirements.md
  specs/increase-test-coverage/research.md
  specs/increase-test-coverage/tasks.md
Labels: documentation

feat(swarm): add unit tests for GORM types, i18n, chat_permissions, helpers [increase-test-coverage]
  alita/db/gorm_types_test.go
  alita/i18n/i18n_test.go
  alita/modules/chat_permissions_test.go
  alita/modules/helpers_test.go
Labels: go, database, modules, i18n, test

feat(swarm): add config, migration, extraction, monitoring tests [increase-test-coverage]
  alita/config/config_test.go
  alita/db/migrations_test.go
  alita/utils/extraction/extraction_test.go
  alita/utils/monitoring/auto_remediation_test.go
Labels: go, database, utils, config, test, migration

feat(swarm): add background stats collector tests [increase-test-coverage]
  alita/utils/monitoring/background_stats_test.go
Labels: go, utils, test

feat(swarm): add greetings DB tests, fix migrations test [increase-test-coverage]
  alita/db/greetings_db_test.go
  alita/db/migrations_test.go
Labels: go, database, test, greetings, migration

feat(swarm): add optimized queries DB integration tests [increase-test-coverage]
  alita/db/optimized_queries_test.go
Labels: go, database, test

feat(swarm): add captcha DB integration tests, fix extraction tests [increase-test-coverage]
  alita/db/captcha_db_test.go
  alita/utils/extraction/extraction_test.go
Labels: go, database, utils, test

feat(swarm): add disable, notes, rules DB integration tests [increase-test-coverage]
  alita/db/disable_db_test.go
  alita/db/notes_db_test.go
  alita/db/rules_db_test.go
Labels: go, database, test

feat(tests): add TableName, setDefaults, admin toggle, and connection tests
  alita/config/config_test.go
  alita/db/admin_db_test.go
  alita/db/connections_db_test.go
  alita/db/gorm_types_test.go
Labels: go, database, config, test, admin

feat(tests): add BlacklistSettingsSlice, getSpanAttributes, and Redis config tests
  alita/config/config_test.go
  alita/db/gorm_types_test.go
Labels: go, database, config, test

fix(ci): lower coverage threshold to 15% and exclude scripts from coverpkg
  .github/workflows/ci.yml
  Makefile
Labels: ci, build

chore(swarm): generate spec files for check-user-commands-bugs
  specs/check-user-commands-bugs/design.md
  specs/check-user-commands-bugs/requirements.md
  specs/check-user-commands-bugs/research.md
  specs/check-user-commands-bugs/tasks.md
Labels: documentation

fix(modules): batch 1 - nil guards, race fixes, and code quality improvements
  alita/i18n/loader.go
  alita/modules/captcha.go
  alita/modules/devs.go
  alita/modules/helpers.go
  alita/modules/locks.go
  alita/modules/misc.go
  alita/modules/purges.go
  alita/modules/users.go
  alita/utils/extraction/extraction.go
  alita/utils/helpers/helpers.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
Labels: go, modules, utils, i18n

fix(db): batch 2 - convert void DB functions to return errors with caller error handling
  alita/db/antiflood_db.go
  alita/db/filters_db.go
  alita/db/greetings_db.go
  alita/db/greetings_db_test.go
  alita/db/lang_db.go
  alita/db/pin_db.go
  alita/db/warns_db.go
  alita/modules/antiflood.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/modules/language.go
  alita/modules/pins.go
  alita/modules/warns.go
Labels: go, database, modules, test, filters, greetings, antiflood, warns

fix(tests): update DB test assertions for error-returning function signatures
  alita/db/antiflood_db_test.go
  alita/db/filters_db_test.go
  alita/db/greetings_db_test.go
  alita/db/lang_db_test.go
  alita/db/pin_db_test.go
  alita/db/warns_db_test.go
  alita/modules/devs.go
Labels: go, database, modules, test, filters, greetings, antiflood, warns

fix: user-facing command bug fixes and DB error handling (#650)
  alita/db/antiflood_db.go
  alita/db/antiflood_db_test.go
  alita/db/filters_db.go
  alita/db/filters_db_test.go
  alita/db/greetings_db.go
  alita/db/greetings_db_test.go
  alita/db/lang_db.go
  alita/db/lang_db_test.go
  alita/db/pin_db.go
  alita/db/pin_db_test.go
  alita/db/warns_db.go
  alita/db/warns_db_test.go
  alita/i18n/loader.go
  alita/modules/antiflood.go
  alita/modules/captcha.go
  alita/modules/devs.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/modules/helpers.go
  alita/modules/language.go
  alita/modules/locks.go
  alita/modules/misc.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/users.go
  alita/modules/warns.go
  alita/utils/extraction/extraction.go
  alita/utils/helpers/helpers.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  specs/check-user-commands-bugs/design.md
  specs/check-user-commands-bugs/requirements.md
  specs/check-user-commands-bugs/research.md
  specs/check-user-commands-bugs/tasks.md
Labels: go, database, modules, utils, i18n, documentation, test, filters, greetings, antiflood, warns

fix: address Copilot review issues from PR #650
  alita/db/greetings_db_test.go
  alita/db/pin_db_test.go
  alita/db/warns_db_test.go
  alita/modules/devs.go
  alita/modules/locks.go
  alita/modules/misc.go
  alita/modules/users.go
Labels: go, database, modules, test, greetings, warns

test: fix flaky LoadNotesStats DB test
  alita/db/notes_db_test.go
Labels: go, database, test

chore: upgrade deps
  go.mod
  go.sum
Labels: go, dependencies

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Labels: documentation

chore: add project config
  .planning/config.json
Labels: none

docs: complete project research
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Labels: documentation

docs: initialize project
  .planning/PROJECT.md
Labels: documentation

chore: add GSD planning config
  .planning/config.json
Labels: none

docs: create roadmap (5 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Labels: documentation

docs: define v1 requirements
  .planning/REQUIREMENTS.md
Labels: documentation

docs(01): create phase plan
  .planning/ROADMAP.md
  .planning/phases/01/01-01-PLAN.md
  .planning/phases/01/01-02-PLAN.md
  .planning/phases/01/01-03-PLAN.md
Labels: documentation

docs(phase-01): add validation strategy
  .planning/phases/01/01-VALIDATION.md
Labels: documentation

docs(phase-01): research phase 1 ground truth and tooling
  .planning/phases/01/01-RESEARCH.md
Labels: documentation

docs: add Phase 1 context decisions
  .planning/phases/01/CONTEXT.md
Labels: documentation

docs(01): update state after planning
  .planning/STATE.md
Labels: documentation

deps(actions): bump actions/upload-artifact from 6 to 7
  .github/workflows/ci.yml
Labels: ci

fix(deps): adapt bot.Request() call to gotgbot v2.0.0-rc.34 API
  alita/utils/chat_status/chat_status.go
Labels: go, utils, security

fix(ci): bump trivy-action to 0.34.2 and upload-artifact to v7 in release workflow
  .github/workflows/release.yml
Labels: ci

revert(docs): restore default Starlight theme, remove shadcn dark theme
  docs/astro.config.mjs
  docs/bun.lock
  docs/package.json
  docs/public/favicon.svg
  docs/src/assets/logo-dark.svg
  docs/src/assets/logo-light.svg
  docs/src/content/docs/commands/admin/index.mdx
  docs/src/content/docs/commands/bans/index.mdx
  docs/src/content/docs/commands/blacklists/index.mdx
  docs/src/content/docs/commands/connections/index.mdx
  docs/src/content/docs/commands/notes/index.mdx
  docs/src/content/docs/commands/pins/index.mdx
  docs/src/content/docs/commands/reports/index.mdx
  docs/src/content/docs/commands/rules/index.mdx
  docs/src/content/docs/commands/warns/index.mdx
  docs/src/styles/custom.css
Labels: documentation

fix(ci): bump trivy-action to 0.34.2 and upload-artifact to v7 in release workflow (#659)
  .github/workflows/release.yml
Labels: ci

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
