Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000

Add `pullfrog.yml` workflow
  .github/workflows/pullfrog.yml
Labels: ci

test(chat_status): add callback/query path tests for migration
  alita/utils/chat_status/access_test.go
Labels: go, utils, test, security

refactor(chat_status): migrate CanInvite denial to PermissionResponder
  alita/utils/chat_status/chat_status.go
Labels: go, utils, security

refactor(chat_status): migrate permission denial to PermissionResponder
  alita/utils/chat_status/chat_status.go
Labels: go, utils, security

refactor(chat_status): remove redundant guards, add CanInvite callback tests
  alita/utils/chat_status/access_test.go
  alita/utils/chat_status/chat_status.go
Labels: go, utils, test, security

fix(i18n): add missing chat_status_invite_link_btn_error translation key
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: i18n

refactor(chat_status): consolidate duplicate Caninvite callback denial tests into a table-driven test
  alita/utils/chat_status/access_test.go
Labels: go, utils, test, security

fix(chat_status): preserve Caninvite message-only behavior, remove unused btn key
  alita/utils/chat_status/access_test.go
  alita/utils/chat_status/chat_status.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, utils, i18n, test, security

refactor(chat_status): consolidate permission denial to PermissionResponder (#752)
  alita/utils/chat_status/access_test.go
  alita/utils/chat_status/chat_status.go
Labels: go, utils, test, security

refactor(chat_status): remove justCheck parameter from all permission functions
  alita/utils/chat_status/chat_status.go
Labels: go, utils, security

refactor(command_pipeline): update CheckFunc wrappers for pure permission checks
  alita/utils/helpers/command_pipeline.go
Labels: go, utils

test(chat_status): update tests for pure permission checks
  alita/utils/chat_status/access_test.go
Labels: go, utils, test, security

refactor(modules): strip justCheck=true from pure permission checks
  alita/modules/admin.go
  alita/modules/antiflood.go
  alita/modules/backup.go
  alita/modules/bans.go
  alita/modules/captcha.go
  alita/modules/filters.go
  alita/modules/formatting.go
  alita/modules/locks.go
  alita/modules/notes.go
  alita/modules/reports.go
  alita/modules/rules.go
  alita/modules/users.go
Labels: go, modules, admin, filters, antiflood

refactor(modules): migrate justCheck=false call sites to explicit PermissionResponder
  alita/modules/admin.go
  alita/modules/antiraid.go
  alita/modules/approvals.go
  alita/modules/backup.go
  alita/modules/bans.go
  alita/modules/blacklists.go
  alita/modules/captcha.go
  alita/modules/connections.go
  alita/modules/devs.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/modules/help.go
  alita/modules/language.go
  alita/modules/locks.go
  alita/modules/misc.go
  alita/modules/moderation.go
  alita/modules/mute.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/reactions.go
  alita/modules/reports.go
  alita/modules/rules.go
  alita/modules/warns.go
  alita/utils/chat_status/permission_responder.go
Labels: go, modules, utils, security, admin, filters, greetings, warns

fix: add missing PermissionResponder calls to all module handlers
  alita/modules/admin.go
  alita/modules/antiflood.go
  alita/modules/antiraid.go
  alita/modules/approvals.go
  alita/modules/backup.go
  alita/modules/bans.go
  alita/modules/blacklists.go
  alita/modules/captcha.go
  alita/modules/connections.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/modules/language.go
  alita/modules/locks.go
  alita/modules/misc.go
  alita/modules/mute.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/reactions.go
  alita/modules/reports.go
  alita/modules/warns.go
Labels: go, modules, admin, filters, greetings, antiflood, warns

fix(modules): resolve pull request review issues and restore user response behavior
  alita/modules/antiflood.go
  alita/modules/antiraid.go
  alita/modules/backup.go
  alita/modules/moderation.go
  alita/modules/mute.go
  alita/modules/purges.go
  alita/utils/chat_status/chat_status.go
  alita/utils/helpers/command_pipeline.go
  docs/src/content/docs/api-reference/permissions.md
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/commands/antiraid/index.md
  docs/src/content/docs/commands/approvals/index.md
  scripts/generate_docs/parsers.go
Labels: go, modules, utils, documentation, security, antiflood

docs: fix permission signatures and update command details
  docs/src/content/docs/api-reference/permissions.md
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/commands/antiraid/index.md
  docs/src/content/docs/commands/approvals/index.md
  scripts/generate_docs/generators.go
Labels: go, documentation

fix(docs-gen): handle false-positive prefixes in extractCommandDescription
  scripts/generate_docs/generators.go
  scripts/generate_docs/generators_test.go
Labels: go, test

test: add unit tests for chat_status and command_pipeline to resolve CI coverage threshold
  .github/workflows/ci.yml
  alita/utils/chat_status/chat_status_test.go
  alita/utils/chat_status/permission_responder_test.go
  alita/utils/helpers/command_pipeline_test.go
Labels: go, utils, ci, test, security

chore: remove pullfrog
  .github/workflows/pullfrog.yml
Labels: ci

chore: remove pullfrog (#754)
  .github/workflows/pullfrog.yml
Labels: ci

fix(migrations): ignore rollback SQL files (#746)
  alita/db/migrations.go
  alita/db/migrations_test.go
Labels: go, database, test, migration

docs(agents): sync AGENTS.md with current codebase practices
  AGENTS.md
Labels: documentation

docs: fix inaccurate permissions and command descriptions in command docs
  docs/src/content/docs/commands/admin/index.md
  docs/src/content/docs/commands/locks/index.md
  docs/src/content/docs/commands/warns/index.md
Labels: documentation

docs(monitoring): fix health endpoint version and remove fake prometheus metric
  docs/src/content/docs/self-hosting/monitoring.md
Labels: documentation

docs: add AntiRaid and Approvals modules to command reference
  docs/src/content/docs/api-reference/commands.md
Labels: documentation

docs(architecture): fix outdated architecture docs
  docs/src/content/docs/api-reference/callbacks.md
  docs/src/content/docs/api-reference/permissions.md
  docs/src/content/docs/architecture/caching.md
  docs/src/content/docs/architecture/handler-groups.md
  docs/src/content/docs/architecture/index.mdx
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/architecture/request-flow.mdx
Labels: documentation

docs: fix minor documentation drift across 10 files
  docs/src/content/docs/commands/antiflood/index.md
  docs/src/content/docs/commands/antiraid/index.md
  docs/src/content/docs/commands/bans/index.md
  docs/src/content/docs/commands/index.mdx
  docs/src/content/docs/commands/mutes/index.md
  docs/src/content/docs/commands/pins/index.md
  docs/src/content/docs/commands/reports/index.md
  docs/src/content/docs/getting-started/introduction.mdx
  docs/src/content/docs/self-hosting/index.mdx
  docs/src/content/docs/self-hosting/troubleshooting.md
Labels: documentation

docs(self-hosting): fix binary names, health check paths, postgres version, and missing tables
  docker-compose.yml
  docs/src/content/docs/self-hosting/binary.mdx
  docs/src/content/docs/self-hosting/database.md
  docs/src/content/docs/self-hosting/docker.mdx
  docs/src/content/docs/self-hosting/monitoring.md
  docs/src/content/docs/self-hosting/troubleshooting.md
Labels: docker, config, documentation

docs: fix inconsistencies in docs site
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/commands/mutes/index.md
  docs/src/content/docs/self-hosting/troubleshooting.md
Labels: documentation

docs: fix documentation drift across 31 files (#755)
  docker-compose.yml
  docs/src/content/docs/api-reference/callbacks.md
  docs/src/content/docs/api-reference/commands.md
  docs/src/content/docs/api-reference/permissions.md
  docs/src/content/docs/architecture/caching.md
  docs/src/content/docs/architecture/handler-groups.md
  docs/src/content/docs/architecture/index.mdx
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/architecture/request-flow.mdx
  docs/src/content/docs/commands/antiflood/index.md
  docs/src/content/docs/commands/antiraid/index.md
  docs/src/content/docs/commands/bans/index.md
  docs/src/content/docs/commands/index.mdx
  docs/src/content/docs/commands/mutes/index.md
  docs/src/content/docs/commands/pins/index.md
  docs/src/content/docs/commands/reports/index.md
  docs/src/content/docs/getting-started/introduction.mdx
  docs/src/content/docs/self-hosting/binary.mdx
  docs/src/content/docs/self-hosting/database.md
  docs/src/content/docs/self-hosting/docker.mdx
  docs/src/content/docs/self-hosting/index.mdx
  docs/src/content/docs/self-hosting/monitoring.md
  docs/src/content/docs/self-hosting/troubleshooting.md
Labels: docker, config, documentation

docs(api-reference): fix permissions, commands, callbacks, database-schema, and lock-types docs
  docs/src/content/docs/api-reference/callbacks.md
  docs/src/content/docs/api-reference/commands.md
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/lock-types.md
  docs/src/content/docs/api-reference/permissions.md
Labels: documentation

docs(self-hosting): fix multiple documentation inaccuracies
  docs/src/content/docs/self-hosting/database.md
  docs/src/content/docs/self-hosting/docker.mdx
  docs/src/content/docs/self-hosting/monitoring.md
  docs/src/content/docs/self-hosting/source.mdx
  docs/src/content/docs/self-hosting/troubleshooting.md
  docs/src/content/docs/self-hosting/webhooks.md
Labels: documentation

docs: sync documentation with codebase
  alita/config/config.go
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/permissions.md
  docs/src/content/docs/architecture/index.mdx
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/commands/index.mdx
  docs/src/content/docs/self-hosting/docker.mdx
  sample.env
Labels: go, config, documentation

chore: upgrade deps
  go.mod
  go.sum
Labels: go, dependencies

fix: address code review issues from PR #756
  alita/modules/antiflood.go
  alita/modules/greetings.go
  alita/utils/chat_status/chat_status.go
  alita/utils/formatting/formatting.go
Labels: go, modules, utils, security, greetings, antiflood

refactor(i18n): rename helpers_* translation keys to content_* prefix
  alita/utils/content/content.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, utils, i18n

fix(content): guard inline keyboard empty slices and simplify NotesParser
  alita/utils/content/content.go
Labels: go, utils

chore: bump version to v2.18.2
  alita/config/config.go
  alita/utils/tracing/tracing_test.go
  main.go
Labels: go, utils, config, test

fix: remove duplicate test code, add build tags, fix lint issues
  alita/db/cache_helpers.go
  alita/db/cache_helpers_test.go
  alita/db/locks_db_test.go
  alita/db/notes_db_test.go
  alita/modules/disabling_command_test.go
  alita/modules/help_render_test.go
  alita/utils/ratelimit/backup_ratelimit.go
  alita/utils/ratelimit/backup_ratelimit_test.go
Labels: go, database, modules, utils, test
