Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

Fix auth/callback bugs and complete locale translations
  alita/db/rules_db.go
  alita/modules/admin.go
  alita/modules/bot_updates.go
  alita/modules/connections.go
  alita/modules/connections_auth.go
  alita/modules/formatting.go
  alita/modules/help.go
  alita/modules/helpers.go
  alita/modules/language.go
  alita/modules/locks.go
  alita/modules/pins.go
  alita/modules/reactions.go
  alita/modules/rules.go
  alita/modules/warns.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, database, modules, i18n, admin, warns

chore: remove dead code
  alita/db/captcha_db.go
  alita/modules/chat_permissions.go
  alita/utils/httpserver/server.go
  alita/utils/monitoring/background_stats.go
  alita/utils/monitoring/background_stats_test.go
  alita/utils/tracing/context.go
  alita/utils/tracing/context_test.go
  alita/utils/tracing/processor.go
  alita/utils/tracing/processor_test.go
Labels: go, database, modules, utils, test

ci: add cyclomatic complexity analysis with gocyclo
  .github/workflows/ci.yml
  .golangci.yml
Labels: config, ci

fix: set only-new-issues for golangci-lint-action
  .github/workflows/ci.yml
Labels: ci

fix: disable gocyclo in duplicate code detection step
  .github/workflows/ci.yml
Labels: ci

ci: add cyclomatic complexity analysis with gocyclo (#682)
  .github/workflows/ci.yml
  .golangci.yml
Labels: config, ci

docs: consolidate documentation into AGENTS.md as single source of truth
  AGENTS.md
  CLAUDE.md
Labels: documentation

chore(docker): optimize build context and debug image
  .dockerignore
  docker-compose.yml
  docker/alpine.debug
Labels: docker, config

test(db): verify model-schema synchronization for LastActivity fields
  alita/db/model_sync_test.go
Labels: go, database, test

fix(db): synchronize optimized queries with model schema for LastActivity fields
  alita/db/model_sync_test.go
  alita/db/optimized_queries.go
Labels: go, database, test

feat(db): add CHECK constraints for data validation
  migrations/20250411000000_add_database_constraints.sql
Labels: none

feat(db): add pre-migration validation and backup scripts
  Makefile
  scripts/backup_database.sh
  scripts/validate_orphaned_data.go
Labels: go, build

feat(db): add database connection pool monitoring
  alita/config/config.go
  alita/db/db.go
  alita/db/monitoring.go
  alita/utils/httpserver/server.go
  main.go
Labels: go, database, utils, config

docs(db): add deployment checklist and migration documentation
  docs/database-migration-validation.md
  docs/deployment-checklist.md
Labels: documentation

test(db): add constraint validation tests
  alita/db/constraints_test.go
  go.mod
Labels: go, database, dependencies, test

docs(db): add comprehensive rollback procedures
  docs/rollback-procedures.md
Labels: documentation

fix: remove potential secret from migration validation docs
  docs/database-migration-validation.md
Labels: documentation

docs: add deployment summary and update checklist status
  docs/database-migration-validation.md
  docs/deployment-checklist.md
  docs/deployment-summary.md
Labels: documentation

fix(scripts): add critical production safety fixes
  scripts/backup_database.sh
  scripts/validate_orphaned_data.go
Labels: go

fix(db): harden migration safety and deployment scripts
  alita/db/db.go
  alita/db/model_sync_test.go
  docs/database-migration-validation.md
  docs/deployment-summary.md
  docs/rollback-procedures.md
  migrations/20250411000000_add_database_constraints.sql
  migrations/20250807115000_add_database_constraints.sql
  sample.env
  scripts/backup_database.sh
  scripts/validate_orphaned_data.go
Labels: go, database, config, documentation, test

fix(db): add missing CHECK constraints and refactor duplicate tests
  alita/db/constraints_test.go
  migrations/20260412000000_add_missing_check_constraints.sql
Labels: go, database, test

fix(db): restore check constraints for CI schema
  alita/db/db.go
  migrations/20260412000000_add_missing_check_constraints.sql
Labels: go, database

fix(db): force zero-value inserts in constraint tests
  alita/db/constraints_test.go
Labels: go, database, test

fix(db): add missing semicolons in DO block transformations
  alita/config/types.go
  alita/db/migrations.go
  alita/db/migrations_test.go
Labels: go, database, config, test, migration

fix(db): update index verification to match intentional index drops
  alita/db/migrations.go
Labels: go, database, migration

chore: update deps
  go.mod
  go.sum
Labels: go, dependencies

refactor: high-confidence codebase cleanup pass
  alita/db/db.go
  alita/db/migrations.go
  alita/db/monitoring.go
  alita/i18n/manager.go
  alita/modules/bot_updates.go
  alita/modules/captcha.go
  alita/modules/misc.go
  alita/modules/notes.go
  alita/utils/httpserver/server.go
  alita/utils/monitoring/auto_remediation.go
Labels: go, database, modules, utils, i18n, migration

refactor: Phase 1 high-confidence code cleanup
  alita/db/db.go
  alita/modules/filters.go
  alita/modules/helpers.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/utils/async/async_processor.go
  alita/utils/helpers/helpers.go
Labels: go, database, modules, utils, filters

refactor: Phase 2 recommended code cleanup
  alita/config/config.go
  alita/utils/helpers/helpers.go
Labels: go, utils, config

fix: invalidate keys and code sanity
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  alita/utils/cache/restrictedCache.go
  alita/utils/cache/restrictedCache_test.go
  alita/utils/constants/time.go
  alita/utils/helpers/telegram_helpers.go
  alita/utils/media/sender.go
Labels: go, utils, cache, config, ci, test

feat: restrict chat cache to eliminate permission-error spam and wasted API calls (#685)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  alita/utils/cache/adminCache.go
  alita/utils/cache/restrictedCache.go
  alita/utils/cache/restrictedCache_test.go
  alita/utils/constants/time.go
  alita/utils/helpers/helpers_test.go
  alita/utils/helpers/telegram_helpers.go
  alita/utils/media/sender.go
  alita/utils/media/sender_test.go
  alita/utils/monitoring/background_stats.go
  alita/utils/monitoring/background_stats_test.go
Labels: go, utils, cache, config, ci, test, admin

deps: upgrade astro, starlight, and starlight-links-validator
  docs/astro.config.mjs
  docs/biome.json
  docs/bun.lock
  docs/package.json
  docs/starlight-links-validator-compat.ts
Labels: documentation

chore: code cleanup phase 1 (safe)
  alita/config/config.go
  alita/db/captcha_db.go
  alita/db/migrations.go
  alita/metrics/prometheus.go
  alita/modules/misc.go
  alita/utils/helpers/helpers.go
  scripts/check_translations/main.go
  scripts/generate_docs/parsers.go
Labels: go, database, modules, utils, config, migration

chore: upgrade deps
  go.mod
  go.sum
Labels: go, dependencies

refactor(db): consolidate duplicate boolean fields
  alita/db/constraints_test.go
  alita/db/db.go
  alita/db/devs_db.go
  alita/db/devs_db_test.go
  alita/modules/admin.go
  alita/modules/admin_test.go
  alita/modules/devs.go
  migrations/20260420120000_consolidate_duplicate_fields.sql
Labels: go, database, modules, test, admin

fix(db): remove invalid 'mode' column from antiflood query
  alita/db/optimized_queries.go
Labels: go, database

docs: Add hierarchical AGENTS.md for database and modules layers
  AGENTS.md
  alita/db/AGENTS.md
  alita/modules/AGENTS.md
Labels: database, modules, documentation

chore: upgrade deps
  docs/bun.lock
  docs/package.json
Labels: documentation

deps: update Go dependencies to latest versions
  go.mod
  go.sum
Labels: go, dependencies

feat(backup): implement comprehensive backup and restore system
  alita/db/backup_db.go
  alita/db/backup_db_test.go
  alita/db/backup_types.go
  alita/main.go
  alita/modules/backup.go
  alita/modules/backup_test.go
  alita/utils/ratelimit/backup_ratelimit.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, database, modules, utils, i18n, test

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
