Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

fix(ci): make --version work without requiring services
  .github/workflows/ci.yml
  main.go
Labels: go, ci

deps: bump Go version to 1.26.0
  go.mod
Labels: go, dependencies

docs: sync auto-generated documentation with codebase
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/api-reference/lock-types.md
  docs/src/content/docs/api-reference/permissions.md
  docs/src/content/docs/commands/backup/index.md
  docs/src/content/docs/commands/reactions/index.md
  locales/config.yml
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
  scripts/generate_docs/parsers.go
Labels: go, i18n, documentation

ci: lower coverage threshold from 15% to 10%
  .github/workflows/ci.yml
Labels: ci

fix: repair doc generation pipeline and sync docs with codebase
  Makefile
  docs/src/content/docs/api-reference/commands.md
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/permissions.md
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/commands/backup/index.md
  docs/src/content/docs/commands/blacklists/index.md
  docs/src/content/docs/commands/devs/index.md
  docs/src/content/docs/commands/help/index.md
  docs/src/content/docs/commands/index.mdx
  docs/src/content/docs/commands/reactions/index.md
  docs/src/content/docs/commands/users/index.md
  locales/en.yml
  scripts/generate_docs/generators.go
  scripts/generate_docs/generators_test.go
  scripts/generate_docs/main.go
Labels: go, i18n, documentation, test, build

fix(i18n): add help/devs/users keys to all locale files
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: i18n

fix(i18n): translate help/devs/users keys to native languages
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: i18n

fix(ci): delete existing release before GoReleaser to handle tag moves
  .github/workflows/release.yml
Labels: ci

fix(security): resolve CodeQL alerts G118 and G107
  alita/db/db.go
  alita/modules/backup.go
Labels: go, database, modules

fix(security): replace flawed URL regex with net/url parser for button validation
  alita/utils/helpers/helpers.go
Labels: go, utils

fix: suppress gosec G118 false positive for context cancel
  alita/db/db.go
Labels: go, database

chore: upgrade deps
  go.mod
  go.sum
Labels: go, dependencies

docs: fix documentation inaccuracies from codebase verification
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/architecture/request-flow.mdx
  docs/src/content/docs/commands/notes/index.md
  docs/src/content/docs/commands/rules/index.md
  docs/src/content/docs/commands/warns/index.md
  docs/src/content/docs/contributing/index.mdx
  docs/src/content/docs/getting-started/introduction.mdx
  docs/src/content/docs/getting-started/quick-start.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/self-hosting/database.md
  docs/src/content/docs/self-hosting/docker.mdx
  docs/src/content/docs/self-hosting/source.mdx
Labels: documentation

docs: sync documentation with actual codebase
  alita/db/db.go
  docs/src/content/docs/api-reference/callbacks.md
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/architecture/project-structure.mdx
Labels: go, database, documentation

docs: align all documentation with actual codebase
  alita/modules/greetings.go
  alita/modules/notes.go
  docs/src/content/docs/api-reference/callbacks.md
  docs/src/content/docs/api-reference/commands.md
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/architecture/caching.md
  docs/src/content/docs/architecture/handler-groups.md
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/architecture/request-flow.mdx
  docs/src/content/docs/commands/admin/index.md
  docs/src/content/docs/commands/antiflood/index.md
  docs/src/content/docs/commands/antispam/index.md
  docs/src/content/docs/commands/backup/index.md
  docs/src/content/docs/commands/bans/index.md
  docs/src/content/docs/commands/blacklists/index.md
  docs/src/content/docs/commands/captcha/index.md
  docs/src/content/docs/commands/connections/index.md
  docs/src/content/docs/commands/devs/index.md
  docs/src/content/docs/commands/disabling/index.md
  docs/src/content/docs/commands/filters/index.md
  docs/src/content/docs/commands/greetings/index.md
  docs/src/content/docs/commands/help/index.md
  docs/src/content/docs/commands/index.mdx
  docs/src/content/docs/commands/misc/index.md
  docs/src/content/docs/commands/mutes/index.md
  docs/src/content/docs/commands/pins/index.md
  docs/src/content/docs/commands/reactions/index.md
  docs/src/content/docs/commands/rules/index.md
  docs/src/content/docs/commands/warns/index.md
  docs/src/content/docs/contributing/index.mdx
  docs/src/content/docs/self-hosting/binary.mdx
  docs/src/content/docs/self-hosting/database.md
  docs/src/content/docs/self-hosting/index.mdx
  docs/src/content/docs/self-hosting/monitoring.md
  docs/src/content/docs/self-hosting/profiling.md
  docs/src/content/docs/self-hosting/source.mdx
Labels: go, modules, documentation, greetings

fix(docs): correct Steps component structure in request-flow.mdx
  docs/src/content/docs/architecture/request-flow.mdx
Labels: documentation

fix: add nil-sender guards and callback codec regression tests
  alita/modules/help.go
  alita/modules/misc.go
  alita/modules/warns.go
  alita/utils/callbackcodec/callbackcodec_test.go
Labels: go, modules, utils, test, warns

chore: ignore git worktrees directory
  .gitignore
Labels: none

fix: remove Dev field from DevSettings struct (#689)
  alita/db/db.go
Labels: go, database

fix: remove Dev field from DevSettings struct (#689) (#703)
  alita/db/db.go
Labels: go, database

chore: migrate biome configuration to latest version
  docs/biome.json
Labels: documentation

fix: ru.yml — replace \n escape sequences with actual newlines in literal block scalars
  locales/ru.yml
Labels: i18n

fix: ru.yml — replace \n escape sequences with actual newlines in literal block scalars (#704)
  locales/ru.yml
Labels: i18n

fix(config): respect CLEAR_CACHE_ON_STARTUP env var
  alita/config/config.go
  alita/config/config_test.go
Labels: go, config, test

fix(config): respect CLEAR_CACHE_ON_STARTUP env var (#705)
  alita/config/config.go
  alita/config/config_test.go
Labels: go, config, test

i18n: translate backup and reactions module strings across all locales
  alita/config/config_test.go
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, i18n, config, test

fix(i18n): replace hardcoded strings with translations
  alita/modules/admin.go
  alita/modules/blacklists.go
  alita/modules/bot_updates.go
  alita/modules/connections.go
  alita/modules/filters.go
  alita/modules/formatting.go
  alita/modules/greetings.go
  alita/modules/help.go
  alita/modules/language.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/reactions.go
  alita/modules/warns.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, modules, i18n, admin, filters, greetings, warns

fix(tests): remove t.Parallel() from tests using t.Setenv()
  alita/config/config_test.go
Labels: go, config, test

antispam: defer Unlock so a panic in the cleanup loop can't deadlock
  alita/modules/antispam.go
Labels: go, modules

fix: callback parsing bugs — missing answers and ignored parse errors (#695)
  alita/modules/backup.go
  alita/modules/greetings.go
  alita/modules/warns.go
Labels: go, modules, greetings, warns

fix: callback parsing bugs — missing answers and ignored parse errors (#695) (#707)
  alita/modules/backup.go
  alita/modules/greetings.go
  alita/modules/warns.go
Labels: go, modules, greetings, warns

fix: fix-fire-and-forget-db-write-with-premat (#694)
  alita/modules/helpers.go
Labels: go, modules

fix: fix-fire-and-forget-db-write-with-premat (#694) (#708)
  alita/modules/helpers.go
Labels: go, modules

fix: CI duplicate code detection step runs only dupl linter (#701)
  .github/workflows/ci.yml
Labels: ci

fix: CI duplicate code detection step runs only dupl linter (#701) (#709)
  .github/workflows/ci.yml
Labels: ci

fix: remove dead code defer Stop() calls on monitoring systems (#700)
  main.go
Labels: go

fix: remove dead code defer Stop() calls on monitoring systems (#700) (#710)
  main.go
Labels: go

chore: update version fallback to v2.17.11
  main.go
Labels: go

fix(ci): correct golangci-lint v2 flag and test parallel issues
  .github/workflows/ci.yml
  alita/config/config_test.go
Labels: go, config, ci, test

fix: allow --version and --health flags to work without DB connection
  alita/config/config.go
  alita/db/db.go
  alita/utils/helpers/cli_mode_test.go
  alita/utils/helpers/helpers.go
Labels: go, database, utils, config, test

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
