Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000

perf: cache GetChatLocks to remove per-message lock queries
  alita/db/locks/optimized.go
  alita/db/locks/repository.go
  alita/db/locks/repository_test.go
Labels: go, database, test

fix: make join-dedup claim atomic to prevent duplicate welcome/captcha
  alita/modules/greetings.go
  alita/modules/greetings_dedupe_test.go
Labels: go, modules, test, greetings

fix: accept bare seconds and s-suffix in antiraid parseDuration
  alita/modules/antiraid.go
  alita/modules/antiraid_test.go
Labels: go, modules, test

perf: cache IsBotAdmin and skip bot-admin API call when no blacklist triggers
  alita/modules/blacklists.go
  alita/modules/blacklists_command_test.go
  alita/utils/chat_status/chat_status.go
  alita/utils/chat_status/chat_status_test.go
Labels: go, modules, utils, test, security

fix: default WarnMode to mute in WarnUser transaction
  alita/db/warns/repository.go
  alita/db/warns/repository_test.go
Labels: go, database, test

fix: clean up antiflood per-key mutex map to stop memory leak
  alita/modules/antiflood.go
  alita/modules/antiflood_command_test.go
Labels: go, modules, test, antiflood

perf: give filters and blacklists separate keyword-matcher caches
  alita/modules/blacklists.go
  alita/modules/filters.go
  alita/utils/keyword_matcher/cache.go
  alita/utils/keyword_matcher/cache_named_test.go
Labels: go, modules, utils, test, filters

security: require auth token for metrics endpoints and stop error leak
  alita/config/config.go
  alita/utils/httpserver/server.go
  alita/utils/httpserver/server_test.go
  main.go
  sample.env
Labels: go, utils, config, test

security: serve webhook on a static path and validate via header only
  alita/utils/httpserver/server.go
  alita/utils/httpserver/server_test.go
Labels: go, utils, test

test: characterization tests for IsUserAdmin permission gate
  alita/utils/chat_status/isuseradmin_test.go
Labels: go, utils, test, security

security: require chat membership for rules/notes deep links
  alita/i18n/test_helper.go
  alita/modules/helpers_test.go
  alita/modules/notes.go
  alita/modules/rules.go
Labels: go, modules, i18n, test

refactor(config): remove dead performance-flag and worker-pool config
  alita/config/config.go
  alita/config/config_pure_test.go
  alita/config/config_test.go
  sample.env
  scripts/generate_docs/parsers_test.go
Labels: go, config, test

ci: gate docs, translation, and duplicate drift
  .github/workflows/ci.yml
Labels: ci

refactor: route warns through standardModGates
  alita/modules/warns.go
Labels: go, modules, warns

test: characterization tests for antiraid auto-enforcement
  alita/modules/antiraid_miniredis_test.go
  alita/modules/antiraid_test.go
  alita/utils/cache/test_setup_testtools.go
  go.mod
  go.sum
Labels: go, modules, utils, cache, dependencies, test

feat(backup): support antiraid and approvals in backup/restore
  alita/db/backup/backup.go
  alita/db/backup/backup_test.go
  alita/db/backup/pure_test.go
  alita/db/backup/types.go
  alita/modules/backup_test.go
Labels: go, database, modules, test

feat(migrations): verify migration checksums to detect content drift
  alita/db/migrations/runner.go
  alita/db/migrations/runner_test.go
Labels: go, database, test

docs: track RC dependency risk and reconcile stated-but-undelivered claims
  AGENTS.md
  README.md
  locales/config.yml
Labels: i18n, documentation

chore: add CLAUDE.md
  CLAUDE.md
Labels: documentation

fix(db): bind UpdateChat atomic append with GORM placeholders
  alita/db/chats/repository.go
Labels: go, database

feat(logredact): scrub sensitive data from all log output
  AGENTS.md
  alita/config/config.go
  alita/utils/logredact/logredact.go
  alita/utils/logredact/logredact_test.go
Labels: go, utils, config, documentation, test

docs: rewrite AGENTS.md as a reconciled whole-codebase guide
  AGENTS.md
Labels: documentation

ci: add ai-review self-hosted AI PR reviewer
  .ai-review.yml
  .github/workflows/ai-review-commands.yml
  .github/workflows/ai-review.yml
Labels: config, ci

chore: code cleanup phase 2 (REVIEW)
  alita/modules/backup.go
Labels: go, modules

chore: code cleanup phase 2 (REVIEW) (#780)
  alita/modules/backup.go
Labels: go, modules

chore: remove over-engineered subsystems and the viper dependency
  AGENTS.md
  alita/config/config.go
  alita/i18n/i18n_test.go
  alita/i18n/loader.go
  alita/i18n/manager.go
  alita/i18n/test_helper.go
  alita/i18n/translator.go
  alita/i18n/types.go
  alita/main.go
  alita/modules/connections.go
  alita/modules/connections_auth_test.go
  alita/utils/async/async_processor.go
  alita/utils/async/async_processor_test.go
  alita/utils/helpers/decorators.go
  alita/utils/monitoring/auto_remediation.go
  alita/utils/monitoring/auto_remediation_test.go
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/architecture/request-flow.mdx
  go.mod
  go.sum
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
  main.go
  sample.env
Labels: go, modules, utils, i18n, config, dependencies, documentation, test

chore: remove over-engineered subsystems and the viper dependency (#781)
  AGENTS.md
  alita/config/config.go
  alita/i18n/i18n_test.go
  alita/i18n/loader.go
  alita/i18n/manager.go
  alita/i18n/test_helper.go
  alita/i18n/translator.go
  alita/i18n/types.go
  alita/main.go
  alita/modules/connections.go
  alita/modules/connections_auth_test.go
  alita/utils/async/async_processor.go
  alita/utils/async/async_processor_test.go
  alita/utils/helpers/decorators.go
  alita/utils/monitoring/auto_remediation.go
  alita/utils/monitoring/auto_remediation_test.go
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/architecture/request-flow.mdx
  go.mod
  go.sum
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
  main.go
  sample.env
Labels: go, modules, utils, i18n, config, dependencies, documentation, test

fix(release): repair workflow_dispatch tag push and auto-patch BotVersion
  .github/workflows/release.yml
  .goreleaser.yaml
  AGENTS.md
  Makefile
  alita/config/config.go
  main.go
  scripts/bump_version.sh
Labels: go, config, ci, documentation, build

chore: upgrade deps
  go.mod
  go.sum
Labels: go, dependencies

ci(release): verify BotVersion matches tag on release
  .github/workflows/release.yml
Labels: ci

chore(release): set BotVersion to v2.19.6
  alita/config/config.go
  main.go
Labels: go, config

docs(agents): reconcile AGENTS.md with current codebase
  AGENTS.md
Labels: documentation

chore(release): set BotVersion to v2.19.7
  alita/config/config.go
  main.go
Labels: go, config

feat(federations): cross-chat ban federation system
  alita/db/backup/backup.go
  alita/db/backup/pure_test.go
  alita/db/backup/testmain_test.go
  alita/db/backup/types.go
  alita/db/cache/ttl.go
  alita/db/db.go
  alita/db/federations/enforcement.go
  alita/db/federations/import_export.go
  alita/db/federations/optimized.go
  alita/db/federations/repository.go
  alita/db/federations/repository_test.go
  alita/db/models/federation.go
  alita/db/models/federation_admin.go
  alita/db/models/federation_ban.go
  alita/db/models/federation_chat.go
  alita/db/models/federation_settings.go
  alita/db/models/federation_subscription.go
  alita/db/testmain_test.go
  alita/modules/federations.go
  alita/modules/federations_helpers.go
  alita/modules/registry_test.go
  alita/modules/users.go
  alita/utils/ratelimit/federation_ratelimit.go
  locales/config.yml
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
  migrations/20250814100001_drop_unused_chat_users_table.sql
  migrations/20260620120000_add_federations_tables.sql
Labels: go, database, modules, utils, i18n, test

chore: remove ai-review reusable workflows
  .github/workflows/ai-review-commands.yml
  .github/workflows/ai-review.yml
Labels: ci

docs: add agent skills config for matt-pocock engineering skills
  AGENTS.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Labels: documentation

docs: remove stale planning artifacts
  README.md
  docs/bun.lock
  docs/knip.json
  docs/package.json
  docs/superpowers/plans/2026-06-02-splitting-helpers-go.md
  docs/superpowers/plans/db-package-split.md
  docs/superpowers/specs/2026-06-02-split-agents-md-design.md
  docs/superpowers/specs/2026-06-02-splitting-helpers-go.md
  docs/superpowers/specs/db-package-split.md
Labels: documentation

refactor: trim docs generator
  AGENTS.md
  scripts/generate_docs/generators.go
  scripts/generate_docs/generators_test.go
  scripts/generate_docs/main.go
  scripts/generate_docs/parsers.go
  scripts/generate_docs/parsers_test.go
  scripts/generate_docs/reference_generators_test.go
Labels: go, documentation, test

refactor: remove obsolete runtime wrappers
  AGENTS.md
  alita/db/migrations/runner.go
  alita/db/migrations/runner_test.go
  alita/modules/bot_updates.go
  alita/modules/bot_updates_load_test.go
  alita/modules/bot_updates_test.go
  alita/modules/help_system.go
  alita/modules/registry.go
  alita/modules/registry_test.go
  alita/utils/keyboard/keyboard.go
  alita/utils/keyboard/keyboard_test.go
  alita/utils/keyword_matcher/cache.go
  alita/utils/keyword_matcher/cache_test.go
  main.go
Labels: go, database, modules, utils, documentation, test

refactor: remove redundant bot updates loader test
  alita/modules/bot_updates_load_test.go
  alita/modules/registry.go
  alita/modules/registry_test.go
Labels: go, modules, test
