Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

fix(greetings): prevent nil pointer panic and restore error suppression
  alita/modules/greetings.go
  alita/utils/media/sender.go
Labels: go, modules, utils, greetings

ci: overhaul GitHub Actions with security hardening and new features
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/pr-docker-enhanced.yml
  .github/workflows/release.yml
Labels: ci, dependencies, documentation

ci: remove commitlint and pr-docker-enhanced workflows
  .github/workflows/commitlint.yml
  .github/workflows/pr-docker-enhanced.yml
Labels: ci

fix(ci): use dynamic references for fork compatibility
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-native-merge.yml
Labels: ci, dependencies

link AGENTS.md to CLAUDE.md
  AGENTS.md
Labels: documentation

fix(ci): correct trivy-action version tag
  .github/workflows/release.yml
Labels: ci

fix(security): comprehensive code review fixes across 19 files
  alita/config/config.go
  alita/db/db.go
  alita/modules/antiflood.go
  alita/modules/blacklists.go
  alita/modules/filters.go
  alita/modules/help.go
  alita/modules/helpers.go
  alita/modules/language.go
  alita/modules/notes.go
  alita/modules/purges.go
  alita/modules/rules.go
  alita/modules/warns.go
  alita/utils/cache/adminCache.go
  alita/utils/cache/cache.go
  alita/utils/chat_status/chat_status.go
  alita/utils/helpers/helpers.go
  alita/utils/httpserver/server.go
  alita/utils/shutdown/graceful.go
  locales/en.yml
Labels: go, database, modules, utils, cache, i18n, config, security, admin, filters, antiflood, warns

fix(review): address code review issues across 8 files
  alita/modules/blacklists.go
  alita/modules/helpers.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/rules.go
  alita/utils/chat_status/chat_status.go
  alita/utils/httpserver/server.go
Labels: go, modules, utils, security

fix(security): comprehensive code review fixes across 19 files (#607)
  alita/config/config.go
  alita/db/db.go
  alita/modules/antiflood.go
  alita/modules/blacklists.go
  alita/modules/filters.go
  alita/modules/help.go
  alita/modules/helpers.go
  alita/modules/language.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/purges.go
  alita/modules/rules.go
  alita/modules/warns.go
  alita/utils/cache/adminCache.go
  alita/utils/cache/cache.go
  alita/utils/chat_status/chat_status.go
  alita/utils/helpers/helpers.go
  alita/utils/httpserver/server.go
  alita/utils/shutdown/graceful.go
  locales/en.yml
Labels: go, database, modules, utils, cache, i18n, config, security, admin, filters, antiflood, warns

remove useless migration docs
  docs/MIGRATION_MONGO_TO_PSQL.md
  docs/PERFORMANCE_OPTIMIZATIONS.md
Labels: documentation

initialize docs
  docs/.gitignore
  docs/README.md
  docs/astro.config.mjs
  docs/bun.lock
  docs/package.json
  docs/public/favicon.svg
  docs/src/assets/houston.webp
  docs/src/content.config.ts
  docs/src/content/docs/guides/example.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/example.md
  docs/tsconfig.json
Labels: documentation

add docs
  Makefile
  docs/astro.config.mjs
  docs/src/content/docs/api-reference/commands.md
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/commands/admin/index.md
  docs/src/content/docs/commands/antiflood/index.md
  docs/src/content/docs/commands/bans/index.md
  docs/src/content/docs/commands/blacklists/index.md
  docs/src/content/docs/commands/captcha/index.md
  docs/src/content/docs/commands/connections/index.md
  docs/src/content/docs/commands/disabling/index.md
  docs/src/content/docs/commands/filters/index.md
  docs/src/content/docs/commands/formatting/index.md
  docs/src/content/docs/commands/greetings/index.md
  docs/src/content/docs/commands/index.md
  docs/src/content/docs/commands/languages/index.md
  docs/src/content/docs/commands/locks/index.md
  docs/src/content/docs/commands/misc/index.md
  docs/src/content/docs/commands/mutes/index.md
  docs/src/content/docs/commands/notes/index.md
  docs/src/content/docs/commands/pins/index.md
  docs/src/content/docs/commands/purges/index.md
  docs/src/content/docs/commands/reports/index.md
  docs/src/content/docs/commands/rules/index.md
  docs/src/content/docs/commands/warns/index.md
  docs/src/content/docs/contributing/index.md
  docs/src/content/docs/getting-started/introduction.md
  docs/src/content/docs/getting-started/quick-start.md
  docs/src/content/docs/guides/example.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/example.md
  docs/src/content/docs/self-hosting/index.md
  scripts/generate_docs/generators.go
  scripts/generate_docs/main.go
  scripts/generate_docs/parsers.go
Labels: go, documentation, build

add phase 3 and 4 docs
  docs/astro.config.mjs
  docs/src/content/docs/api-reference/callbacks.md
  docs/src/content/docs/api-reference/permissions.md
  docs/src/content/docs/architecture/caching.md
  docs/src/content/docs/architecture/index.md
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/architecture/project-structure.md
  docs/src/content/docs/architecture/request-flow.md
  docs/src/content/docs/self-hosting/binary.md
  docs/src/content/docs/self-hosting/database.md
  docs/src/content/docs/self-hosting/docker.md
  docs/src/content/docs/self-hosting/monitoring.md
  docs/src/content/docs/self-hosting/source.md
  docs/src/content/docs/self-hosting/troubleshooting.md
  docs/src/content/docs/self-hosting/webhooks.md
Labels: documentation

feat(docs): add auto-generation for callbacks and permissions
  docs/src/content/docs/api-reference/callbacks.md
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/permissions.md
  scripts/generate_docs/generators.go
  scripts/generate_docs/main.go
  scripts/generate_docs/parsers.go
Labels: go, documentation

refactor(docs): remove outdated refactoring plan document
  REFACTORING_PLAN.md
Labels: documentation

feat: add GitHub Actions workflow for documentation build and deployment
  .github/workflows/docs.yml
  docs/src/content/docs/api-reference/database-schema.md
  docs/wrangler.jsonc
Labels: ci, documentation

auto-gen llms.txt
  docs/astro.config.mjs
  docs/bun.lock
  docs/package.json
  docs/src/content/docs/api-reference/database-schema.md
Labels: documentation

fix(ci): resolve linting errors and gosec SARIF upload failure
  .github/workflows/ci.yml
  docs/wrangler.jsonc
  scripts/generate_docs/parsers.go
Labels: go, ci, documentation

fix(docs): use custom domain for site URL in llms.txt generation
  docs/astro.config.mjs
Labels: documentation

chore(docs): regenerate docs with custom domain URLs
  docs/src/content/docs/api-reference/database-schema.md
Labels: documentation

fix(docs): remove invalid routes config from wrangler
  docs/wrangler.jsonc
Labels: documentation

feat(docs): add robots.txt with sitemap reference
  docs/public/robots.txt
Labels: documentation

update deps
  docs/bun.lock
  docs/package.json
Labels: documentation

New files from Fly.io Launch
  Dockerfile
  fly.toml
Labels: docker, config

chore(docs): update tsconfig with stricter settings
  docs/.gitignore
  docs/tsconfig.json
Labels: documentation

docs: update README to match project documentation
  docs/README.md
Labels: documentation

fix(admin): resolve user lookup and security issues in admin module
  alita/db/admin_db.go
  alita/modules/admin.go
  alita/utils/extraction/extraction.go
  alita/utils/helpers/helpers.go
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/commands/admin/index.md
  docs/src/content/docs/contributing/index.md
  docs/src/content/docs/self-hosting/troubleshooting.md
  locales/en.yml
  locales/es.yml
Labels: go, database, modules, utils, i18n, documentation, admin

fix(antiflood): resolve multiple critical bugs in flood protection
  alita/db/optimized_queries.go
  alita/modules/antiflood.go
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/commands/antiflood/index.md
Labels: go, database, modules, documentation, antiflood

fix(antispam): resolve critical bugs in spam protection module
  alita/modules/antispam.go
  alita/modules/helpers.go
  docs/src/content/docs/commands/antispam/index.md
  docs/src/content/docs/commands/index.md
Labels: go, modules, documentation

fix(bans): resolve multiple critical bugs in ban module
  alita/db/lang_db.go
  alita/modules/bans.go
  alita/utils/chat_status/chat_status.go
  alita/utils/extraction/extraction.go
  alita/utils/helpers/channel_helpers.go
  docs/src/content/docs/api-reference/permissions.md
  docs/src/content/docs/commands/bans/index.md
  docs/src/content/docs/contributing/index.md
  locales/en.yml
  locales/es.yml
Labels: go, database, modules, utils, i18n, documentation, security

fix(blacklists): resolve multiple critical bugs in blacklist module
  alita/db/blacklists_db.go
  alita/db/db.go
  alita/modules/blacklists.go
  docs/src/content/docs/commands/blacklists/index.md
  locales/es.yml
Labels: go, database, modules, i18n, documentation

fix(bot_updates): resolve naming and type safety issues in anonymous admin verification
  alita/modules/bot_updates.go
  docs/src/content/docs/architecture/caching.md
  docs/src/content/docs/commands/admin/index.md
Labels: go, modules, documentation

docs(captcha): improve captcha module documentation
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/commands/captcha/index.md
Labels: documentation

fix(connections): resolve field mismatch in connection settings toggle
  alita/db/connections_db.go
  alita/db/db.go
  docs/src/content/docs/api-reference/database-schema.md
  migrations/20251231131415_drop_connection_settings_enabled_column.sql
Labels: go, database, documentation

fix(devs): resolve multiple critical bugs in developer module
  alita/db/devs_db.go
  alita/modules/devs.go
  docs/src/content/docs/api-reference/commands.md
Labels: go, database, modules, documentation

fix(greetings): resolve critical bugs in greetings module
  CLAUDE.md
  alita/modules/greetings.go
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/commands/greetings/index.md
Labels: go, modules, documentation, greetings

fix(disabling): resolve multiple critical bugs in command disabling module
  alita/db/disable_db.go
  alita/modules/disabling.go
  alita/utils/chat_status/chat_status.go
  docs/src/content/docs/commands/disabling/index.md
Labels: go, database, modules, utils, documentation, security

fix(formatting): resolve multiple critical bugs in formatting module
  alita/modules/formatting.go
  alita/modules/helpers.go
  docs/src/content/docs/commands/formatting/index.md
  locales/en.yml
  locales/es.yml
Labels: go, modules, i18n, documentation

fix(filters): resolve multiple critical bugs in filters module
  alita/db/optimized_queries.go
  alita/modules/bot_updates.go
  alita/modules/captcha.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/utils/helpers/helpers.go
  docs/src/content/docs/commands/filters/index.md
Labels: go, database, modules, utils, documentation, filters, greetings

fix(warns): resolve multiple critical bugs in warns module
  alita/db/warns_db.go
  alita/modules/warns.go
  docs/src/content/docs/commands/warns/index.md
Labels: go, database, modules, documentation, warns

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
