Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

fix(cache): address review nits and add nil-marshal lock test
  alita/db/locks_db_test.go
  alita/utils/ratelimit/backup_ratelimit.go
Labels: go, database, utils, test

fix(captcha): log refresh cooldown cache write failures
  alita/modules/captcha.go
Labels: go, modules

fix(test): resolve captcha recovery race and raise coverage
  alita/db/cache_helpers_test.go
  alita/db/locks_db_test.go
  alita/modules/admin_test.go
  alita/modules/captcha.go
  alita/modules/captcha_command_test.go
  alita/modules/greetings_dedupe_test.go
  alita/modules/reactions_test.go
  alita/utils/cache/marshal_test.go
  alita/utils/cache/memory_store_test.go
  alita/utils/cache/test_setup_testtools.go
Labels: go, database, modules, utils, cache, test, admin, greetings

fix: address CodeRabbit feedback on cache and recovery paths
  alita/db/captcha_db_test.go
  alita/modules/captcha.go
  alita/modules/greetings_dedupe_test.go
  alita/modules/reactions_test.go
Labels: go, database, modules, test, greetings

fix: address remaining CodeRabbit review nits
  alita/modules/admin_test.go
  alita/modules/captcha_command_test.go
  alita/modules/reactions.go
  alita/modules/reactions_test.go
Labels: go, modules, test, admin

test: raise coverage to 80% threshold
  alita/db/cache_helpers_test.go
  alita/modules/captcha_command_test.go
  alita/utils/cache/memory_store_test.go
Labels: go, database, modules, utils, cache, test

fix(test): move InitTestMarshal test behind testtools tag
  alita/utils/cache/init_marshal_testtools_test.go
  alita/utils/cache/memory_store_test.go
Labels: go, utils, cache, test

fix(test): reach 80% coverage without testtools-only lint issues
  alita/utils/cache/init_marshal_testtools_test.go
  alita/utils/cache/memory_store_test.go
  alita/utils/cache/test_setup_testtools.go
Labels: go, utils, cache, test

fix(test): address CodeRabbit marshaler and AbleMap feedback
  alita/modules/bot_updates_test.go
  alita/modules/reactions_test.go
Labels: go, modules, test

fix(cache): add test build tags, resolve race in docs, fix captcha recovery error handling
  alita/modules/captcha.go
  alita/utils/cache/adminCache_test.go
  alita/utils/cache/marshal_test.go
  alita/utils/cache/memory_store_test.go
  docs/src/content/docs/architecture/caching.md
Labels: go, modules, utils, cache, documentation, test, admin

fix(cache): unexport Marshal and use mutex accessors (#738)
  AGENTS.md
  alita/db/cache_helpers.go
  alita/db/cache_helpers_test.go
  alita/db/captcha_db_test.go
  alita/db/locks_db.go
  alita/db/locks_db_test.go
  alita/modules/admin.go
  alita/modules/admin_test.go
  alita/modules/antiraid.go
  alita/modules/antiraid_test.go
  alita/modules/bot_updates_test.go
  alita/modules/captcha.go
  alita/modules/captcha_command_test.go
  alita/modules/filters.go
  alita/modules/filters_test.go
  alita/modules/greetings.go
  alita/modules/greetings_dedupe_test.go
  alita/modules/reactions.go
  alita/modules/reactions_test.go
  alita/modules/test_harness_test.go
  alita/utils/cache/adminCache.go
  alita/utils/cache/adminCache_test.go
  alita/utils/cache/cache.go
  alita/utils/cache/marshal_test.go
  alita/utils/cache/memory_store_test.go
  alita/utils/cache/restrictedCache.go
  alita/utils/cache/restrictedCache_test.go
  alita/utils/cache/test_setup_testtools.go
  alita/utils/chat_status/chat_status.go
  alita/utils/extraction/extraction_test.go
  alita/utils/ratelimit/backup_ratelimit.go
  alita/utils/ratelimit/backup_ratelimit_test.go
  docs/src/content/docs/architecture/caching.md
Labels: go, database, modules, utils, cache, documentation, test, security, admin, filters, greetings

feat(cache): add Redis cache layer for NotesSettings with write invalidation (#735)
  alita/db/cache_helpers.go
  alita/db/notes_db.go
Labels: go, database

test(notes): cache invalidation for NotesSettings
  alita/db/notes_db_test.go
Labels: go, database, test

test(notes): fail on cleanup errors in notes_db_test
  alita/db/notes_db_test.go
Labels: go, database, test

test(notes): reformat compact cleanup error checks into multiline blocks
  alita/db/notes_db_test.go
Labels: go, database, test

test(notes): fail on cleanup errors in notes_db_test
  alita/db/notes_db_test.go
Labels: go, database, test

feat(cache): add Redis cache layer for NotesSettings with write invalidation (#735) (#739)
  alita/db/cache_helpers.go
  alita/db/notes_db.go
  alita/db/notes_db_test.go
Labels: go, database, test

refactor(modules): thread help registry through helper functions (#737)
  alita/modules/help.go
  alita/modules/helpers.go
  alita/modules/helpers_test.go
Labels: go, modules, test

test(modules): convert registry helper tests to table-driven subtests
  alita/modules/helpers_test.go
Labels: go, modules, test

fix(modules): use registry-specific keyboard in getHelpTextAndMarkup fallback
  alita/modules/helpers.go
Labels: go, modules

refactor(modules): thread help registry through helper functions (#740)
  alita/modules/help.go
  alita/modules/helpers.go
  alita/modules/helpers_test.go
Labels: go, modules, test

refactor(chat_status): consolidate permission-check response logic into PermissionResponder
  alita/utils/chat_status/chat_status.go
  alita/utils/chat_status/permission_responder.go
Labels: go, utils, security

refactor(chat_status): consolidate permission-check response logic into PermissionResponder (#743)
  alita/utils/chat_status/chat_status.go
  alita/utils/chat_status/permission_responder.go
Labels: go, utils, security

feat(helpers): introduce Command Permission Pipeline (closes #741)
  alita/modules/admin.go
  alita/modules/admin_test.go
  alita/modules/bot_updates.go
  alita/modules/pins.go
  alita/modules/pins_command_test.go
  alita/utils/helpers/command_pipeline.go
Labels: go, modules, utils, test, admin

fix: address code review nits and CI lint failures
  alita/modules/admin.go
  alita/utils/helpers/command_pipeline.go
Labels: go, modules, utils, admin

test: add unit tests for command pipeline and permission responder
  alita/utils/chat_status/permission_responder_test.go
  alita/utils/helpers/command_pipeline_test.go
Labels: go, utils, test, security

test: boost coverage from 79.9% to 80.2%
  alita/db/blacklists_db_test.go
  alita/db/channels_db_test.go
  alita/db/connections_db_test.go
  alita/db/disable_db_test.go
  alita/db/filters_db_test.go
  alita/db/notes_db_test.go
  alita/db/user_db_test.go
  alita/modules/helpers_test.go
  alita/utils/cache/marshal_test.go
  alita/utils/helpers/command_pipeline_test.go
Labels: go, database, modules, utils, cache, test, filters

fix: address code review feedback from CodeRabbit
  alita/modules/admin.go
  alita/modules/helpers_test.go
  alita/modules/pins.go
  alita/modules/pins_command_test.go
  alita/utils/cache/marshal_test.go
Labels: go, modules, utils, cache, test, admin

test: verify and fix review findings in test files
  alita/modules/admin_test.go
  alita/modules/pins_command_test.go
  alita/utils/cache/marshal_test.go
  alita/utils/chat_status/permission_responder_test.go
Labels: go, modules, utils, cache, test, security, admin

fix: address review nits - nil guards, CanUserPin gate, test cleanup
  alita/modules/admin.go
  alita/modules/pins.go
  alita/utils/cache/marshal_test.go
Labels: go, modules, utils, cache, test, admin

fix(pins): add CanUserPin guard to /unpinall command registration
  alita/modules/pins.go
Labels: go, modules

fix: address review findings - panic recovery, db fixtures, test error checks, comment style
  alita/db/blacklists_db_test.go
  alita/db/channels_db_test.go
  alita/db/connections_db_test.go
  alita/db/disable_db_test.go
  alita/db/filters_db_test.go
  alita/db/notes_db_test.go
  alita/db/user_db_test.go
  alita/modules/admin_test.go
  alita/modules/bot_updates.go
  alita/utils/cache/marshal_test.go
  alita/utils/chat_status/permission_responder_test.go
Labels: go, database, modules, utils, cache, test, security, admin, filters

fix(lint): suppress errcheck on intentional DB teardown in tests
  alita/db/blacklists_db_test.go
  alita/db/channels_db_test.go
  alita/db/connections_db_test.go
  alita/db/disable_db_test.go
  alita/db/filters_db_test.go
  alita/db/notes_db_test.go
  alita/db/user_db_test.go
Labels: go, database, test, filters

feat(helpers): introduce Command Permission Pipeline (closes #741) (#744)
  alita/db/blacklists_db_test.go
  alita/db/channels_db_test.go
  alita/db/connections_db_test.go
  alita/db/disable_db_test.go
  alita/db/filters_db_test.go
  alita/db/notes_db_test.go
  alita/db/user_db_test.go
  alita/modules/admin.go
  alita/modules/admin_test.go
  alita/modules/bot_updates.go
  alita/modules/helpers_test.go
  alita/modules/pins.go
  alita/modules/pins_command_test.go
  alita/utils/cache/marshal_test.go
  alita/utils/chat_status/permission_responder_test.go
  alita/utils/helpers/command_pipeline.go
  alita/utils/helpers/command_pipeline_test.go
Labels: go, database, modules, utils, cache, test, security, admin, filters

feat(i18n): align keys and fix formatting discrepancies across all locales
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: i18n

fix(i18n): correct Devanagari character encoding in Hindi locale
  locales/hi.yml
Labels: i18n

feat(i18n): align keys and fix formatting discrepancies across all locales (#745)
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: i18n

fix(migrations): ignore rollback SQL files
  alita/db/migrations.go
  alita/db/migrations_test.go
Labels: go, database, test, migration

fix(build): adapt gotgbot v2.0.0-rc.35 *bool API changes
  alita/modules/admin.go
  alita/modules/captcha.go
  alita/modules/chat_permissions.go
  alita/modules/chat_permissions_test.go
  alita/modules/greetings.go
  alita/utils/helpers/ptr.go
Labels: go, modules, utils, test, admin, greetings

fix(build): adapt gotgbot v2.0.0-rc.35 *bool API changes (#748)
  alita/modules/admin.go
  alita/modules/captcha.go
  alita/modules/chat_permissions.go
  alita/modules/chat_permissions_test.go
  alita/modules/greetings.go
  alita/utils/helpers/ptr.go
Labels: go, modules, utils, test, admin, greetings

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
