Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

test(contract): update product contract and registry assertions for NSFW module
  alita/modules/nsfw.go
  alita/modules/registry_test.go
  alita/product_contract_test.go
Labels: go, modules, test

feat(moderation): add /nsfw command using TypeSafe AI
  alita/config/config.go
  alita/config/config_pure_test.go
  alita/modules/nsfw.go
  alita/modules/nsfw_command_test.go
  locales/config.yml
  locales/en.yml
  sample.env
Labels: go, modules, i18n, config, test

fix(greetings): log expected Telegram conditions from join pipeline as warnings (#900)
  alita/modules/error_logging.go
  alita/modules/error_logging_test.go
  alita/modules/greetings.go
  alita/modules/membership.go
Labels: go, modules, test, greetings

chore: prepare v2.23.11 release
  alita/config/config.go
  main.go
Labels: go, config

chore: add release script
  Makefile
  scripts/release.sh
Labels: build

chore: prepare v2.23.11 release (#901)
  alita/config/config.go
  main.go
Labels: go, config

feat(nsfw): allow configured groups with daily token buckets
  AGENTS.md
  alita/config/config.go
  alita/config/config_pure_test.go
  alita/modules/nsfw.go
  alita/modules/nsfw_command_test.go
  alita/utils/ratelimit/nsfw_ratelimit.go
  alita/utils/ratelimit/nsfw_ratelimit_test.go
  locales/en.yml
  sample.env
Labels: go, modules, utils, i18n, config, documentation, test

fix(help): avoid logging deep-link dispatch sentinels
  alita/modules/help.go
  alita/modules/help_command_test.go
Labels: go, modules, test

fix(help): avoid logging deep-link dispatch sentinels (#903)
  alita/modules/help.go
  alita/modules/help_command_test.go
Labels: go, modules, test

chore: prepare v2.23.12 patch release
  alita/config/config.go
  main.go
Labels: go, config

chore: prepare v2.23.12 patch release (#904)
  alita/config/config.go
  main.go
Labels: go, config

fix(notes,blacklists): avoid logging dispatcher control sentinels as errors
  alita/modules/blacklists.go
  alita/modules/blacklists_command_test.go
  alita/modules/notes.go
  alita/modules/notes_command_test.go
Labels: go, modules, test

fix(notes,blacklists): avoid logging dispatcher control sentinels as errors (#905)
  alita/modules/blacklists.go
  alita/modules/blacklists_command_test.go
  alita/modules/notes.go
  alita/modules/notes_command_test.go
Labels: go, modules, test

chore: prepare v2.23.13 patch release
  alita/config/config.go
  main.go
Labels: go, config

chore: prepare v2.23.13 patch release (#906)
  alita/config/config.go
  main.go
Labels: go, config

fix(antiflood): skip linked-channel auto-forwards and non-user senders
  alita/modules/antiflood.go
  alita/modules/antiflood_command_test.go
Labels: go, modules, test, antiflood

fix(greetings): resolve join-request buttons whose request is already gone
  alita/modules/greetings.go
  alita/modules/greetings_command_test.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, modules, i18n, test, greetings

fix(logging): stop logging expected conditions once per pipeline stage
  alita/db/greetings/repository.go
  alita/db/notes/repository.go
  alita/db/pins/repository.go
  alita/db/warns/repository.go
  alita/modules/antiflood.go
  alita/modules/antiraid.go
  alita/modules/error_logging.go
  alita/modules/error_logging_test.go
  alita/utils/helpers/telegram_helpers.go
  alita/utils/media/sender.go
Labels: go, database, modules, utils, test, antiflood

fix(filters,notes): store media rows without a file ID as text
  migrations/20261001120000_text_filters_notes_without_file_id.sql
Labels: none

chore: prepare v2.23.14 patch release
  alita/config/config.go
  main.go
Labels: go, config

fix: production log findings (antiflood linked channels, stale join requests, log noise) (#908)
  alita/config/config.go
  alita/db/greetings/repository.go
  alita/db/notes/repository.go
  alita/db/pins/repository.go
  alita/db/warns/repository.go
  alita/modules/antiflood.go
  alita/modules/antiflood_command_test.go
  alita/modules/antiraid.go
  alita/modules/error_logging.go
  alita/modules/error_logging_test.go
  alita/modules/greetings.go
  alita/modules/greetings_command_test.go
  alita/utils/helpers/telegram_helpers.go
  alita/utils/media/sender.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
  main.go
  migrations/20261001120000_text_filters_notes_without_file_id.sql
Labels: go, database, modules, utils, i18n, config, test, greetings, antiflood

docs: remove design and superpowers docs
  docs/design/chat-users-table.md
Labels: documentation

docs: remove design and superpowers docs (#909)
  docs/design/chat-users-table.md
Labels: documentation

docs(agents): drop stale pin clause and drifting test-file count
  AGENTS.md
Labels: documentation

docs(agents): drop stale pin clause and drifting test-file count (#910)
  AGENTS.md
Labels: documentation

chore(ci): remove pullfrog workflow
  .github/workflows/pullfrog.yml
Labels: ci

chore(ci): remove pullfrog workflow (#912)
  .github/workflows/pullfrog.yml
Labels: ci

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
