Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

fix(monitoring): resolve shutdown race condition in stats collector
  alita/utils/monitoring/background_stats.go
Labels: go, utils

fix(goroutines): add panic recovery to all bare goroutines
  alita/db/cache_helpers.go
  alita/modules/admin.go
  alita/modules/antiflood.go
  alita/modules/connections.go
  alita/modules/disabling.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/utils/cache/adminCache.go
  alita/utils/keyword_matcher/cache.go
Labels: go, database, modules, utils, cache, admin, filters, greetings, antiflood

fix(modules): address additional stability and security issues
  alita/modules/bans.go
  alita/modules/misc.go
  alita/modules/notes.go
Labels: go, modules

fix(captcha): replace bool flag with sync.Once for thread safety
  alita/modules/captcha.go
Labels: go, modules

fix(warns): add nil check for ReplyToMessage in dwarn handler
  alita/modules/warns.go
Labels: go, modules, warns

fix(db): replace unsafe sync.Once reset with RWMutex pattern
  alita/db/optimized_queries.go
Labels: go, database

fix(shutdown): add panic recovery to graceful shutdown handlers
  alita/utils/shutdown/graceful.go
Labels: go, utils

fix(modules): standardize panic recovery and improve error handling
  alita/modules/antiflood.go
  alita/modules/reports.go
Labels: go, modules, antiflood

fix(docker): use cross-compilation to avoid QEMU ARM64 emulation issues
  docker/pr-build
Labels: none

fix(shutdown): remove redundant panic recovery calls
  alita/utils/shutdown/graceful.go
Labels: go, utils

fix(core): comprehensive bug fixes for production stability (#599)
  alita/db/cache_helpers.go
  alita/db/captcha_db.go
  alita/db/optimized_queries.go
  alita/modules/admin.go
  alita/modules/antiflood.go
  alita/modules/bans.go
  alita/modules/captcha.go
  alita/modules/connections.go
  alita/modules/disabling.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/modules/misc.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/reports.go
  alita/modules/warns.go
  alita/utils/cache/adminCache.go
  alita/utils/chat_status/chat_status.go
  alita/utils/extraction/extraction.go
  alita/utils/keyword_matcher/cache.go
  alita/utils/monitoring/background_stats.go
  alita/utils/shutdown/graceful.go
  alita/utils/webhook/webhook.go
  docker/pr-build
Labels: go, database, modules, utils, cache, security, admin, filters, greetings, antiflood, warns

fix(docker): remove unused packages causing ARM64 build failures
  docker/alpine
Labels: none

fix(ci): comprehensive CI/CD improvements and ARM64 build fixes
  .github/workflows/ci.yml
  .github/workflows/pr-docker-enhanced.yml
  .github/workflows/release.yml
  docker/alpine
  docker/pr-build
Labels: ci

fix(health): resolve nil pointer panic in Redis health check
  alita/health/health.go
Labels: go

feat(health): add native --health flag for Docker healthcheck
  main.go
Labels: go

fix(docker): add GOTOOLCHAIN=local to prevent toolchain download failures
  docker/alpine
Labels: none

fix(docker): copy supabase from builder stage instead of build context
  docker/alpine
Labels: none

refactor(ports): make health check consistently use port 8080
  alita/config/config.go
  alita/health/health.go
Labels: go, config

push compose
  docker-compose.yml
Labels: docker, config

add missing env vars
  docker-compose.yml
Labels: docker, config

update psql version
  docker-compose.yml
Labels: docker, config

fix(captcha): resolve multiple critical bugs in captcha system
  alita/db/captcha_db.go
  alita/db/db.go
  alita/modules/captcha.go
  locales/en.yml
  supabase/migrations/20251215000000_add_captcha_muted_users.sql
Labels: go, database, modules, i18n, migration

fix(migrations): make DDL statements idempotent to prevent re-run failures
  alita/db/migrations.go
Labels: go, database, migration

fix(migrations): comprehensive idempotency for shell script migrations
  alita/db/migrations.go
  scripts/migrate_psql.sh
Labels: go, database, migration

refactor(migrations): rename supabase/migrations to migrations
  .goreleaser.yaml
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
  alita/config/config.go
  alita/db/db.go
  docker/goreleaser
  docs/MIGRATION_MONGO_TO_PSQL.md
  migrations/20250805200527_initial_migration.sql
  migrations/20250805204145_add_foreign_key_relations.sql
  migrations/20250806022110_drop_duplicate_indexes.sql
  migrations/20250806093809_add_missing_channel_index.sql
  migrations/20250806093839_drop_unused_indexes.sql
  migrations/20250806094457_restore_foreign_key_indexes.sql
  migrations/20250806100000_critical_performance_indexes.sql
  migrations/20250806102813_new_extensions.sql
  migrations/20250806105636_drop_unused_indexes.sql
  migrations/20250807103246_add_captcha_tables.sql
  migrations/20250807120000_captcha_refresh_controls.sql
  migrations/20250807123000_fix_fk_covering_indexes_and_captcha_dup_index.sql
  migrations/20250808033706_drop_filters_keyword_idx.sql
  migrations/20250808102118_add_last_activity_to_chats.sql
  migrations/20250808120328_fix_unused_indexes_and_missing_fk.sql
  migrations/20250809000000_add_user_activity_tracking.sql
  migrations/20250814100000_fix_antiflood_column_duplication.sql
  migrations/20250814100001_drop_unused_chat_users_table.sql
  migrations/20250815000000_add_stored_messages_table.sql
  migrations/20251215000000_add_captcha_muted_users.sql
  sample.env
  scripts/migrate_psql.sh
Labels: go, database, config, ci, documentation, build

fix(docker): update migrations path and add EXPOSE directives
  docker/alpine
  docker/goreleaser
  docker/pr-build
Labels: none

refactor(http): consolidate health, webhook, and metrics into unified HTTP server
  CLAUDE.md
  alita/config/config.go
  alita/health/health.go
  alita/metrics/prometheus.go
  alita/utils/httpserver/server.go
  alita/utils/webhook/webhook.go
  docker-compose.yml
  docker/alpine
  docker/goreleaser
  docker/pr-build
  main.go
  sample.env
Labels: go, docker, utils, config, documentation

fix: fix the issue #582 (#583)
  alita/modules/bans.go
Labels: go, modules

update deps
  go.mod
  go.sum
Labels: go, dependencies

build(goreleaser): migrate from dockers to dockers_v2
  .goreleaser.yaml
  docker/goreleaser
Labels: config, ci, build

fix(security): resolve G602 slice index out of range warning
  alita/utils/helpers/helpers.go
Labels: go, utils

fix(ci): remove oldstable Go version from build matrix
  .github/workflows/ci.yml
Labels: ci

fix(release): add Docker Buildx setup for dockers_v2 attestations
  .github/workflows/release.yml
Labels: ci

refactor(i18n): consolidate duplicate translation keys in en.yml
  locales/en.yml
Labels: i18n

refactor(modules): update i18n keys to use consolidated translations
  alita/modules/admin.go
  alita/modules/bans.go
  alita/modules/mute.go
  alita/modules/warns.go
Labels: go, modules, admin, warns

refactor(i18n): apply same cleanup to Spanish locale (es.yml)
  locales/es.yml
Labels: i18n

refactor(config): remove global config variables, use AppConfig consistently
  REFACTORING_PLAN.md
  alita/config/config.go
  alita/db/db.go
  alita/db/devs_db.go
  alita/db/migrations.go
  alita/health/health.go
  alita/modules/devs.go
  alita/modules/help.go
  alita/modules/misc.go
  alita/utils/async/async_processor.go
  alita/utils/cache/cache.go
  alita/utils/helpers/helpers.go
  alita/utils/httpserver/server.go
  alita/utils/monitoring/activity_monitor.go
  alita/utils/monitoring/auto_remediation.go
  main.go
Labels: go, database, modules, utils, cache, config, documentation, migration

refactor(media): consolidate EnumFuncMaps into unified media sender package
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/modules/notes.go
  alita/utils/helpers/helpers.go
  alita/utils/media/sender.go
Labels: go, modules, utils, filters, greetings

refactor(chat_status): extract helper functions to reduce duplication
  alita/utils/chat_status/chat_status.go
Labels: go, utils, security

refactor(greetings): consolidate duplicate welcome/goodbye handlers
  alita/modules/greetings.go
Labels: go, modules, greetings

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
