Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

test(bans): cover target validation branches
  alita/modules/bans_command_test.go
Labels: go, modules, test

test(modules): cover warn and reaction branches
  alita/modules/reactions_test.go
  alita/modules/warns_command_test.go
Labels: go, modules, test, warns

test(modules): cover moderation watcher branches
  alita/modules/antiraid_test.go
  alita/modules/bans_command_test.go
  alita/modules/blacklists_command_test.go
  alita/modules/greetings_command_test.go
  alita/modules/pins_command_test.go
  alita/utils/chat_status/access_test.go
Labels: go, modules, utils, test, security, greetings

fix(chat_status): guard anonymous admin cache writes
  alita/utils/chat_status/access_test.go
  alita/utils/chat_status/chat_status.go
Labels: go, utils, test, security

test(chat_status): avoid cache global race
  alita/utils/chat_status/access_test.go
Labels: go, utils, test, security

test(chat_status): cover gotgbot sender classifications
  alita/utils/chat_status/access_test.go
Labels: go, utils, test, security

test(monitoring): cover auto remediation loop
  alita/utils/monitoring/auto_remediation.go
  alita/utils/monitoring/auto_remediation_test.go
Labels: go, utils, test

test(httpserver): cover health dependency checks
  alita/utils/httpserver/server_test.go
Labels: go, utils, test

test(utils): cover tracing enabled path
  alita/modules/bot_updates_load_test.go
  alita/utils/tracing/tracing_test.go
Labels: go, modules, utils, test

test(gotgbot): cover sender context shapes
  alita/utils/chat_status/access_test.go
  alita/utils/extraction/extraction_test.go
Labels: go, utils, test, security

test(monitoring): isolate activity metrics database
  alita/utils/monitoring/activity_monitor_test.go
Labels: go, utils, test

test(backup): cover gotgbot file downloads
  alita/modules/backup.go
  alita/modules/backup_test.go
Labels: go, modules, test

test(backup): cover import confirmation flow
  alita/modules/backup_test.go
Labels: go, modules, test

test(shutdown): cover signal-driven shutdown
  alita/utils/shutdown/graceful.go
  alita/utils/shutdown/graceful_test.go
Labels: go, utils, test

test(misc): cover info user and channel replies
  alita/modules/misc_command_test.go
Labels: go, modules, test

test(scripts): cover orphan validation report
  scripts/validate_orphaned_data.go
  scripts/validate_orphaned_data_test.go
Labels: go, test

test(backup): cover failure dispatch paths
  alita/db/backup_db_test.go
  alita/modules/backup_test.go
Labels: go, database, modules, test

test(captcha): cover pending media storage
  alita/modules/captcha_command_test.go
Labels: go, modules, test

test(captcha): cover command validation branches
  alita/modules/captcha_command_test.go
Labels: go, modules, test

test(antiflood): cover command validation branches
  alita/modules/antiflood_command_test.go
Labels: go, modules, test, antiflood

test(purges): cover range validation guards
  alita/modules/purges_command_test.go
Labels: go, modules, test

test(moderation): cover gotgbot request failures
  alita/modules/bans_command_test.go
  alita/modules/mutes_command_test.go
Labels: go, modules, test

test(modules): cover bot update and lock edges
  alita/modules/bot_updates_test.go
  alita/modules/locks_command_test.go
Labels: go, modules, test

test(modules): cover notes and warns request failures
  alita/modules/notes_command_test.go
  alita/modules/warns_command_test.go
Labels: go, modules, test, warns

test(modules): cover filters and approvals request failures
  .github/workflows/ci.yml
  alita/modules/approvals.go
  alita/modules/approvals_command_test.go
  alita/modules/filters_command_test.go
Labels: go, modules, ci, test, filters

test(modules): cover admin and pin request failures
  alita/modules/admin_test.go
  alita/modules/pins_command_test.go
Labels: go, modules, test, admin

test(bans): cover restrict request failures
  alita/modules/bans_command_test.go
Labels: go, modules, test

fix(captcha): preserve callback request errors
  alita/modules/captcha.go
  alita/modules/captcha_command_test.go
Labels: go, modules, test

fix(greetings): preserve join request errors
  alita/modules/greetings.go
  alita/modules/greetings_command_test.go
Labels: go, modules, test, greetings

test(modules): cover captcha join recovery flows
  alita/modules/captcha_command_test.go
  alita/modules/greetings_command_test.go
Labels: go, modules, test, greetings

test: expand module registry regression coverage
  Makefile
  alita/config/config_pure_test.go
  alita/config/config_test.go
  alita/db/db.go
  alita/modules/admin_test.go
  alita/modules/antiflood_command_test.go
  alita/modules/backup_test.go
  alita/modules/bans_command_test.go
  alita/modules/captcha.go
  alita/modules/captcha_command_test.go
  alita/modules/connections.go
  alita/modules/connections_auth_test.go
  alita/modules/devs_command_test.go
  alita/modules/filters_command_test.go
  alita/modules/formatting_test.go
  alita/modules/greetings_command_test.go
  alita/modules/help_command_test.go
  alita/modules/helpers_test.go
  alita/modules/language_command_test.go
  alita/modules/moderation_test.go
  alita/modules/mutes_command_test.go
  alita/modules/reports_command_test.go
  alita/modules/test_harness_test.go
  alita/modules/users_test.go
  alita/utils/cache/adminCache_test.go
  alita/utils/chat_status/access_test.go
  alita/utils/chat_status/testmain_test.go
  main.go
  main_test.go
  scripts/generate_docs/reference_generators_test.go
Labels: go, database, modules, utils, cache, config, test, security, admin, filters, greetings, antiflood, build

fix: address audit findings and raise CI coverage to 80%
  .github/workflows/ci.yml
  alita/db/captcha_db_test.go
  alita/db/greetings_db.go
  alita/db/lang_db_test.go
  alita/db/migrations_test.go
  alita/db/reports_db.go
  alita/db/user_db_test.go
  alita/i18n/i18n_test.go
  alita/modules/admin_test.go
  alita/modules/antiraid_test.go
  alita/modules/backup.go
  alita/modules/backup_test.go
  alita/modules/filters.go
  alita/modules/misc.go
  alita/modules/misc_command_test.go
  alita/modules/notes.go
  alita/modules/purges.go
  alita/modules/registry.go
  alita/modules/users_test.go
  alita/modules/warns.go
  alita/utils/cache/cache.go
Labels: go, database, modules, utils, cache, i18n, ci, test, admin, filters, greetings, warns, migration

chore: review fixes
  alita/db/greetings_db.go
  alita/modules/antiraid_test.go
  alita/modules/bot_updates.go
  alita/modules/bot_updates_test.go
  alita/modules/disabling_command_test.go
  alita/modules/filters_test.go
  alita/modules/greetings_dedupe_test.go
  alita/modules/misc.go
  alita/modules/test_harness_test.go
  alita/utils/cache/adminCache.go
  alita/utils/cache/cache.go
  alita/utils/helpers/test_helper.go
Labels: go, database, modules, utils, cache, test, admin, filters, greetings

fix(ci): stop uploading gosec SARIF from release workflow
  .github/workflows/release.yml
Labels: ci

fix: address CodeRabbit review findings for safety and CI hardening
  .github/workflows/ci.yml
  .github/workflows/release.yml
  alita/db/antiraid_db_test.go
  alita/db/greetings_db.go
  alita/db/notes_db.go
  alita/db/rules_db_test.go
  alita/modules/admin_test.go
  alita/modules/backup.go
  alita/modules/backup_test.go
  alita/modules/captcha.go
  alita/modules/captcha_command_test.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/modules/notes.go
  alita/modules/reactions_test.go
  alita/modules/rules_command_test.go
  alita/modules/users_command_test.go
  alita/utils/cache/adminCache_test.go
Labels: go, database, modules, utils, cache, ci, test, admin, filters, greetings

fix(db): ensure notes settings exist before toggling private flag
  alita/db/notes_db.go
Labels: go, database

test: raise coverage above 80% CI threshold
  alita/db/notes_db_test.go
  alita/modules/filters_command_test.go
  alita/modules/greetings_command_test.go
Labels: go, database, modules, test, filters, greetings

chore: gofmt greetings coverage test
  alita/modules/greetings_command_test.go
Labels: go, modules, test, greetings

fix(cache): unexport Marshal and route callers through accessors
  AGENTS.md
  alita/db/cache_helpers.go
  alita/db/captcha_db_test.go
  alita/db/locks_db.go
  alita/modules/admin.go
  alita/modules/admin_test.go
  alita/modules/antiraid.go
  alita/modules/antiraid_test.go
  alita/modules/bot_updates_test.go
  alita/modules/captcha.go
  alita/modules/filters.go
  alita/modules/filters_test.go
  alita/modules/greetings.go
  alita/modules/reactions.go
  alita/modules/reactions_test.go
  alita/modules/test_harness_test.go
  alita/utils/cache/adminCache.go
  alita/utils/cache/cache.go
  alita/utils/cache/memory_store_test.go
  alita/utils/cache/restrictedCache.go
  alita/utils/cache/restrictedCache_test.go
  alita/utils/chat_status/chat_status.go
  alita/utils/extraction/extraction_test.go
  alita/utils/ratelimit/backup_ratelimit.go
  alita/utils/ratelimit/backup_ratelimit_test.go
  docs/src/content/docs/architecture/caching.md
Labels: go, database, modules, utils, cache, documentation, test, security, admin, filters, greetings

fix(cache): snapshot marshaler per operation after review
  alita/db/cache_helpers.go
  alita/db/locks_db.go
  alita/modules/admin.go
  alita/modules/antiraid.go
  alita/modules/captcha.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/modules/reactions.go
  alita/utils/chat_status/chat_status.go
  alita/utils/ratelimit/backup_ratelimit.go
Labels: go, database, modules, utils, security, admin, filters, greetings

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
