Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

docs: update stale comment about --version flag behavior
  main.go
Labels: go

fix: add shutdown handler for async processor (fixes #711)
  main.go
Labels: go

fix: add shutdown handler for async processor (fixes #711) (#714)
  main.go
Labels: go

fix(db): remove Enabled field from ConnectionChatSettings struct
  alita/db/db.go
Labels: go, database

fix(db): remove Enabled field from ConnectionChatSettings struct
  alita/db/db.go
Labels: go, database

chore: upgrade deps
  go.mod
  go.sum
Labels: go, dependencies

fix: resolve bug hunt findings
  Makefile
  alita/db/backup_db.go
  alita/db/backup_db_test.go
  alita/modules/antispam.go
  alita/modules/captcha.go
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/commands/backup/index.md
  docs/src/content/docs/commands/devs/index.md
  docs/src/content/docs/commands/help/index.md
  docs/src/content/docs/commands/reactions/index.md
  go.mod
  go.sum
  internal/repo_checks/repo_checks_test.go
  main.go
  migrations/20260507022000_add_disable_chat_settings.sql
  scripts/generate_docs/generators.go
  scripts/generate_docs/generators_test.go
  scripts/generate_docs/main.go
  scripts/generate_docs/main_test.go
Labels: go, database, modules, dependencies, documentation, test, build

fix(migrations): replace DO block with raw ALTER TABLE in disable_chat_settings migration
  migrations/20260507022000_add_disable_chat_settings.sql
Labels: none

test(migrations): add failing tests for dollar-quote-aware constraint wrapping
  alita/db/migrations_test.go
Labels: go, database, test, migration

fix(migrations): add dollar-quote-aware scanner to cleanSupabaseSQL
  alita/db/migrations.go
Labels: go, database, migration

fix(migrations): convert rune offsets to byte offsets in findDollarQuoteBlocks
  alita/db/migrations.go
Labels: go, database, migration

chore: upgrade deps
  go.mod
  go.sum
Labels: go, dependencies

docs: sync documentation with codebase reality
  docs/bun.lock
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/architecture/caching.md
  docs/src/content/docs/architecture/handler-groups.md
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/architecture/request-flow.mdx
  docs/src/content/docs/commands/bot_updates/index.md
  docs/src/content/docs/commands/index.mdx
  docs/src/content/docs/self-hosting/database.md
  sample.env
Labels: config, documentation

docs: address CodeRabbit review feedback on PR #720
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/architecture/caching.md
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/architecture/request-flow.mdx
  docs/src/content/docs/self-hosting/database.md
  sample.env
Labels: config, documentation

fix(docs): remove non-existent API references in module-pattern example
  docs/src/content/docs/architecture/module-pattern.md
Labels: documentation

docs: sync documentation with codebase reality (#720)
  docs/bun.lock
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/architecture/caching.md
  docs/src/content/docs/architecture/handler-groups.md
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/architecture/request-flow.mdx
  docs/src/content/docs/commands/bot_updates/index.md
  docs/src/content/docs/commands/index.mdx
  docs/src/content/docs/self-hosting/database.md
  sample.env
Labels: config, documentation

fix(db,helpers): handle connection FK errors and TOPIC_CLOSED
  alita/db/connections_db.go
  alita/utils/helpers/telegram_helpers.go
Labels: go, database, utils

perf: optimize keyword matcher, cache helpers, and tracing overhead
  alita/db/cache_helpers.go
  alita/modules/blacklists.go
  alita/modules/filters.go
  alita/utils/keyword_matcher/cache.go
  alita/utils/keyword_matcher/cache_test.go
  alita/utils/keyword_matcher/matcher.go
  alita/utils/tracing/tracing.go
Labels: go, database, modules, utils, test, filters

fix(cache,matcher): restore singleflight timeout and fix concurrent map write
  alita/db/cache_helpers.go
  alita/utils/keyword_matcher/cache.go
  alita/utils/keyword_matcher/cache_test.go
Labels: go, database, utils, test

fix(db): correct FirstOrCreate zero-value inserts in connection helpers
  alita/db/connections_db.go
Labels: go, database

fix(security): handle gosec G104 unhandled errors in hashPatterns
  alita/utils/keyword_matcher/matcher.go
Labels: go, utils

test: fix ignored errors, races, flakes, and test isolation across 15 files
  .github/workflows/ci.yml
  alita/db/antiflood_db_test.go
  alita/db/backup_db_test.go
  alita/db/captcha_db_test.go
  alita/db/devs_db_test.go
  alita/db/testmain_test.go
  alita/db/user_db_test.go
  alita/i18n/test_helper_test.go
  alita/utils/helpers/helpers_extra_test.go
  alita/utils/httpserver/server_test.go
  alita/utils/monitoring/activity_monitor_test.go
  alita/utils/monitoring/auto_remediation_test.go
  alita/utils/ratelimit/backup_ratelimit_test.go
  alita/utils/shutdown/graceful_test.go
  alita/utils/tracing/tracing_test.go
Labels: go, database, utils, i18n, ci, test, antiflood

test: fix ignored errors, races, flakes, and test isolation across 15 files
  alita/db/backup_db_test.go
  alita/db/captcha_db_test.go
  alita/db/devs_db_test.go
  alita/db/testmain_test.go
  alita/db/user_db_test.go
  alita/i18n/test_helper.go
  alita/i18n/test_helper_test.go
  alita/utils/helpers/helpers_extra_test.go
  alita/utils/httpserver/server.go
  alita/utils/monitoring/activity_monitor_test.go
  alita/utils/monitoring/auto_remediation_test.go
  alita/utils/ratelimit/backup_ratelimit_test.go
  alita/utils/shutdown/graceful_test.go
  alita/utils/tracing/tracing_test.go
Labels: go, database, utils, i18n, test

test: fix ignored errors, race conditions, and missing assertions across 6 files
  alita/db/backup_db_test.go
  alita/db/locks_db_test.go
  alita/db/testmain_test.go
  alita/utils/monitoring/activity_monitor_test.go
  alita/utils/ratelimit/backup_ratelimit_test.go
  alita/utils/shutdown/graceful_test.go
Labels: go, database, utils, test

fix(ci): restore valid DATABASE_URL in test job
  .github/workflows/ci.yml
Labels: ci

test: fix brittle assertions, skip guards, and missing coverage
  alita/db/db_pure_test.go
  alita/i18n/test_helper_test.go
  alita/modules/pins.go
  alita/modules/pins_test.go
  alita/utils/httpserver/server_test.go
  alita/utils/tracing/tracing_test.go
Labels: go, database, modules, utils, i18n, test

test: fix 12 review comments from PR #721
  .github/workflows/ci.yml
  Makefile
  alita/config/config_pure_test.go
  alita/db/backup_db_test.go
  alita/db/devs_db_test.go
  alita/db/user_db_test.go
  alita/i18n/test_helper.go
  alita/utils/monitoring/activity_monitor_test.go
  alita/utils/ratelimit/backup_ratelimit_test.go
Labels: go, database, utils, i18n, config, ci, test, build

test: surface cleanup errors in TestLoadUserStats teardown
  alita/db/user_db_test.go
Labels: go, database, test

fix(lint): add testtools build tag to golangci-lint config
  .golangci.yml
Labels: config

feat(approvals): user whitelist to exempt from anti-spam checks (#726)
  alita/db/approvals_db.go
  alita/db/approvals_db_test.go
  alita/db/cache_helpers.go
  alita/db/db.go
  alita/db/testmain_test.go
  alita/main.go
  alita/modules/antiflood.go
  alita/modules/antispam.go
  alita/modules/approvals.go
  alita/modules/approvals_test.go
  alita/modules/blacklists.go
  alita/modules/captcha.go
  alita/modules/locks.go
  alita/utils/chat_status/chat_status.go
  alita/utils/chat_status/chat_status_test.go
  locales/config.yml
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
  migrations/20260518000000_add_approved_users_table.sql
Labels: go, database, modules, utils, i18n, test, security, antiflood

fix(approvals): address review issues from #726
  alita/db/approvals_db.go
  alita/modules/approvals.go
  locales/config.yml
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, database, modules, i18n

fix(approvals): handle unexpected callback actions and db errors
  alita/modules/approvals.go
Labels: go, modules

fix(approvals): localize unapproveall error message
  alita/modules/approvals.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: go, modules, i18n

feat(approvals): user whitelist to exempt from anti-spam checks (#726) (#727)
  alita/db/approvals_db.go
  alita/db/approvals_db_test.go
  alita/db/cache_helpers.go
  alita/db/db.go
  alita/db/testmain_test.go
  alita/main.go
  alita/modules/antiflood.go
  alita/modules/antispam.go
  alita/modules/approvals.go
  alita/modules/approvals_test.go
  alita/modules/blacklists.go
  alita/modules/captcha.go
  alita/modules/locks.go
  alita/utils/chat_status/chat_status.go
  alita/utils/chat_status/chat_status_test.go
  locales/config.yml
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
  migrations/20260518000000_add_approved_users_table.sql
Labels: go, database, modules, utils, i18n, test, security, antiflood

feat(antiraid): join-raid detection and automated protection (#724)
  alita/db/antiraid_db.go
  alita/db/antiraid_db_test.go
  alita/db/cache_helpers.go
  alita/db/db.go
  alita/db/optimized_queries.go
  alita/db/testmain_test.go
  alita/main.go
  alita/modules/antiraid.go
  alita/modules/antiraid_test.go
  alita/utils/cache/cache.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
  migrations/20260518113000_add_antiraid_settings.sql
Labels: go, database, modules, utils, cache, i18n, test

fix(antiraid): address code review findings
  alita/db/antiraid_db.go
  alita/db/antiraid_db_test.go
  alita/db/optimized_queries.go
  alita/modules/antiraid.go
  alita/modules/antiraid_test.go
  locales/fr.yml
  locales/id.yml
  locales/pt.yml
  main.go
  migrations/20260518113000_add_antiraid_settings.sql
Labels: go, database, modules, i18n, test

feat(antiraid): join-raid detection and automated protection (#724) (#728)
  alita/db/antiraid_db.go
  alita/db/antiraid_db_test.go
  alita/db/cache_helpers.go
  alita/db/db.go
  alita/db/optimized_queries.go
  alita/db/testmain_test.go
  alita/main.go
  alita/modules/antiraid.go
  alita/modules/antiraid_test.go
  alita/utils/cache/cache.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
  main.go
  migrations/20260518113000_add_antiraid_settings.sql
Labels: go, database, modules, utils, cache, i18n, test

fix(tests): add missing testtools build tag to backup/captcha tests
  alita/modules/backup_test.go
  alita/modules/captcha_math_image_test.go
  locales/es.yml
  locales/fr.yml
Labels: go, modules, i18n, test

fix(tests): add missing testtools build tag to backup/captcha tests (#729)
  alita/modules/backup_test.go
  alita/modules/captcha_math_image_test.go
  locales/es.yml
  locales/fr.yml
Labels: go, modules, i18n, test

chore(release): bump version to v2.17.24
  alita/config/config.go
  alita/utils/tracing/tracing_test.go
  main.go
Labels: go, utils, config, test

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
