Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

refactor: remove redundant locale state
  alita/i18n/i18n_test.go
  alita/i18n/loader.go
  alita/i18n/manager.go
  alita/i18n/test_helper.go
  alita/i18n/types.go
  scripts/check_translations/main.go
  scripts/check_translations/main_test.go
Labels: go, i18n, test

docs: document compose webhook settings
  README.md
Labels: documentation

refactor: remove audited dead weight (#790)
  AGENTS.md
  README.md
  alita/db/migrations/runner.go
  alita/db/migrations/runner_test.go
  alita/i18n/i18n_test.go
  alita/i18n/loader.go
  alita/i18n/manager.go
  alita/i18n/test_helper.go
  alita/i18n/types.go
  alita/modules/bot_updates.go
  alita/modules/bot_updates_load_test.go
  alita/modules/bot_updates_test.go
  alita/modules/help_system.go
  alita/modules/registry.go
  alita/modules/registry_test.go
  alita/utils/keyboard/keyboard.go
  alita/utils/keyboard/keyboard_test.go
  alita/utils/keyword_matcher/cache.go
  alita/utils/keyword_matcher/cache_test.go
  docs/bun.lock
  docs/knip.json
  docs/package.json
  docs/superpowers/plans/2026-06-02-splitting-helpers-go.md
  docs/superpowers/plans/db-package-split.md
  docs/superpowers/specs/2026-06-02-split-agents-md-design.md
  docs/superpowers/specs/2026-06-02-splitting-helpers-go.md
  docs/superpowers/specs/db-package-split.md
  main.go
  scripts/check_translations/main.go
  scripts/check_translations/main_test.go
  scripts/generate_docs/generators.go
  scripts/generate_docs/generators_test.go
  scripts/generate_docs/main.go
  scripts/generate_docs/parsers.go
  scripts/generate_docs/parsers_test.go
  scripts/generate_docs/reference_generators_test.go
Labels: go, database, modules, utils, i18n, documentation, test

chore: upgrade deps
  go.mod
  go.sum
Labels: go, dependencies

fix: repair moderation callbacks and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  AGENTS.md
  alita/modules/bans.go
  alita/modules/bans_command_test.go
  alita/modules/test_harness_test.go
Labels: go, modules, ci, documentation, test

fix: repair moderation callbacks and release workflows (#793)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  AGENTS.md
  alita/modules/bans.go
  alita/modules/bans_command_test.go
  alita/modules/test_harness_test.go
Labels: go, modules, ci, documentation, test

chore(release): set BotVersion to v2.20.0
  AGENTS.md
  alita/config/config.go
  main.go
Labels: go, config, documentation

fix(i18n): use named placeholders for antiraid/backup legacy verbs
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
Labels: i18n

fix(notes): lowercase note name before GetNote to avoid nil deref
  alita/modules/notes.go
Labels: go, modules

fix(reactions): persist reactions to DB to survive restarts
  alita/db/cache/ttl.go
  alita/db/db.go
  alita/db/models/reactions.go
  alita/db/reactions/repository.go
  alita/db/reactions/repository_test.go
  alita/db/testmain_test.go
  alita/modules/reactions.go
  alita/modules/reactions_test.go
  alita/modules/test_harness_test.go
  migrations/20260726000000_add_reactions_table.sql
Labels: go, database, modules, test

fix(antispam): exempt admins and continue groups instead of aborting
  alita/modules/antispam.go
Labels: go, modules

fix(warns): kick warn mode now kicks instead of permanently banning
  alita/modules/warns.go
Labels: go, modules, warns

fix(anon-admin): re-enforce permission checks in pin/title anon wrappers
  alita/modules/admin.go
  alita/modules/pins.go
Labels: go, modules, admin

fix(antiflood): unban anonymous channels via UnbanChatSenderChat
  alita/modules/bans.go
  alita/modules/bans_command_test.go
Labels: go, modules, test

feat(docs): migrate documentation site from Starlight to Blume
  AGENTS.md
  Makefile
  docs/.gitignore
  docs/README.md
  docs/astro.config.mjs
  docs/blume.config.ts
  docs/bun.lock
  docs/package.json
  docs/pages/index.astro
  docs/src/content.config.ts
  docs/src/content/docs/api-reference/meta.ts
  docs/src/content/docs/architecture/index.mdx
  docs/src/content/docs/architecture/meta.ts
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/architecture/request-flow.mdx
  docs/src/content/docs/commands/index.mdx
  docs/src/content/docs/commands/meta.ts
  docs/src/content/docs/contributing/index.mdx
  docs/src/content/docs/contributing/meta.ts
  docs/src/content/docs/getting-started/introduction.mdx
  docs/src/content/docs/getting-started/meta.ts
  docs/src/content/docs/getting-started/quick-start.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/self-hosting/binary.mdx
  docs/src/content/docs/self-hosting/docker.mdx
  docs/src/content/docs/self-hosting/index.mdx
  docs/src/content/docs/self-hosting/meta.ts
  docs/src/content/docs/self-hosting/source.mdx
  docs/tsconfig.json
  scripts/generate_docs/generators.go
  scripts/generate_docs/main.go
Labels: go, documentation, build

fix(captcha): recover from verify-unmute failure and avoid double final alerts
  alita/modules/captcha.go
  alita/modules/captcha_command_test.go
Labels: go, modules, test

fix(disabling): upsert on DisableCMD to avoid UNIQUE constraint violation
  alita/db/disabling/repository.go
  alita/db/disabling/repository_test.go
Labels: go, database, test

fix(httpserver): constant-time webhook secret and validate before body read
  alita/utils/httpserver/server.go
Labels: go, utils

fix(misc): send /tell echo before deleting the command
  alita/modules/misc.go
Labels: go, modules

fix(disabling): align DisableSettings model with UNIQUE(chat_id, command)
  alita/db/models/disabling.go
Labels: go, database

fix(backup): persist AnonAdmin=false when importing admin settings
  alita/db/backup/backup.go
Labels: go, database

fix(antiraid): reject zero/negative duration for /antiraid <duration>
  alita/modules/antiraid.go
  alita/modules/antiraid_test.go
Labels: go, modules, test

fix(monitoring): add panic recovery to ActivityMonitor calculateMetrics goroutines
  alita/utils/monitoring/activity_monitor.go
Labels: go, utils

feat(docs): migrate documentation site from Starlight to Blume (#794)
  AGENTS.md
  Makefile
  docs/.gitignore
  docs/README.md
  docs/astro.config.mjs
  docs/blume.config.ts
  docs/bun.lock
  docs/package.json
  docs/pages/index.astro
  docs/src/content.config.ts
  docs/src/content/docs/api-reference/meta.ts
  docs/src/content/docs/architecture/index.mdx
  docs/src/content/docs/architecture/meta.ts
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/architecture/request-flow.mdx
  docs/src/content/docs/commands/index.mdx
  docs/src/content/docs/commands/meta.ts
  docs/src/content/docs/contributing/index.mdx
  docs/src/content/docs/contributing/meta.ts
  docs/src/content/docs/getting-started/introduction.mdx
  docs/src/content/docs/getting-started/meta.ts
  docs/src/content/docs/getting-started/quick-start.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/self-hosting/binary.mdx
  docs/src/content/docs/self-hosting/docker.mdx
  docs/src/content/docs/self-hosting/index.mdx
  docs/src/content/docs/self-hosting/meta.ts
  docs/src/content/docs/self-hosting/source.mdx
  docs/tsconfig.json
  scripts/generate_docs/generators.go
  scripts/generate_docs/main.go
Labels: go, documentation, build

refactor(captcha): extract helpers to reduce handleCaptchaTimeout complexity
  alita/modules/captcha.go
Labels: go, modules

fix: resolve 18 confirmed production bugs across modules (#795)
  alita/db/backup/backup.go
  alita/db/cache/ttl.go
  alita/db/db.go
  alita/db/disabling/repository.go
  alita/db/disabling/repository_test.go
  alita/db/models/disabling.go
  alita/db/models/reactions.go
  alita/db/reactions/repository.go
  alita/db/reactions/repository_test.go
  alita/db/testmain_test.go
  alita/modules/admin.go
  alita/modules/antiraid.go
  alita/modules/antiraid_test.go
  alita/modules/antispam.go
  alita/modules/bans.go
  alita/modules/bans_command_test.go
  alita/modules/captcha.go
  alita/modules/captcha_command_test.go
  alita/modules/misc.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/reactions.go
  alita/modules/reactions_test.go
  alita/modules/test_harness_test.go
  alita/modules/warns.go
  alita/utils/httpserver/server.go
  alita/utils/monitoring/activity_monitor.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
  migrations/20260726000000_add_reactions_table.sql
Labels: go, database, modules, utils, i18n, test, admin, warns

fix(i18n): correct bot name in reports_help_msg and bump to v2.20.2
  alita/config/config.go
  locales/en.yml
  locales/es.yml
  locales/fr.yml
  locales/hi.yml
  locales/id.yml
  locales/pt.yml
  locales/ru.yml
  main.go
Labels: go, i18n, config

fix: normalize captcha timestamps in postgres
  AGENTS.md
  alita/db/migrations/repository_chain_test.go
  alita/db/migrations/runner.go
  migrations/20260730030000_use_timestamptz_for_captcha_attempts.sql
Labels: go, database, documentation, test

docs: sync AGENTS.md and site docs with code
  AGENTS.md
  docs/agents/domain.md
  docs/database-migration-validation.md
  docs/deployment-checklist.md
  docs/deployment-summary.md
  docs/rollback-procedures.md
  docs/src/content/docs/architecture/caching.md
  docs/src/content/docs/architecture/module-pattern.md
  docs/src/content/docs/architecture/project-structure.mdx
  docs/src/content/docs/architecture/request-flow.mdx
  docs/src/content/docs/contributing/index.mdx
  docs/src/content/docs/self-hosting/index.mdx
  docs/src/content/docs/self-hosting/monitoring.md
  docs/src/content/docs/self-hosting/source.mdx
Labels: documentation

chore: bump version to v2.21.1
  alita/config/config.go
  main.go
Labels: go, config

chore: improve docker compose
  docker-compose.yml
  docs/src/content/docs/self-hosting/docker.mdx
Labels: docker, config, documentation

fix: antiflood cleanup race, captcha CSPRNG fallback, backup import cooldown
  alita/config/config.go
  alita/db/cache/loader.go
  alita/db/cache/ttl.go
  alita/db/locks/repository.go
  alita/db/notes/repository.go
  alita/db/warns/repository.go
  alita/main.go
  alita/modules/antiflood.go
  alita/modules/antiraid.go
  alita/modules/antispam.go
  alita/modules/antispam_test.go
  alita/modules/backup.go
  alita/modules/callback_codec.go
  alita/modules/captcha.go
  alita/modules/captcha_math_image_test.go
  alita/modules/core.go
  alita/modules/filters.go
  alita/modules/greetings.go
  alita/modules/help.go
  alita/modules/notes.go
  alita/modules/purges.go
  alita/modules/purges_command_test.go
  alita/modules/registry.go
  alita/utils/cache/adminCache.go
  alita/utils/cache/cache.go
  alita/utils/chat_status/chat_status.go
  alita/utils/formatting/formatting.go
  alita/utils/helpers/telegram_helpers.go
  alita/utils/keyword_matcher/cache.go
  alita/utils/keyword_matcher/matcher.go
  alita/utils/monitoring/activity_monitor.go
  alita/utils/monitoring/background_stats.go
  alita/utils/shutdown/graceful.go
  alita/utils/tracing/processor.go
  main.go
Labels: go, database, modules, utils, cache, config, test, security, admin, filters, greetings, antiflood

fix: greetings atomic dedup, captcha retry, antiraid strict, 64-bit IDs
  AGENTS.md
  alita/config/config.go
  alita/db/cache/loader.go
  alita/db/db.go
  alita/i18n/translator.go
  alita/modules/antiraid.go
  alita/modules/antiraid_test.go
  alita/modules/antispam.go
  alita/modules/bans.go
  alita/modules/bot_updates.go
  alita/modules/callback_codec.go
  alita/modules/captcha.go
  alita/modules/connections.go
  alita/modules/devs.go
  alita/modules/greetings.go
  alita/modules/greetings_command_test.go
  alita/modules/notes.go
  alita/modules/purges.go
  alita/modules/rules.go
  alita/modules/warns.go
  alita/utils/cache/adminCache.go
  alita/utils/extraction/extraction.go
  main.go
Labels: go, database, modules, utils, cache, i18n, config, documentation, test, admin, greetings, warns

research: rose clone model findings (#802)
  research/rose-clone-model.md
Labels: documentation

research: token lifecycle validation, encryption, ownership (#804)
  research/clone-token-security.md
Labels: documentation

research: gotgbot v2 multi-bot single-process dispatcher/updater per token (#803)
  research/gotgbot-multi-bot.md
Labels: documentation

research: telegram token lifecycle — validation, encryption at rest, ownership (#804)
  research/clone-token-lifecycle.md
Labels: documentation

fix: adapt to gotgbot v2.0.0-rc.36 EditText/EditMessageText API
  alita/modules/antiraid.go
  alita/modules/approvals.go
  alita/modules/backup.go
  alita/modules/bans.go
  alita/modules/blacklists.go
  alita/modules/bot_updates.go
  alita/modules/connections.go
  alita/modules/devs.go
  alita/modules/filters.go
  alita/modules/formatting.go
  alita/modules/greetings.go
  alita/modules/help.go
  alita/modules/language.go
  alita/modules/misc.go
  alita/modules/notes.go
  alita/modules/pins.go
  alita/modules/reactions.go
  alita/modules/reports.go
  alita/modules/warns.go
  docs/src/content/docs/architecture/request-flow.mdx
Labels: go, modules, documentation, filters, greetings, warns

chore(release): set BotVersion to v2.21.4
  alita/config/config.go
  main.go
Labels: go, config

perf: micro-opt keyword matcher, antiflood admin cache, backup bulk insert
  alita/db/backup/backup.go
  alita/modules/antiflood.go
  alita/utils/keyword_matcher/matcher.go
Labels: go, database, modules, utils, antiflood

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
