Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000

revert(docs): restore default Starlight theme, remove shadcn dark theme (#660)
  docs/astro.config.mjs
  docs/bun.lock
  docs/package.json
  docs/public/favicon.svg
  docs/src/assets/logo-dark.svg
  docs/src/assets/logo-light.svg
  docs/src/content/docs/commands/admin/index.mdx
  docs/src/content/docs/commands/bans/index.mdx
  docs/src/content/docs/commands/blacklists/index.mdx
  docs/src/content/docs/commands/connections/index.mdx
  docs/src/content/docs/commands/notes/index.mdx
  docs/src/content/docs/commands/pins/index.mdx
  docs/src/content/docs/commands/reports/index.mdx
  docs/src/content/docs/commands/rules/index.mdx
  docs/src/content/docs/commands/warns/index.mdx
  docs/src/styles/custom.css
Labels: documentation

fix(security): resolve all 30 gosec code scanning alerts
  alita/utils/async/async_processor.go
  alita/utils/httpserver/server.go
  alita/utils/monitoring/activity_monitor.go
  alita/utils/monitoring/auto_remediation.go
  alita/utils/monitoring/background_stats.go
  scripts/generate_docs/generators.go
  scripts/generate_docs/main.go
  scripts/generate_docs/parsers.go
Labels: go, utils

test(coverage): fix init() test blockers and add tests for 6 packages
  alita/config/config.go
  alita/db/db.go
  alita/utils/async/async_processor_test.go
  alita/utils/debug_bot/debug_bot_test.go
  alita/utils/decorators/cmdDecorator/cmdDecorator_test.go
  alita/utils/helpers/helpers_test.go
  alita/utils/httpserver/server_test.go
  alita/utils/media/sender_test.go
Labels: go, database, utils, config, test

fix(ci): replace testing.Testing() guards with env var checks
  alita/config/config.go
  alita/db/db.go
Labels: go, database, config

test(coverage): fix init() test blockers and add tests for 6 packages (#661)
  alita/config/config.go
  alita/db/db.go
  alita/utils/async/async_processor_test.go
  alita/utils/debug_bot/debug_bot_test.go
  alita/utils/decorators/cmdDecorator/cmdDecorator_test.go
  alita/utils/helpers/helpers_test.go
  alita/utils/httpserver/server_test.go
  alita/utils/media/sender_test.go
Labels: go, database, utils, config, test

chore: openspec init
  openspec/config.yaml
Labels: none

chore: spec files for docs formatting fix
  openspec/changes/fix-docs-text-formatting/.openspec.yaml
  openspec/changes/fix-docs-text-formatting/design.md
  openspec/changes/fix-docs-text-formatting/proposal.md
  openspec/changes/fix-docs-text-formatting/specs/docs-text-formatting/spec.md
  openspec/changes/fix-docs-text-formatting/tasks.md
Labels: documentation

chore: init openspec config
  openspec/config.yaml
Labels: none

feat(docs): improve Telegram-to-Markdown text formatting in doc generator
  openspec/changes/fix-docs-text-formatting/tasks.md
  scripts/generate_docs/formatting_test.go
  scripts/generate_docs/generators.go
Labels: go, documentation, test

chore: archive fix-docs-text-formatting change and sync spec
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/.openspec.yaml
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/design.md
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/proposal.md
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/specs/docs-text-formatting/spec.md
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/tasks.md
  openspec/specs/docs-text-formatting/spec.md
Labels: documentation

fix(docs): improve Telegram-to-Markdown text formatting (#662)
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/.openspec.yaml
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/design.md
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/proposal.md
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/specs/docs-text-formatting/spec.md
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/tasks.md
  openspec/config.yaml
  openspec/specs/docs-text-formatting/spec.md
  scripts/generate_docs/formatting_test.go
  scripts/generate_docs/generators.go
Labels: go, documentation, test

fix(docs): resolve nested backtick bug and review issues from #662
  scripts/generate_docs/formatting_test.go
  scripts/generate_docs/generators.go
Labels: go, test

remove openspec
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/.openspec.yaml
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/design.md
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/proposal.md
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/specs/docs-text-formatting/spec.md
  openspec/changes/archive/2026-03-07-fix-docs-text-formatting/tasks.md
  openspec/config.yaml
  openspec/specs/docs-text-formatting/spec.md
Labels: documentation

chore: upgrade deps
  docs/bun.lock
  docs/package.json
Labels: documentation

Fix Astro 6 links validator compatibility
  docs/astro.config.mjs
  docs/starlight-links-validator-compat.ts
Labels: documentation

fix docs workflow deploy step
  .github/workflows/docs.yml
  scripts/generate_docs/generators.go
Labels: go, ci

fix: add wrangler v4
  .github/workflows/docs.yml
Labels: ci

chore: fix ci for docs build
  .github/workflows/docs.yml
  docs/README.md
  docs/package.json
Labels: ci, documentation

ci: update setup node action
  .github/workflows/docs.yml
Labels: ci

fix: dedupe join captcha prompts
  alita/modules/greetings.go
Labels: go, modules, greetings

fix: tighten join dedupe window
  alita/modules/greetings.go
Labels: go, modules, greetings

fix: tighten join dedupe window
  alita/modules/greetings.go
Labels: go, modules, greetings

fix: tighten join dedupe window (#668)
  alita/modules/greetings.go
Labels: go, modules, greetings

fix: render math captcha questions deterministically
  alita/modules/captcha.go
  alita/modules/captcha_math_image_test.go
Labels: go, modules, test

fix: use stable ascii operators in math captchas
  alita/modules/captcha.go
  alita/modules/captcha_math_image_test.go
Labels: go, modules, test

fix: reduce math captcha visual noise
  alita/modules/captcha.go
  alita/modules/captcha_math_image_test.go
Labels: go, modules, test

refactor: tighten math captcha image generation
  alita/modules/captcha.go
  alita/modules/captcha_math_image_test.go
Labels: go, modules, test

fix: keep math captcha images deterministic and readable (#669)
  alita/modules/captcha.go
  alita/modules/captcha_math_image_test.go
Labels: go, modules, test

deps: bump Go modules and docs site packages
  docs/bun.lock
  docs/package.json
  go.mod
  go.sum
Labels: go, dependencies, documentation

chore: upgrade deps
  docs/bun.lock
  docs/package.json
Labels: documentation

chore(docs): fix lint/typecheck configuration
  docs/astro.config.mjs
  docs/biome.json
  docs/knip.json
  docs/package.json
  docs/starlight-links-validator-compat.ts
  docs/tsconfig.json
Labels: documentation

fix: lockfile
  docs/bun.lock
Labels: documentation

perf: optimize critical loops for 60-95% performance gains
  alita/modules/blacklists.go
  alita/utils/cache/adminCache.go
  alita/utils/cache/cache.go
  alita/utils/helpers/helpers.go
  alita/utils/monitoring/activity_monitor.go
Labels: go, modules, utils, cache, admin

perf: implement Tier 1 loop optimizations (minimal code impact)
  alita/db/db.go
  alita/db/filters_db.go
  alita/modules/devs.go
  alita/modules/disabling.go
  alita/modules/filters.go
  alita/modules/locks.go
  alita/utils/helpers/helpers.go
  alita/utils/monitoring/auto_remediation.go
Labels: go, database, modules, utils, filters

docs: update documentation for Phase 1 refactoring changes
  CLAUDE.md
  docs/src/content/docs/architecture/index.mdx
  docs/src/content/docs/architecture/project-structure.mdx
Labels: documentation

deps: upgrade indirect dependencies
  go.mod
  go.sum
Labels: go, dependencies

docs: enhance CLAUDE.md with code style guidelines and test patterns
  CLAUDE.md
Labels: documentation

fix(blacklists): fix fire-and-forget goroutines that lose DB errors
  alita/db/blacklists_db.go
  alita/db/blacklists_db_test.go
  alita/modules/admin.go
  alita/modules/admin_test.go
  alita/modules/blacklists.go
Labels: go, database, modules, test, admin

fix(captcha): prevent integer overflow by using ParseInt with 64-bit
  alita/modules/captcha.go
  alita/modules/captcha_math_image_test.go
Labels: go, modules, test

scrutiny(validation): critical-fixes milestone validation complete
  .factory/init.sh
  .factory/library/architecture.md
  .factory/library/environment.md
  .factory/library/user-testing.md
  .factory/services.yaml
  .factory/skills/bugfix-worker/SKILL.md
  .factory/validation/critical-fixes/scrutiny/reviews/fix-critical-admin-nil-pointer.json
  .factory/validation/critical-fixes/scrutiny/reviews/fix-critical-blacklists-goroutine-errors.json
  .factory/validation/critical-fixes/scrutiny/reviews/fix-critical-captcha-integer-overflow.json
  .factory/validation/critical-fixes/scrutiny/synthesis.json
  alita/db/user_notes_db.go
  alita/main.go
  alita/modules/admin_test.go
  alita/modules/reactions.go
  alita/modules/usernotes.go
Labels: go, database, modules, documentation, test, admin
