Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

fix(lint): replace WriteString(fmt.Sprintf()) with fmt.Fprintf()
  alita/modules/blacklists.go
  alita/modules/captcha.go
  alita/modules/devs.go
  alita/modules/disabling.go
  alita/modules/helpers.go
  alita/modules/locks.go
  alita/modules/notes.go
  alita/modules/warns.go
  scripts/generate_docs/generators.go
Labels: go, modules, warns

feat: add CODEOWNERS file for code ownership
  .github/CODEOWNERS
Labels: none

feat(ci): add technical debt tracking tooling
  .github/workflows/ci.yml
  .golangci.yml
Labels: config, ci

fix: remove redundant CODEOWNERS entries
  .github/CODEOWNERS
Labels: none

feat: add duplicate code detection with dupl linter
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
Labels: config, ci, build

fix: update golangci-lint config for v2 format
  .golangci.yml
Labels: config

fix(db): resolve concurrent lock race and zero-value update corruption
  alita/db/admin_db.go
  alita/db/connections_db.go
  alita/db/db.go
  alita/db/devs_db.go
  alita/db/disable_db.go
  alita/db/locks_db.go
  alita/db/notes_db.go
  alita/db/pin_db.go
  alita/db/reports_db.go
  alita/db/rules_db.go
  alita/db/update_record_test.go
Labels: go, database, test, admin

feat: add CODEOWNERS file and technical debt tracking (#635)
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
  alita/db/admin_db.go
  alita/db/connections_db.go
  alita/db/db.go
  alita/db/devs_db.go
  alita/db/disable_db.go
  alita/db/locks_db.go
  alita/db/notes_db.go
  alita/db/pin_db.go
  alita/db/reports_db.go
  alita/db/rules_db.go
  alita/db/update_record_test.go
Labels: go, database, config, ci, test, admin, build

feat(release): add grouped changelog and GitHub release notes automation
  .github/release.yml
  .goreleaser.yaml
Labels: config, ci, build

feat(release): add grouped changelog and GitHub release notes automation (#636)
  .github/release.yml
  .goreleaser.yaml
Labels: config, ci, build

feat: add pprof profiling endpoints and documentation
  alita/config/config.go
  alita/utils/httpserver/server.go
  docs/src/content/docs/self-hosting/profiling.md
  main.go
  sample.env
Labels: go, utils, config, documentation

feat(ci): add test performance tracking
  .github/workflows/ci.yml
  Makefile
Labels: ci, build

fix(ci): track test duration on failure and remove duplicate artifact
  .github/workflows/ci.yml
Labels: ci

fix: address Copilot review comments on pprof implementation
  alita/utils/httpserver/server.go
  docs/src/content/docs/self-hosting/profiling.md
Labels: go, utils, documentation

feat: add OpenTelemetry distributed tracing
  alita/db/db.go
  alita/utils/cache/cache.go
  alita/utils/httpserver/server.go
  alita/utils/tracing/tracing.go
  go.mod
  go.sum
  main.go
Labels: go, database, utils, cache, dependencies

fix: address Copilot review feedback on tracing implementation
  alita/utils/httpserver/server.go
  alita/utils/tracing/tracing.go
Labels: go, utils

feat: add OpenTelemetry distributed tracing (#639)
  alita/db/db.go
  alita/utils/cache/cache.go
  alita/utils/httpserver/server.go
  alita/utils/tracing/tracing.go
  go.mod
  go.sum
  main.go
Labels: go, database, utils, cache, dependencies

feat(ci): add test performance tracking (#638)
  .github/workflows/ci.yml
  Makefile
Labels: ci, build

feat: add pprof profiling endpoints and documentation (#637)
  alita/config/config.go
  alita/utils/httpserver/server.go
  docs/src/content/docs/self-hosting/profiling.md
  main.go
  sample.env
Labels: go, utils, config, documentation

fix(tracing): sanitize cache keys in span attributes to prevent high-cardinality telemetry
  alita/utils/cache/cache.go
  alita/utils/cache/sanitize.go
  alita/utils/cache/sanitize_test.go
Labels: go, utils, cache, test

fix(tracing): move working_mode from resource to span attribute (#641)
  alita/db/db.go
  alita/utils/cache/cache.go
  alita/utils/httpserver/server.go
  alita/utils/tracing/tracing.go
Labels: go, database, utils, cache

fix: Fix vulnerability GHSA-33hq-fvwr-56pm in packag...
  docs/package.json
Labels: documentation

fix: Fix vulnerability GHSA-8qm3-746x-r74r in packag...
  docs/package.json
Labels: documentation

feat(tracing): add context-aware DB helpers for trace propagation (#640)
  alita/db/db.go
  alita/utils/tracing/context.go
  alita/utils/tracing/context_test.go
  alita/utils/tracing/processor.go
  alita/utils/tracing/processor_test.go
  main.go
Labels: go, database, utils, test

chore: upgrade deps
  docs/bun.lock
  docs/package.json
Labels: documentation

fix(tracing): skip span creation when webhook context exists
  alita/utils/tracing/processor.go
  alita/utils/tracing/processor_test.go
Labels: go, utils, test

docs: update CLAUDE.md to match current codebase
  CLAUDE.md
Labels: documentation

fix(misc): measure actual API round-trip time in /ping command
  alita/modules/misc.go
Labels: go, modules

feat(misc): add detailed latency breakdown to /ping command
  alita/modules/misc.go
Labels: go, modules

docs: comprehensive update of documentation site to match codebase
  docs/src/content/docs/api-reference/database-schema.md
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/api-reference/permissions.md
  docs/src/content/docs/architecture/caching.md
  docs/src/content/docs/architecture/index.md
  docs/src/content/docs/architecture/project-structure.md
  docs/src/content/docs/architecture/request-flow.md
  docs/src/content/docs/commands/admin/index.md
  docs/src/content/docs/commands/antiflood/index.md
  docs/src/content/docs/commands/bans/index.md
  docs/src/content/docs/commands/blacklists/index.md
  docs/src/content/docs/commands/captcha/index.md
  docs/src/content/docs/commands/connections/index.md
  docs/src/content/docs/commands/disabling/index.md
  docs/src/content/docs/commands/filters/index.md
  docs/src/content/docs/commands/formatting/index.md
  docs/src/content/docs/commands/greetings/index.md
  docs/src/content/docs/commands/languages/index.md
  docs/src/content/docs/commands/locks/index.md
  docs/src/content/docs/commands/misc/index.md
  docs/src/content/docs/commands/mutes/index.md
  docs/src/content/docs/commands/notes/index.md
  docs/src/content/docs/commands/pins/index.md
  docs/src/content/docs/commands/purges/index.md
  docs/src/content/docs/commands/reports/index.md
  docs/src/content/docs/commands/rules/index.md
  docs/src/content/docs/commands/warns/index.md
  docs/src/content/docs/contributing/index.md
  docs/src/content/docs/getting-started/introduction.md
  docs/src/content/docs/self-hosting/database.md
  docs/src/content/docs/self-hosting/monitoring.md
  docs/src/content/docs/self-hosting/source.md
  docs/src/content/docs/self-hosting/webhooks.md
Labels: documentation

test: add comprehensive unit tests across 15 packages
  alita/config/config.go
  alita/config/config_test.go
  alita/config/types_test.go
  alita/db/antiflood_db_test.go
  alita/db/captcha_db_test.go
  alita/db/db.go
  alita/db/locks_db_test.go
  alita/db/update_record_test.go
  alita/i18n/errors_test.go
  alita/i18n/loader_test.go
  alita/i18n/translator_test.go
  alita/modules/rules_format_test.go
  alita/utils/callbackcodec/callbackcodec_test.go
  alita/utils/chat_status/chat_status_test.go
  alita/utils/constants/time_test.go
  alita/utils/decorators/misc/handler_vars.go
  alita/utils/decorators/misc/handler_vars_test.go
  alita/utils/error_handling/error_handling_test.go
  alita/utils/errors/errors_test.go
  alita/utils/helpers/channel_helpers_test.go
  alita/utils/helpers/helpers_test.go
  alita/utils/helpers/telegram_helpers_test.go
  alita/utils/keyword_matcher/cache_test.go
  alita/utils/keyword_matcher/matcher.go
  alita/utils/keyword_matcher/matcher_test.go
  alita/utils/shutdown/graceful_test.go
  alita/utils/string_handling/string_handling_test.go
  main.go
Labels: go, database, modules, utils, i18n, config, test, security, antiflood

chore(swarm): generate spec files for update-stale-comments
  specs/update-stale-comments/design.md
  specs/update-stale-comments/requirements.md
  specs/update-stale-comments/research.md
  specs/update-stale-comments/tasks.md
Labels: documentation

fix: update stale comments, remove dead code, and fix typos across codebase
  alita/db/captcha_db.go
  alita/db/db.go
  alita/db/optimized_queries.go
  alita/i18n/manager.go
  alita/modules/antiflood.go
  alita/modules/formatting.go
  alita/modules/greetings.go
  alita/modules/notes.go
  alita/modules/purges.go
  alita/utils/chat_status/chat_status.go
  alita/utils/extraction/extraction.go
  alita/utils/helpers/helpers.go
Labels: go, database, modules, utils, i18n, security, greetings, antiflood

chore(swarm): generate spec files for increase-test-coverage
  specs/increase-test-coverage/design.md
  specs/increase-test-coverage/requirements.md
  specs/increase-test-coverage/research.md
  specs/increase-test-coverage/tasks.md
Labels: documentation

feat(tests): add unit tests for 44+ pure functions across 10 packages
  alita/config/types_test.go
  alita/i18n/i18n_test.go
  alita/modules/rules_format_test.go
  alita/utils/callbackcodec/callbackcodec_test.go
  alita/utils/chat_status/chat_status_test.go
  alita/utils/errors/errors_test.go
  alita/utils/helpers/helpers_test.go
  alita/utils/keyword_matcher/matcher.go
  alita/utils/keyword_matcher/matcher_test.go
  alita/utils/string_handling/string_handling_test.go
Labels: go, modules, utils, i18n, config, test, security

fix(helpers): prevent extra newline in SplitMessage for trailing-newline inputs
  alita/utils/helpers/helpers.go
Labels: go, utils

chore(swarm): generate spec files for increase-test-coverage
  specs/increase-test-coverage/design.md
  specs/increase-test-coverage/requirements.md
  specs/increase-test-coverage/research.md
  specs/increase-test-coverage/tasks.md
Labels: documentation

feat(tests): add Batch 1 test coverage for pure functions and CI threshold
  .github/workflows/ci.yml
  alita/db/antiflood_db_test.go
  alita/db/captcha_db_test.go
  alita/db/locks_db_test.go
  alita/db/testmain_test.go
  alita/db/update_record_test.go
  alita/i18n/i18n_test.go
  alita/modules/callback_codec_test.go
  alita/utils/decorators/misc/handler_vars.go
  alita/utils/decorators/misc/handler_vars_test.go
  alita/utils/error_handling/error_handling_test.go
  alita/utils/extraction/extraction_test.go
  alita/utils/helpers/helpers_test.go
  alita/utils/keyword_matcher/cache_test.go
  alita/utils/monitoring/auto_remediation_test.go
  alita/utils/monitoring/background_stats_test.go
  alita/utils/shutdown/graceful_test.go
Labels: go, database, modules, utils, i18n, ci, test, antiflood

feat(tests): add comprehensive DB CRUD integration tests for 18 packages
  alita/db/admin_db_test.go
  alita/db/blacklists_db_test.go
  alita/db/cache_helpers_test.go
  alita/db/channels_db_test.go
  alita/db/chats_db_test.go
  alita/db/connections_db_test.go
  alita/db/devs_db_test.go
  alita/db/disable_db_test.go
  alita/db/filters_db_test.go
  alita/db/greetings_db_test.go
  alita/db/lang_db_test.go
  alita/db/migrations_test.go
  alita/db/notes_db_test.go
  alita/db/pin_db_test.go
  alita/db/reports_db_test.go
  alita/db/rules_db_test.go
  alita/db/user_db_test.go
  alita/db/warns_db_test.go
Labels: go, database, test, admin, filters, greetings, warns, migration

fix(i18n): guard Translator methods against nil manager to prevent panics
  alita/i18n/translator.go
  alita/utils/helpers/helpers_test.go
Labels: go, utils, i18n, test

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000
