Repository Divkix/Alita_Robot, changes with the labels that .github/labeler.yml gives for each.
All labels: go, docker, database, modules, utils, cache, i18n, config, ci, dependencies, documentation, test, security, admin, filters, greetings, antiflood, warns, migration, build, breaking-change

.github/labeler.yml:

# Configuration for auto-labeling PRs based on file changes

# Language and framework labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Component labels
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/db/**'
      - 'supabase/migrations/**'
      - '**/repositories/**'

modules:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/modules/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/**'

cache:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/utils/cache/**'

i18n:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/i18n/**'
      - 'locales/**'

# Configuration and setup
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'alita/config/**'
      - '*.env'
      - '*.toml'
      - '*.yaml'
      - '*.yml'

# CI/CD and automation
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.goreleaser.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - '.github/dependabot.yml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'

# Testing
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - '**/fixtures/**'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth/**'
      - '**/security/**'
      - '**/permissions/**'
      - '**/chat_status/**'

# Feature areas
admin:
  - changed-files:
    - any-glob-to-any-file:
      - '**/admin*.go'
      - '**/admin_*.go'

filters:
  - changed-files:
    - any-glob-to-any-file:
      - '**/filter*.go'
      - '**/filters*.go'

greetings:
  - changed-files:
    - any-glob-to-any-file:
      - '**/greeting*.go'
      - '**/welcome*.go'

antiflood:
  - changed-files:
    - any-glob-to-any-file:
      - '**/antiflood*.go'
      - '**/flood*.go'

warns:
  - changed-files:
    - any-glob-to-any-file:
      - '**/warn*.go'
      - '**/warns*.go'

# Migration related
migration:
  - changed-files:
    - any-glob-to-any-file:
      - 'cmd/migrate/**'
      - 'supabase/migrations/**'
      - '**/migration*.go'

# Build and release
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'Makefile'
      - '.goreleaser.yaml'
      - 'cmd/**'

# Major changes
breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interfaces/**'
      - 'alita/db/models.go'

# Size labels (mutually exclusive based on file count)
size/XS:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 10

size/S:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 100
  - size-above: 10

size/M:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 500
  - size-above: 100

size/L:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-below: 1000
  - size-above: 500

size/XL:
  - changed-files:
    - any-glob-to-any-file: '**/*'
  - base-branch: ['main']
  - size-above: 1000

perf(users): sweep throttle maps instead of per-key timers
  alita/modules/users.go
  alita/modules/users_command_test.go
  alita/modules/users_test.go
Labels: go, modules, test

perf(users): throttle no-op user upserts
  alita/db/user/repository.go
  alita/db/user/repository_test.go
Labels: go, database, test

perf(db): skip GORM default transaction for single-statement writes
  alita/db/conn.go
Labels: go, database

perf(captcha): gate per-message attempt lookup on cached pending flag
  AGENTS.md
  alita/db/captcha/repository.go
  alita/db/captcha/repository_test.go
  alita/modules/aispam.go
  alita/modules/aispam_test.go
  alita/modules/captcha.go
  alita/modules/captcha_command_test.go
Labels: go, database, modules, documentation, test

perf(cache): bound generation counters with fixed stripes
  alita/db/cache/loader.go
  alita/db/cache/loader_test.go
Labels: go, database, test

perf: memoise admin, approval and lock lookups per update
  AGENTS.md
  alita/modules/aispam.go
  alita/modules/aispam_test.go
  alita/modules/antiflood.go
  alita/modules/blacklists.go
  alita/modules/captcha.go
  alita/modules/federations.go
  alita/modules/locks.go
  alita/modules/update_memo_test.go
  alita/utils/chat_status/update_memo.go
  alita/utils/tracing/processor.go
  alita/utils/tracing/processor_test.go
  alita/utils/updatememo/updatememo.go
  alita/utils/updatememo/updatememo_test.go
Labels: go, modules, utils, documentation, test, security, antiflood

fix(#868): perf(filters): match against the cached keyword list, load full filters only on a hit
  alita/modules/filters.go
Labels: go, modules, filters

fix(#866): perf(antiflood): build the translator only once a user is actually flooding
  alita/modules/antiflood.go
Labels: go, modules, antiflood

perf(cache): add in-process read-through layer in front of Redis
  AGENTS.md
  alita/config/config.go
  alita/config/config_pure_test.go
  alita/db/cache/loader.go
  alita/db/cache/local.go
  alita/db/cache/local_test.go
  alita/db/cache/local_testtools.go
  alita/utils/metrics/metrics.go
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/architecture/caching.md
  go.mod
  go.sum
  sample.env
Labels: go, database, utils, config, dependencies, documentation, test

docs(db): design chat_users join table to replace chats.users JSONB
  docs/design/chat-users-table.md
Labels: documentation

fix(#865): perf(locks): check whether the message hits a lock before admin/approval lookups
  alita/modules/locks.go
Labels: go, modules

perf(db): skip GORM default transaction for single-statement writes
  alita/db/conn.go
Labels: go, database

perf(blacklists): match keywords before permission lookups
  alita/modules/blacklists.go
  alita/modules/blacklists_command_test.go
Labels: go, modules, test

docs(agents): condense AGENTS.md, drop unused agent/supabase files
  .dockerignore
  AGENTS.md
  CONTEXT.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
  supabase/.gitignore
  supabase/config.toml
Labels: docker, documentation

chore(cleanup): remove cursor and devcontainer
  .cursor/environment.json
  .cursor/install.sh
  .cursor/start.sh
  .devcontainer/devcontainer.json
Labels: none

perf(locks): skip permission lookups for unlocked content
  alita/modules/locks.go
  alita/modules/locks_command_test.go
Labels: go, modules, test

perf(antiflood): defer translator lookup until flood is detected
  alita/modules/antiflood.go
Labels: go, modules, antiflood

perf(metrics): count Redis commands, DB queries and updates
  alita/db/conn.go
  alita/db/metrics.go
  alita/db/metrics_test.go
  alita/utils/cache/cache.go
  alita/utils/metrics/metrics.go
  alita/utils/metrics/metrics_test.go
  alita/utils/tracing/processor.go
  alita/utils/tracing/processor_test.go
  docs/src/content/docs/self-hosting/monitoring.md
  go.mod
  go.sum
Labels: go, database, utils, cache, dependencies, documentation, test

perf(filters): match on cached keyword list before loading filter bodies
  alita/modules/filters.go
  alita/modules/filters_command_test.go
Labels: go, modules, test, filters

perf: memoise admin, approval and lock lookups per update
  AGENTS.md
  alita/modules/aispam.go
  alita/modules/aispam_test.go
  alita/modules/antiflood.go
  alita/modules/blacklists.go
  alita/modules/captcha.go
  alita/modules/federations.go
  alita/modules/locks.go
  alita/modules/update_memo_test.go
  alita/utils/chat_status/update_memo.go
  alita/utils/tracing/processor.go
  alita/utils/tracing/processor_test.go
  alita/utils/updatememo/updatememo.go
  alita/utils/updatememo/updatememo_test.go
Labels: go, modules, utils, documentation, test, security, antiflood

perf(cache): bound generation counters with fixed stripes
  alita/db/cache/loader.go
  alita/db/cache/loader_test.go
Labels: go, database, test

perf(users): throttle no-op user upserts
  alita/db/user/repository.go
  alita/db/user/repository_test.go
Labels: go, database, test

perf(users): sweep throttle maps instead of per-key timers
  alita/modules/users.go
  alita/modules/users_command_test.go
  alita/modules/users_test.go
Labels: go, modules, test

perf(cache): add in-process read-through layer in front of Redis
  AGENTS.md
  alita/config/config.go
  alita/config/config_pure_test.go
  alita/db/cache/loader.go
  alita/db/cache/local.go
  alita/db/cache/local_test.go
  alita/db/cache/local_testtools.go
  alita/utils/metrics/metrics.go
  docs/src/content/docs/api-reference/environment.md
  docs/src/content/docs/architecture/caching.md
  go.mod
  go.sum
  sample.env
Labels: go, database, utils, config, dependencies, documentation, test

docs(db): design chat_users join table to replace chats.users JSONB
  docs/design/chat-users-table.md
Labels: documentation

perf(captcha): gate per-message attempt lookup on cached pending flag
  AGENTS.md
  alita/db/captcha/repository.go
  alita/db/captcha/repository_test.go
  alita/modules/aispam.go
  alita/modules/aispam_test.go
  alita/modules/captcha.go
  alita/modules/captcha_command_test.go
Labels: go, database, modules, documentation, test

chore(release): prepare v2.23.8 patch release
  alita/config/config.go
  main.go
Labels: go, config

chore(release): prepare v2.23.8 patch release (#895)
  alita/config/config.go
  main.go
Labels: go, config

fix(dispatcher): ignore gotgbot group-control sentinels
  main.go
  main_test.go
Labels: go, test

fix(dispatcher): ignore gotgbot group-control sentinels (#896)
  main.go
  main_test.go
Labels: go, test

chore(release): prepare v2.23.9 patch release
  alita/config/config.go
  main.go
Labels: go, config

chore(release): prepare v2.23.9 patch release (#897)
  alita/config/config.go
  main.go
Labels: go, config

fix: update gotgbot for recent rich blocks
  AGENTS.md
  alita/utils/httpserver/server_test.go
  go.mod
  go.sum
Labels: go, utils, dependencies, documentation, test

test: use valid rich block payload fixtures
  alita/utils/httpserver/server_test.go
Labels: go, utils, test

test: align helpers with testtools build tags
  alita/db/captcha/repository_test.go
  alita/modules/captcha_command_test.go
  alita/modules/connections_auth_test.go
  alita/modules/filters_command_test.go
  alita/modules/module_wait_test.go
  alita/modules/update_memo_test.go
Labels: go, database, modules, test, filters

fix: update gotgbot for recent rich blocks (#898)
  AGENTS.md
  alita/db/captcha/repository_test.go
  alita/modules/captcha_command_test.go
  alita/modules/connections_auth_test.go
  alita/modules/filters_command_test.go
  alita/modules/module_wait_test.go
  alita/modules/update_memo_test.go
  alita/utils/httpserver/server_test.go
  go.mod
  go.sum
Labels: go, database, modules, utils, dependencies, documentation, test, filters

chore: prepare v2.23.10 release
  alita/config/config.go
  main.go
Labels: go, config

chore: prepare v2.23.10 release (#899)
  alita/config/config.go
  main.go
Labels: go, config

fix(greetings): log expected Telegram conditions from join pipeline as warnings
  alita/modules/error_logging.go
  alita/modules/error_logging_test.go
  alita/modules/greetings.go
  alita/modules/membership.go
Labels: go, modules, test, greetings

refactor(jev): move TypeSafe Jev API behind abstraction in alita/utils/jev
  alita/modules/nsfw.go
  alita/modules/nsfw_command_test.go
  alita/utils/jev/jev.go
  alita/utils/jev/jev_test.go
Labels: go, modules, utils, test
